<ion-content>
  <div class="content-size dark-background status-bar-overlap">

    <ng-container *ngIf="!confirmTransfer">

      <div class="padding-wrapper">
        <div class="header-content mb-8">
          <div class="montserrat level-back color-light cursor-pointer" (click)="goTo('course-detail',bookingId,dateBooking)">
            {{ 'cancel' | translate }}
          </div>
          <div class="header-top-title">
            {{ 'transfer_students' | translate }}
          </div>
        </div>

      </div>

      <div class="padding-wrapper">

        <div class="menu-section-content mb-24">
          <div class="menu-section-title">{{ 'select_students' | translate }}</div>
        </div>
        
        
        <div *ngIf="monitorSubgroup" class="member-list">

          <div *ngFor="let booking of monitorSubgroup.bookings_number" class="pb-8 mb-8 member-list-item">
            <div class="custom-radio">
              <label class="simple-check-option">
                <input type="checkbox" [checked]="isBookingChecked(booking)" (change)="handleCheckboxChange(booking, $event)" />
                <div class="custom-check"></div>
              </label>
            </div>
            <app-level-user *ngIf="sportDegrees && sportDegrees.length" [allLevels]="sportDegrees" [selectLevel]="getClientLevel(booking.client.sports,courseBookings.sport_id)" [size]="60" [userImage]="booking.client.image ? booking.client.image : 'assets/icon/icons-outline-default-avatar.svg'"></app-level-user>
            <div class="member-item-flex">
              <div class="member-item-content">
                <div class="member-item-title">
                  <div class="montserrat">{{booking.client.first_name}} {{booking.client.last_name}}</div>
                </div>
                <div class="member-item-subtitle">
                  <span class="montserrat">
                    <ng-container *ngIf="booking.client.language1_id">
                      {{getLanguageById(booking.client.language1_id)}} ·
                    </ng-container>
                    {{getCountryById(booking.client.country)}} · {{getBirthYears(booking.client.birth_date)}} {{ 'years' | translate }}
                  </span>
                  <!--<div class="montserrat">
                    <div class="member-item-bullet"></div>NON PAYÉ
                  </div>-->
                </div>
              </div>
            </div>
          </div>
          
        </div>

        <button (click)="continueTransfer()" [disabled]="isDisabledContinue()" class="content-button btn-back-primary montserrat mb-32 mt-32">
          {{ 'continue' | translate }}
        </button>

      </div>

    </ng-container>

    <ng-container *ngIf="confirmTransfer">

      <div class="padding-wrapper">
        <div class="header-content mb-8">
          <div class="montserrat level-back color-light cursor-pointer" (click)="goTo('course-detail',bookingId,dateBooking)">
            {{ 'cancel' | translate }}
          </div>
          <div class="header-top-title">
            {{ 'transfer_students' | translate }}
          </div>
        </div>

      </div>

      <div class="padding-wrapper">

        <div class="menu-section-content mb-24">
          <div class="menu-section-title">{{ 'students' | translate }}</div>
          <div class="menu-section-text">
            <img src="assets/icon/icons-outline-edit-white.svg" class="cursor-pointer" (click)="confirmTransfer=false;" />
          </div>
        </div>
        
        <div class="user-list-flex">

          <div *ngFor="let booking of checkedBookings" class="user-list-flex-item">
            <div class="user-list-flex-item-img">
              <img [src]="booking.client.image ? booking.client.image : 'assets/icon/icons-outline-default-avatar.svg'" />
            </div>
            <div class="montserrat">{{booking.client.first_name}} {{booking.client.last_name}}</div>
          </div>

        </div>

        <div class="border-separator mt-24 mb-24"></div>

        <div class="menu-section-content mt-24 mb-24">
          <div class="menu-section-title">{{ 'choose_group' | translate }}</div>
        </div>

        <div *ngIf="restSubgroups && restSubgroups.length" class="member-list">

          <div *ngFor="let subgroup of restSubgroups" class="pb-8 mb-8 member-list-item-b">
            <img *ngIf="subgroup.bookings_number && (subgroup.bookings_number.length + checkedBookings.length) >= subgroup.max_participants" class="no-radio pt-12" src="assets/icon/icon-close-box.png" />
            <div *ngIf="!subgroup.bookings_number || (subgroup.bookings_number && (subgroup.bookings_number.length + checkedBookings.length) < subgroup.max_participants)" class="custom-radio pt-12">
              <label class="simple-check-option">
                  <input type="radio" name="groupSelection" [(ngModel)]="selectedSubgroup" [value]="subgroup" />
                  <div class="custom-check"></div>
              </label>
            </div>
            <div class="member-list-item-img">
              <img *ngIf="!subgroup.monitor" src='assets/icon/icons-outline-default-avatar.svg' />
              <img *ngIf="subgroup.monitor" 
                [src]="subgroup.monitor.image ? subgroup.monitor.image : 'assets/icon/icons-outline-default-avatar.svg'" />
            </div>
            <div class="member-item-flex">
              <div class="member-item-content">
                <div class="member-item-title">
                  <div *ngIf="subgroup.monitor" class="montserrat">{{subgroup.monitor.first_name}} {{subgroup.monitor.last_name}}</div>
                  <div *ngIf="!subgroup.monitor" class="montserrat">{{ 'no_monitor' | translate }}</div>
                  <div class="box-selector-level color-light" [ngStyle]="{'background': subgroup.degree_data.color}" *ngIf="subgroup.degree_data && degrees.length">
                    {{subgroup.degree_data.annotation}}
                  </div>
                </div>
                <div class="member-item-subtitle">
                  <span class="montserrat color-light">{{ subgroup.monitor_id == monitorData.id ? ('you' | translate) : ('teacher' | translate) }}</span>
                  <div *ngIf="subgroup.degree_data && degrees.length" class="box-selector-subgroup">
                    {{subgroup.degree_data.annotation}}-{{subgroup.subgroup_order}}
                  </div>
                </div>
                <div class="member-item-data">
                    <div class="task-content-icon">
                      <img src="assets/icon/icon-user-tick.png" />
                      <span *ngIf="subgroup.bookings_number && subgroup.bookings_number.length" class="montserrat color-light">{{subgroup.bookings_number.length}}/{{subgroup.max_participants}}</span>
                      <span *ngIf="!subgroup.bookings_number || !subgroup.bookings_number.length" class="montserrat color-light">0/{{subgroup.max_participants}}</span>
                    </div>
                    <div class="task-content-icon">
                      <img src="assets/icon/icon-calendar-tick.png" />
                      <span class="montserrat color-light">{{courseDateIndex+1}}/{{courseBookings.course_dates.length}}</span>
                    </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <button (click)="saveTransfer()" [disabled]="isDisabledSave()" class="content-button btn-back-primary montserrat mb-32 mt-32">
          {{ 'confirm' | translate }}
        </button>

      </div>

    </ng-container>

  </div>

</ion-content>