<ion-content>
  <div class="content-size content-background-image">
    
    <div class="background-color-dark padding-wrapper status-bar-overlap-wrapper">

      <div class="header-top">
        <img src="assets/icon/arrow-left.svg" class="header-top-side-img cursor-pointer" (click)="goTo('home')" />
        <div class="header-section-title">
          <img src="assets/icon/statistiques.png" />
          <div>Statistiques</div>
        </div>
      </div>
      <!--
      <div class="input-form-icon-b margin-auto remove-bottom cursor-pointer">
        <select [(ngModel)]="selectedYear" class="montserrat" (change)="updateChartData()">
          <option value="year">Cette année</option>
          <option value="all">Toutes données</option>
        </select>
      </div>
      -->

    </div>

    <div class="background-color-dark padding-wrapper mt-24 mb-24">
      <div class="stats-titles mb-24">
        <div class="input-form-icon-b background-grey-translucent">
          <div class="montserrat">
            Heures totales
          </div>
        </div>
        <div class="stats-icons">
          <img src="assets/icon/icons-outline-arrow-left-2.svg" class="cursor-pointer" (click)="changeMonths(3)" />
          <img src="assets/icon/icons-outline-arrow-right-3-white.svg" class="cursor-pointer" (click)="changeMonths(-3)" />
        </div>
      </div>
      
      <div class="chart-scroll-wrapper">
        <canvas
          baseChart
          class="chart-container"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="lineChartType"
        ></canvas>
      </div>
    </div>

    <div class="padding-wrapper">

      <div class="cursor-pointer menu-section-content mb-12">
        <div class="menu-section-title">Rapport d'activité</div>
      </div>


      <div class="table-line no-border padding-wrapper pb-8">
        <div class="width-big">
          Mois
        </div>
        <div class="width-small">
          Collectif
        </div>
        <div class="width-small">
          Privé
        </div>
        <div class="width-small">
          B. Payé
        </div>
      </div>

      <div class="background-color-dark padding-wrapper table-wrapper">
        <div class="table-line table-line-total pb-8 mb-8">
          <div class="width-big">
            TOTAL
          </div>
          <div class="montserrat width-small">
            {{totalCollectiveDurationFormatted}}
          </div>
          <div class="montserrat width-small">
            {{totalPrivateDurationFormatted}}
          </div>
          <div class="montserrat width-small">
            {{totalPayedDurationFormatted}}
          </div>
        </div>

        <div *ngFor="let month of reversedMonthsData;let i = index" class="table-line pb-8 mb-8">
          <div class="montserrat width-big table-line-text">
            <div [ngClass]="{'color-selected': i>=currentEndIndex && i<currentStartIndex}">{{month.name}}</div>
            <span [ngClass]="{'color-selected': i>=currentEndIndex && i<currentStartIndex}">{{month.year}}</span>
          </div>
          <div class="montserrat width-small">
            {{month.collectiveCourses}}
          </div>
          <div class="montserrat width-small">
            {{month.privateCourses}}
          </div>
          <div class="montserrat width-small">
            {{month.blockPayed}}
          </div>
        </div>

        <div class="table-line table-line-total pb-8 no-border">
          <div class="width-big">
            TOTAL
          </div>
          <div class="montserrat width-small">
            {{totalCollectiveDurationFormatted}}
          </div>
          <div class="montserrat width-small">
            {{totalPrivateDurationFormatted}}
          </div>
          <div class="montserrat width-small">
            {{totalPayedDurationFormatted}}
          </div>
        </div>
        
      </div>

    </div>

  </div>
</ion-content>