<ion-content>
<div class="content-wrapper dark-background status-bar-overlap">
  <div>
    <div class="header-content no-margin">
      <div class="montserrat level-back color-light cursor-pointer" (click)="goTo('station')">
        Cancel
      </div>
      <div class="level-title">
        Choisir le niveau
      </div>
      <!--<img src="assets/icon/icon-gift.png" class="header-content-icon" />-->
    </div>
  </div>

  <img src="assets/images/test-station.jpg" class="mt-32 mb-12 content-image" />

    <div class="mt-8 mb-12" class="content-introduction">
        <img src="assets/images/test-course.jpg" class="content-introduction-image" />
        <div class="content-introduction-text">
          <div class="content-introduction-subtitle">
            <div class="color-light">LES PACCOTS</div>
            <img src="assets/icon/icons-outline-edit-white.svg" class="cursor-pointer" (click)="goTo('station')" />
          </div>
          <div class="content-introduction-title">ESS Les Paccots</div>
        </div>
    </div>

    <!--
    <div class="montserrat mt-24 mb-12 content-title-a">
      Seleccionar participante
    </div>

    <div class="mb-24 box-background box-fit-content cursor-pointer">
      <img src="assets/icon/icon-add-member.png" />
      <div class="montserrat">Ajouter Membre</div>
    </div>
    -->

    <div class="background-color-dark montserrat mt-24 mb-24 user-booking">
      <app-level-user [allLevels]="dataLevels" [selectLevel]="5" [size]="60" [userImage]="'assets/icon/icons-outline-default-avatar.svg'"></app-level-user>
      <div class="user-booking-content">
        <div class="user-booking-header">
          <div class="user-booking-title">Nom</div>
          <div class="user-booking-icons">
            <img src="assets/icon/icons-outline-edit-white.svg" class="cursor-pointer" (click)="toggleMember()" />
            <img src="assets/icon/icons-outline-trash-white.svg" class="cursor-pointer" />
          </div>
        </div>
        <div class="color-light user-booking-subheader">
          <img src="assets/icon/main_ski_on.png" />
          <div>Sport</div>
          <div class="cursor-pointer user-booking-level">NIVEAU</div>
        </div>
      </div>
    </div>

    <div class="montserrat mb-24 content-title-a">
      Deportes disponibles
    </div>

    <div class="montserrat mb-12 content-title-b">
      Hivern
    </div>
    <div class="mb-24 content-list-boxes">
      <div class="box-background cursor-pointer">
        <img src="assets/icon/main_ski_on_blue.png" />
        <div class="montserrat">Sport 1</div>
      </div>
      <div class="box-background box-opacity cursor-pointer">
        <img src="assets/icon/main_snowboard_off.png" />
        <div class="montserrat">Sport 2</div>
      </div>
      <div class="box-background box-opacity cursor-pointer">
        <img src="assets/icon/main_srando_off.png" />
        <div class="montserrat">Sport 3</div>
      </div>
    </div>

    <div class="montserrat mb-12 content-title-a">
      Tipe
    </div>
    <div class="mb-32 content-buttons">
      <div [ngClass]="{'light-opacity': isPrivate}" 
        (click)="isCollective=true;isPrivate=false;"
        class="montserrat button-collective cursor-pointer">Cours Collectifs</div>
      <div [ngClass]="{'light-opacity': isCollective}" 
        (click)="isCollective=false;isPrivate=true;"
        class="montserrat button-private cursor-pointer">Cours Prives</div>
    </div>

    <div class="montserrat mb-24 content-title-a content-title-flex">
      <div>Fechas</div>
      <img src="assets/icon/icons-outline-calendar-1-white.svg" />
    </div>

    <div class="calendar mb-24">
      <div class="header-calendar">
          <div class="header-calendar-arrows">
            <img src="assets/icon/arrow-left.svg" (click)="prevMonth()" />
            <img src="assets/icon/icons-outline-arrow-right-3-white.svg" (click)="nextMonth()" />
          </div>
          <div class="montserrat">{{ monthNames[currentMonth] }}</div>
          <div class="montserrat">{{ currentYear }}</div>
      </div>
      <div class="weekdays">
          <span *ngFor="let day of weekdays" class="montserrat">{{ day }}</span>
      </div>
      <div class="days">
          <ng-container *ngFor="let day of days">
              <span [ngClass]="{'very-light-opacity': day.past}" 
                    class="montserrat day-span-a"
                    (click)="selectDay(day)">
                    <span [ngClass]="{
                      'active-collective': day.active && isCollective,
                      'active-collective-selected': day.selected && isCollective,
                      'active-private': day.active && isPrivate,
                      'active-private-selected': day.selected && isPrivate
                      }"  class="day-span-b">
                      {{ day.number }}
                    </span>
                </span>
          </ng-container>
      </div>
    </div>  


    <div class="montserrat mb-24 content-title-a">
      Cursos disponibles
    </div>

    <div class="background-color-dark course-wrapper mb-12 border-collective">
      <div class="course-wrapper-left">
        <div class="course-wrapper-header">
          <img src="assets/icon/collectif_ski2x.png" />
          <div class="course-wrapper-header-text">
            <div class="course-wrapper-header-title">Flexidates Adultes</div>
            <div class="montserrat color-light course-wrapper-header-subtitle">Collectif Ski - Les Paccots</div>
          </div>
        </div>
        <div class="course-wrapper-content">
          <div class="pb-8 course-wrapper-content-title">
            <img src="assets/icon/icons-outline-calendar-1-white.svg" />
            <div>Dates disponibles séparément:</div>
            <!--<div>Dates fixes du cours:</div>-->
          </div>
          <div>24/10/2023 08:00 - 09:00</div>
          <div>25/10/2023 08:00 - 09:00</div>
          <div>26/10/2023 08:00 - 09:00</div>
        </div>
      </div>
      <div class="course-wrapper-right">
        <div class="course-wrapper-price">
          200 CHF/DATE
        </div>
        <div class="course-wrapper-image">
          <img src="assets/images/test-photo.jpg" />
        </div>
        <div class="course-wrapper-buttons">
          <div class="btn-back-grey">
            Dates du cours
          </div>
          <div class="btn-back-primary" (click)="goTo('cart')">
            Sélectionner
          </div>
        </div>
      </div>
    </div>



    <div class="background-color-dark course-wrapper mb-12 border-private">
      <div class="course-wrapper-left">
        <div class="course-wrapper-header">
          <img src="assets/icon/prive_ski2x.png" />
          <div class="course-wrapper-header-text">
            <div class="course-wrapper-header-title">Cours privés</div>
            <div class="montserrat color-light course-wrapper-header-subtitle">Privé Ski - Les Paccots</div>
          </div>
        </div>
        <div class="course-wrapper-content">
          <div class="course-wrapper-content-title">
            <img src="assets/icon/icons-outline-calendar-1-white.svg" />
            <div>Quand peut-on suivre le cours?</div>
          </div>
          <div>23/12/2023 - 24/03/2024</div>
          <div>Lundi - Dimanche</div>

          <div class="pt-8 course-wrapper-content-title">
            <img src="assets/icon/icons-outline-clock.svg" />
            <div>Durée du cours:</div>
          </div>
          <div>À partir de 1h</div>
          <div>10h - 16h</div>
        </div>
      </div>
      <div class="course-wrapper-right">
        <div class="course-wrapper-price">
          160 CHF
        </div>
        <div class="course-wrapper-image">
          <img src="assets/images/test-photo.jpg" />
        </div>
        <div class="course-wrapper-buttons">
          <div class="btn-back-grey">
            Dates du cours
          </div>
          <div class="btn-back-primary" (click)="goTo('cart')">
            Sélectionner
          </div>
        </div>
      </div>
    </div>
    
</div>
</ion-content>


<div [@slideInOut]="memberState" class="member-modal-wrapper">
  <div class="padding-wrapper dark-background member-modal">

    <div class="header-member mt-12">
      <img src="assets/icon/icon-close-box.png" class="cursor-pointer" (click)="toggleMember()" />
    </div>

    <div class="member-section-text mt-32 mb-24">
      Sélectionner membre
    </div>

    <div class="background-color-dark padding-wrapper member-list">

      <div class="pb-8 mb-8 member-list-item cursor-pointer" (click)="toggleMember()">
        <app-level-user [allLevels]="dataLevels" [selectLevel]="5" [size]="60" [userImage]="'assets/icon/icons-outline-default-avatar.svg'"></app-level-user>
        <div class="member-item-flex">
          <div class="member-item-content">
            <div class="member-item-title">
              <div class="montserrat">Marco Raymond</div>
              <img src="assets/icon/icon-crown.png" />
            </div>
            <div class="montserrat member-item-subtitle">Sport</div>
          </div>
          <img src="assets/icon/icon-check-circle.png" class="member-item-icon" />
        </div>
      </div>

      <div class="pb-8 mb-8 member-list-item cursor-pointer" (click)="toggleMember()">
        <app-level-user [allLevels]="dataLevels" [selectLevel]="5" [size]="60" [userImage]="'assets/icon/icons-outline-default-avatar.svg'"></app-level-user>
        <div class="member-item-flex">
          <div class="member-item-content">
            <div class="member-item-title">
              <div class="montserrat">Marco Raymond</div>
              <!--<img src="assets/icon/icon-crown.png" />-->
            </div>
            <div class="montserrat member-item-subtitle">Sport</div>
          </div>
          <!--<img src="assets/icon/icon-check-circle.png" class="member-item-icon" />-->
        </div>
      </div>

      <div class="pb-8 mb-8 member-list-item cursor-pointer" (click)="toggleMember()">
        <app-level-user [allLevels]="dataLevels" [selectLevel]="5" [size]="60" [userImage]="'assets/icon/icons-outline-default-avatar.svg'"></app-level-user>
        <div class="member-item-flex">
          <div class="member-item-content">
            <div class="member-item-title">
              <div class="montserrat">Marco Raymond</div>
              <!--<img src="assets/icon/icon-crown.png" />-->
            </div>
            <div class="montserrat member-item-subtitle">Sport</div>
          </div>
          <!--<img src="assets/icon/icon-check-circle.png" class="member-item-icon" />-->
        </div>
      </div>

      <div class="pb-8 mb-8 member-list-item no-border cursor-pointer" (click)="toggleMember()">
        <app-level-user [allLevels]="dataLevels" [selectLevel]="5" [size]="60" [userImage]="'assets/icon/icons-outline-default-avatar.svg'"></app-level-user>
        <div class="member-item-flex">
          <div class="member-item-content">
            <div class="member-item-title">
              <div class="montserrat">Marco Raymond</div>
              <!--<img src="assets/icon/icon-crown.png" />-->
            </div>
            <div class="montserrat member-item-subtitle">Sport</div>
          </div>
          <!--<img src="assets/icon/icon-check-circle.png" class="member-item-icon" />-->
        </div>
      </div>
      

    </div>

  </div>
</div>