<ion-content>
  <div class="content-size content-background-image">
    
    <div class="background-color-dark padding-wrapper status-bar-overlap-wrapper">

      <div class="header-top">
        <img src="assets/icon/arrow-left.svg" class="header-top-side-img cursor-pointer" (click)="goTo('home')" />
        <div class="header-top-title">
          <img src="assets/icon/icon-group.png" />
          <div>Groupe</div>
        </div>
      </div>

    </div>

    <div class="padding-wrapper">
      <div class="list-group">

        <div class="background-color-dark group-item cursor-pointer" (click)="goTo('home')">
          <app-level-user [allLevels]="dataLevels" [selectLevel]="5" [size]="80" [userImage]="'assets/icon/icons-outline-default-avatar.svg'"></app-level-user>
          <div class="group-item-title">
            <div class="montserrat">Nom</div>
            <img src="assets/icon/icon-crown.png" />
          </div>
        </div>

        <div class="background-color-dark group-item cursor-pointer" (click)="goTo('home')">
          <app-level-user [allLevels]="dataLevels" [selectLevel]="3" [size]="80" [userImage]="'assets/icon/icons-outline-default-avatar.svg'"></app-level-user>
          <div class="group-item-title">
            <div class="montserrat">Nom</div>
            <!--<img src="assets/icon/icon-crown.png" />-->
          </div>
        </div>

        <div class="background-color-dark group-item cursor-pointer" (click)="goTo('home')">
          <app-level-user [allLevels]="dataLevels" [selectLevel]="1" [size]="80" [userImage]="'assets/icon/icons-outline-default-avatar.svg'"></app-level-user>
          <div class="group-item-title">
            <div class="montserrat">Nom</div>
            <!--<img src="assets/icon/icon-crown.png" />-->
          </div>
        </div>

        <div class="background-color-dark group-item cursor-pointer" (click)="goTo('home')">
          <app-level-user [allLevels]="dataLevels" [selectLevel]="6" [size]="80" [userImage]="'assets/icon/icons-outline-default-avatar.svg'"></app-level-user>
          <div class="group-item-title">
            <div class="montserrat">Nom</div>
            <!--<img src="assets/icon/icon-crown.png" />-->
          </div>
        </div>

        <div class="background-color-dark group-item cursor-pointer">
          <img src="assets/icon/icon-add-member.png" class="group-item-add-img" />
          <div class="group-item-title">
            <div class="montserrat">Ajouter Membre</div>
          </div>
        </div>

      </div>
    </div>

  </div>
  
</ion-content>