.content-size {
    width:100%;min-height:100%;
}
.padding-wrapper {
    padding:20px 16px;
}
.header-top {
    position:relative;top:0;left:0;width:100%;display:flex;align-items:center;justify-content:center;
}
.header-top-side-img {
    position:absolute;left:0;top: 50%;transform: translateY(-50%);width:28px;
}
.header-top-title {
    display:flex;gap:10px;align-items:center;justify-content:center;
}
.header-top-title img {
    width:24px;
}
.header-top-title div {
    font-size:15px;color:#fff;font-weight:600;
}
.header-input-search {
    width:100%;text-align:center;padding:10px;background:#2b303b;color:#fff;border:none;outline:0;border-radius:40px;
}

.list-group {
    display:flex;flex-wrap:wrap;width:100%;gap:16px;
}
.group-item {
    width:calc(50% - 8px);padding:16px;border-radius:8px;display:flex;flex-direction:column;gap:8px;align-items:center;
}
.group-item-title {
    display:flex;gap:6px;align-items:center;text-align:center;
}
.group-item-title img {
    width:26px;
}
.group-item-title div {
    font-size:15px;font-weight:500;
}
.group-item-add-img {
    width:70px;
}
