<ion-content>
  <div class="content-size content-background-image">
    
    <div class="background-color-dark padding-wrapper status-bar-overlap-wrapper">

      <div class="header-section-content mb-24">
        <div class="header-section-title">
          <img src="assets/icon/icon-scan-blue.png" />
          <div>{{ 'scan' | translate }}</div>
        </div>
        <img src="assets/icon/icon-menu.png" class="header-section-menu cursor-pointer" (click)="toggleMenu()" />
      </div>

      <!--Only if group-->
      <div *ngIf="clientMonitor && clientMonitor.main" class="header-user-data-b mt-24">
        <div class="header-user-data-img">
          <img [src]="clientMonitor.main.image ? clientMonitor.main.image : 'assets/icon/icons-outline-default-avatar.svg'" />
        </div>
        <div class="header-user-data-text">
          <div class="header-user-data-text-top">
            <div class="color-light">
              <ng-container *ngIf="clientMonitor.main.language1_id">
                {{getLanguageById(clientMonitor.main.language1_id)}} ·
              </ng-container>
              {{getCountryById(clientMonitor.main.country)}} · {{getBirthYears(clientMonitor.main.birth_date)}} {{ 'years' | translate }}
            </div>
          </div>
          <div class="header-user-data-text-title">
            <div>{{clientMonitor.main.first_name}} {{clientMonitor.main.last_name}}</div>
            <img src="assets/icon/icon-crown.png" />
          </div>
        </div>
      </div>
      <!--/Only if group-->

      <!--Only if admin-->
      <div *ngIf="clientMonitor && !clientMonitor.main" class="header-user-data-b mt-24">
        <div class="header-user-data-img">
          <img [src]="clientMonitor.image ? clientMonitor.image : 'assets/icon/icons-outline-default-avatar.svg'" />
        </div>
        <div class="header-user-data-text">
          <div class="header-user-data-text-top">
            <div class="color-light">
              <ng-container *ngIf="clientMonitor.language1_id">
                {{getLanguageById(clientMonitor.language1_id)}} ·
              </ng-container>
              {{getCountryById(clientMonitor.country)}} · {{clientMonitor.birth_years}} {{ 'years' | translate }}
            </div>
          </div>
          <div class="header-user-data-text-title">
            <div>{{clientMonitor.first_name}} {{clientMonitor.last_name}}</div>
          </div>
        </div>
      </div>
      <!--/Only if admin-->

    </div>

    <div class="padding-wrapper">

      <div class="background-color-dark box-radius padding-wrapper">

        <!--Only if group-->
        <div *ngIf="clientMonitor && clientMonitor.main" class="header-user-data-b mb-32">
          <div class="header-user-data-img">
            <img [src]="clientMonitor.image ? clientMonitor.image : 'assets/icon/icons-outline-default-avatar.svg'" />
          </div>
          <div class="header-user-data-text">
            <div class="header-user-data-text-top">
              <div class="color-light">
                <ng-container *ngIf="clientMonitor.language1_id">
                  {{getLanguageById(clientMonitor.language1_id)}} ·
                </ng-container>
                {{getCountryById(clientMonitor.country)}} · {{clientMonitor.birth_years}} {{ 'years' | translate }}
              </div>
            </div>
            <div class="header-user-data-text-title">
              <div>{{clientMonitor.first_name}} {{clientMonitor.last_name}}</div>
            </div>
          </div>
        </div>
        <!--/Only if group-->


        <!--TODAY-->
        <div *ngIf="bookingsToday" class="mb-24 content-title-separator">
          {{todayDateFull}}
        </div>

        <div *ngIf="bookingsToday && !bookingsToday.length" class="content-title-c">
          {{ 'no_reservations_today' | translate }}
        </div>

        <ng-container *ngFor="let booking of bookingsToday;let i = index">

          <div *ngIf="i!==0" class="border-separator mt-24 mb-24"></div>

          <div class="box-selector-full">
            <div class="box-selector-top">
              <div class="box-selector-date">
                {{formatTimeRange(booking.hour_start,booking.hour_end)}}
              </div>
            </div>

            <div class="box-selector-middle">
              <div class="box-selector-middle-interior">
                <div class="box-selector-image-wrapper">
                  <img *ngIf="booking.course.course_type == 1" src="assets/icon/course-collective-box.png" class="box-selector-image" />
                  <img *ngIf="booking.course.course_type == 2" src="assets/icon/course-private-box.png" class="box-selector-image" />
                </div>
                <div class="box-selector-text">
                  <div class="montserrat box-selector-title">
                    {{booking.course.name}}
                  </div>
                  <div class="montserrat color-light box-selector-subtitle">
                    <span>
                      <ng-container *ngIf="booking.course.course_type == 1">
                        {{ 'collective' | translate }}
                      </ng-container>
                      <ng-container *ngIf="booking.course.course_type == 2">
                        {{ 'private' | translate }}
                      </ng-container>
                      <ng-container *ngIf="booking.sport_data && sports.length">
                        {{booking.sport_data.name}}
                      </ng-container>
                    </span>
                  </div>
                </div>
              </div>
              <div class="box-selector-level color-light" *ngIf="booking.course.course_type == 1 && booking.degree_data && degrees.length"
                  [ngStyle]="{'background': booking.degree_data.color}">
                {{booking.degree_data.annotation}}
              </div>
            </div>

            <div class="montserrat color-light box-selector-bottom" *ngIf="booking.station_data">
              <img src="assets/icon/icon-location-grey.png" class="box-selector-location" />
              <span>{{booking.station_data.name}}</span>
              <span *ngIf="booking.station_data"> - {{booking.school_data.name}}</span>
            </div>
          </div>

          <ng-container *ngIf="booking.monitor_data">
            <div class="mt-24 mb-12 content-title-c uppercase">
              {{ 'teacher' | translate }}
            </div>

            <div class="montserrat mt-12 mb-24 pt-8 pb-8 user-booking">
              <div class="user-booking-img">
                <img [src]="booking.monitor_data.image ? booking.monitor_data.image : 'assets/icon/icons-outline-default-avatar.svg'" />
              </div>
              <div class="user-booking-content">
                <div class="user-booking-header">
                  <div class="user-booking-title">{{booking.monitor_data.first_name}} {{booking.monitor_data.last_name}}</div>
                </div>
                <div class="color-light user-booking-subheader">
                  <ng-container *ngIf="booking.monitor_data.language1_id">
                    {{getLanguageById(booking.monitor_data.language1_id)}}
                  </ng-container>
                  <ng-container *ngIf="booking.monitor_data.language2_id">
                    · {{getLanguageById(booking.monitor_data.language2_id)}}
                  </ng-container>
                  <ng-container *ngIf="booking.monitor_data.language3_id">
                    · {{getLanguageById(booking.monitor_data.language3_id)}}
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>

        </ng-container>


        <!--TOMORROW-->
        <div *ngIf="bookingsTomorrow" class="pt-12 mt-32 mb-24 content-title-separator">
          {{tomorrowDateFull}}
        </div>

        <div *ngIf="bookingsTomorrow && !bookingsTomorrow.length" class="content-title-c">
          {{ 'no_reservations_tomorrow' | translate }}
        </div>

        <ng-container *ngFor="let booking of bookingsTomorrow;let i = index">

          <div *ngIf="i!==0" class="border-separator mt-24 mb-24"></div>

          <div class="box-selector-full">
            <div class="box-selector-top">
              <div class="box-selector-date">
                {{formatTimeRange(booking.hour_start,booking.hour_end)}}
              </div>
            </div>

            <div class="box-selector-middle">
              <div class="box-selector-middle-interior">
                <div class="box-selector-image-wrapper">
                  <img *ngIf="booking.course.course_type == 1" src="assets/icon/course-collective-box.png" class="box-selector-image" />
                  <img *ngIf="booking.course.course_type == 2" src="assets/icon/course-private-box.png" class="box-selector-image" />
                </div>
                <div class="box-selector-text">
                  <div class="montserrat box-selector-title">
                    {{booking.course.name}}
                  </div>
                  <div class="montserrat color-light box-selector-subtitle">
                    <span>
                      <ng-container *ngIf="booking.course.course_type == 1">
                        {{ 'collective' | translate }}
                      </ng-container>
                      <ng-container *ngIf="booking.course.course_type == 2">
                        {{ 'private' | translate }}
                      </ng-container>
                      <ng-container *ngIf="booking.sport_data && sports.length">
                        {{booking.sport_data.name}}
                      </ng-container>
                    </span>
                  </div>
                </div>
              </div>
              <div class="box-selector-level color-light" *ngIf="booking.course.course_type == 1 && booking.degree_data && degrees.length"
                  [ngStyle]="{'background': booking.degree_data.color}">
                {{booking.degree_data.annotation}}
              </div>
            </div>

            <div class="montserrat color-light box-selector-bottom" *ngIf="booking.station_data">
              <img src="assets/icon/icon-location-grey.png" class="box-selector-location" />
              <span>{{booking.station_data.name}}</span>
              <span *ngIf="booking.station_data"> - {{booking.school_data.name}}</span>
            </div>
          </div>

          <ng-container *ngIf="booking.monitor_data">
            <div class="mt-24 mb-12 content-title-c uppercase">
              {{ 'teacher' | translate }}
            </div>

            <div class="montserrat mt-12 mb-24 pt-8 pb-8 user-booking">
              <div class="user-booking-img">
                <img [src]="booking.monitor_data.image ? booking.monitor_data.image : 'assets/icon/icons-outline-default-avatar.svg'" />
              </div>
              <div class="user-booking-content">
                <div class="user-booking-header">
                  <div class="user-booking-title">{{booking.monitor_data.first_name}} {{booking.monitor_data.last_name}}</div>
                </div>
                <div class="color-light user-booking-subheader">
                  <ng-container *ngIf="booking.monitor_data.language1_id">
                    {{getLanguageById(booking.monitor_data.language1_id)}}
                  </ng-container>
                  <ng-container *ngIf="booking.monitor_data.language2_id">
                    · {{getLanguageById(booking.monitor_data.language2_id)}}
                  </ng-container>
                  <ng-container *ngIf="booking.monitor_data.language3_id">
                    · {{getLanguageById(booking.monitor_data.language3_id)}}
                  </ng-container>
                </div>
              </div>
            </div>
          </ng-container>

        </ng-container>
        
      </div>
      
    </div>

  </div>
</ion-content>

<app-footer section="scan"></app-footer>