<ion-content>
  <div class="content-size content-background-image status-bar-overlap">

    <div class="background-color-dark padding-wrapper">
      <div class="header-content mb-12">
        <img src="assets/icon/arrow-left.svg" class="cursor-pointer header-content-icon" (click)="goTo('calendar')" />
        <div class="header-top-title">
          {{ 'today' | translate }}
        </div>
      </div>
      <div class="montserrat color-light header-top-subtitle capitalize">
        {{currentDateFull}}
      </div>

    </div>

    <div class="padding-wrapper">
      
      <div class="flex-sections mb-24">
        <div *ngFor="let booking of bookingsCurrent" 
             [ngClass]="selectedBooking === booking ? 'section-selected' : 'section-title'" 
             (click)="selectedBooking = booking;bookingId = booking.id">
          {{formatTimeStart(booking.hour_start)}}
          <br>
          {{formatTimeEnd(booking.hour_end)}}
          <div *ngIf="selectedBooking === booking" class="section-bullet"></div>
        </div>
      </div>
      
      <div *ngIf="selectedBooking" class="background-color-dark padding-wrapper box-radius">

        <div class="mb-24 content-flex-top">
          <img *ngIf="selectedBooking.course.course_type == 1" src="assets/icon/course-collective-box.png" class="content-flex-top-img" />
          <img *ngIf="selectedBooking.course.course_type == 2" src="assets/icon/course-private-box.png" class="content-flex-top-img" />
          <div class="content-flex-top-text">
            <span class="color-light uppercase">
              <ng-container *ngIf="selectedBooking.course.course_type == 1">
                {{ 'collective' | translate }}
              </ng-container>
              <ng-container *ngIf="selectedBooking.course.course_type == 2">
                {{ 'private' | translate }}
              </ng-container>
              <ng-container *ngIf="selectedBooking.course_sport && sports.length">
                {{selectedBooking.course_sport.name}}
              </ng-container>
            </span>
            <div>{{selectedBooking.course.name}}</div>
          </div>
        </div>

        <div class="list-dates-chips mt-24 mb-24">
          <div *ngFor="let date of selectedBooking.course.course_dates" class="background-grey-translucent montserrat chip-date" [ngClass]="{'chip-selected': selectedBooking.course_date_id == date.id}">
            {{formatDate(date.date)}}
          </div>
        </div>

        <div *ngIf="selectedBooking.course.course_type == 1" class="cursor-pointer menu-section-content" (click)="goTo('course-group',bookingId,dateBooking,selectedBooking.course_id,selectedBooking.hour_start,selectedBooking.course_group_id,selectedBooking.course_subgroup_id)">
          <div class="menu-section-title">{{ 'group' | translate }}</div>
          <div class="menu-section-text">
            <span class="montserrat color-light">{{ 'groups' | translate }}</span>
            <img src="assets/icon/icons-outline-arrow-right-3-white.svg" />
          </div>
        </div>

        <div class="list-box-selector-b mt-12 mb-12">
          <div *ngIf="selectedBooking.course.course_type == 1 && selectedBooking.degree_sport && degrees.length" 
              class="box-selector-type flex-large color-light cursor-pointer" [ngStyle]="{'background': selectedBooking.degree_sport.color}">
            <img src="assets/icon/icon-award-level-grey.svg" />
            <div class="montserrat">{{selectedBooking.degree_sport.league}}</div>
            <span>{{selectedBooking.degree_sport.annotation}}</span>
          </div>
          <div *ngIf="selectedBooking.course.course_type == 1" class="background-grey-translucent box-selector-type flex-normal cursor-pointer">
            <img src="assets/icon/icon-calendar-tick.png" />
            <div class="montserrat color-light">{{ 'day' | translate }}</div>
            <span class="color-light">{{getPositionDate(selectedBooking.course.course_dates, selectedBooking.course_date_id)}}/{{selectedBooking.course.course_dates.length}}</span>
          </div>
          <div class="background-grey-translucent box-selector-type flex-normal cursor-pointer">
            <img src="assets/icon/icon-user-tick.png" />
            <div class="montserrat color-light">{{ 'students' | translate }}</div>
            <span class="color-light">{{selectedBooking.all_clients.length}}/{{selectedBooking.course.max_participants}}</span>
          </div>
          <div class="background-grey-translucent box-selector-type flex-normal cursor-pointer">
            <img src="assets/icon/icon-timer.png" />
            <div class="montserrat color-light">{{ 'hours' | translate }}</div>
            <span class="color-light">{{getHoursMinutes(selectedBooking.hour_start,selectedBooking.hour_end)}}</span>
          </div>
        </div>

        <div class="menu-section-content mt-24 mb-24">
          <div class="menu-section-title">{{ 'students' | translate }}</div>
          <div class="menu-section-icons">
            <img *ngIf="selectedBooking.course.confirm_attendance" src="assets/icon/icon-user-tick-w.png" class="cursor-pointer" (click)="goTo('course-participation',bookingId,dateBooking,selectedBooking.course_id)" />
            <img *ngIf="selectedBooking.course.course_type == 1" src="assets/icon/icon-transfer.png" class="cursor-pointer" (click)="goTo('course-transfer',bookingId,dateBooking,selectedBooking.course_id,selectedBooking.hour_start,selectedBooking.course_group_id,selectedBooking.course_subgroup_id)" />
          </div>
        </div>
        
        <div class="member-list">

          <div *ngFor="let client of selectedBooking.all_clients" class="pb-8 mb-8 member-list-item cursor-pointer" (click)="goTo('course-detail-level',bookingId,dateBooking,client.id,selectedBooking.course.sport_id)">
            <app-level-user *ngIf="selectedBooking && selectedBooking.sport_degrees && selectedBooking.sport_degrees.length" [allLevels]="selectedBooking.sport_degrees" [selectLevel]="client.degree_sport" [size]="60" [userImage]="client.image ? client.image : 'assets/icon/icons-outline-default-avatar.svg'"></app-level-user>
            <div class="member-item-flex">
              <div class="member-item-content">
                <div class="member-item-title">
                  <div class="montserrat member-item-title-icon">
                    <div>{{client.first_name}} {{client.last_name}}</div>
                    <!-- CHECK IF CONFIRMED IN ALL DATES -->
                    <!--
                    <img src="assets/icon/icon-double-check.png" />
                    -->
                  </div>
                  <img src="assets/icon/icons-outline-arrow-right-3-white.svg" />
                </div>
                <div class="member-item-subtitle">
                  <span class="montserrat">
                    <ng-container *ngIf="client.language1_id">
                      {{getLanguageById(client.language1_id)}} ·
                    </ng-container>
                    {{getCountryById(client.country)}} · {{getBirthYears(client.birth_date)}} {{ 'years' | translate }}
                  </span>
                  <div *ngIf="!client.booking_client.paid" class="montserrat uppercase">
                    <div class="member-item-bullet"></div>{{ 'not_paid' | translate }}
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</ion-content>