<ion-content>
  <div class="content-size content-background-image status-bar-overlap">

    <div class="background-color-dark padding-wrapper">
      <div class="header-content mb-12">
        <img src="assets/icon/arrow-left.svg" class="cursor-pointer header-content-icon" (click)="goTo('calendar')" />
        <div class="header-top-title">
          Aujourd d'hui
        </div>
      </div>
      <div class="montserrat color-light header-top-subtitle">
        {{currentDateFull}}
      </div>

    </div>

    <div class="padding-wrapper">
      
      <div class="flex-sections mb-24">
        <div *ngFor="let booking of bookingsCurrent" 
             [ngClass]="selectedBooking === booking ? 'section-selected' : 'section-title'" 
             (click)="selectedBooking = booking">
          {{formatTimeStart(booking.hour_start)}}
          <br>
          {{formatTimeEnd(booking.hour_end)}}
          <div *ngIf="selectedBooking === booking" class="section-bullet"></div>
        </div>
      </div>
      
      <div *ngIf="selectedBooking" class="background-color-dark padding-wrapper box-radius">

        <div class="mb-24 content-flex-top">
          <img *ngIf="selectedBooking.course.course_type == 1" src="assets/icon/course-collective-box.png" class="content-flex-top-img" />
          <img *ngIf="selectedBooking.course.course_type == 2" src="assets/icon/course-private-box.png" class="content-flex-top-img" />
          <div class="content-flex-top-text">
            <span class="color-light uppercase">
              <ng-container *ngIf="selectedBooking.course.course_type == 1">
                Collectif
              </ng-container>
              <ng-container *ngIf="selectedBooking.course.course_type == 2">
                Private
              </ng-container>
              <!--CAMBIAR CUANDO TENGAS SPORTS CORRECTOS-->
              <ng-container *ngIf="selectedBooking.course.sport_id && sports.length">
                {{sports[selectedBooking.course.sport_id].name}}
              </ng-container>
            </span>
            <div>{{selectedBooking.course.name}}</div>
          </div>
        </div>

        <div class="cursor-pointer menu-section-content" (click)="goTo('course-group')">
          <div class="menu-section-title">Groupe</div>
          <div class="menu-section-text">
            <div>+3</div>
            <span class="montserrat color-light">Groupes</span>
            <img src="assets/icon/icons-outline-arrow-right-3-white.svg" />
          </div>
        </div>

        <div class="list-box-selector-b mt-12 mb-12">
          <!--CAMBIAR CUANDO TENGAS DEGREES CORRECTOS-->
          <div *ngIf="selectedBooking.course.course_type == 1 && selectedBooking.degree_id && degrees.length" class="box-selector-type-red box-selector-type flex-large cursor-pointer">
            <img src="assets/icon/icon-award-level.png" />
            <div class="montserrat">{{degrees[selectedBooking.degree_id].league}}</div>
            <span>{{degrees[selectedBooking.degree_id].annotation}}</span>
          </div>
          <div *ngIf="selectedBooking.course.course_type == 1" class="background-grey-translucent box-selector-type flex-normal cursor-pointer">
            <img src="assets/icon/icon-calendar-tick.png" />
            <div class="montserrat color-light">Jour</div>
            <span class="color-light">{{getPositionDate(selectedBooking.course.course_dates, selectedBooking.course_date_id)}}/{{selectedBooking.course.course_dates.length}}</span>
          </div>
          <div class="background-grey-translucent box-selector-type flex-normal cursor-pointer">
            <img src="assets/icon/icon-user-tick.png" />
            <div class="montserrat color-light">Élèves</div>
            <span class="color-light">{{selectedBooking.all_clients.length}}/{{selectedBooking.course.max_participants}}</span>
          </div>
          <div class="background-grey-translucent box-selector-type flex-normal cursor-pointer">
            <img src="assets/icon/icon-timer.png" />
            <div class="montserrat color-light">Heures</div>
            <span class="color-light">{{getHoursMinutes(selectedBooking.hour_start,selectedBooking.hour_end)}}</span>
          </div>
        </div>

        <div class="menu-section-content mt-24 mb-24">
          <div class="menu-section-title">Élèves</div>
          <div class="menu-section-icons">
            <img src="assets/icon/icon-user-tick.png" class="cursor-pointer" (click)="goTo('course-participation')" />
            <img src="assets/icon/icon-transfer.png" class="cursor-pointer" (click)="goTo('course-transfer')" />
          </div>
        </div>
        
        <div class="member-list">

          <div *ngFor="let client of selectedBooking.all_clients" class="pb-8 mb-8 member-list-item cursor-pointer" (click)="goTo('course-detail-level',bookingId,dateBooking,client.id,selectedBooking.course.sport_id)">
            <app-level-user [dataLevels]="dataLevels" [selectLevel]="5" [size]="60" [userImage]="client.image ? client.image : 'assets/icon/icons-outline-default-avatar.svg'"></app-level-user>
            <div class="member-item-flex">
              <div class="member-item-content">
                <div class="member-item-title">
                  <div class="montserrat member-item-title-icon">
                    <div>{{client.first_name}} {{client.last_name}}</div>
                    <!-- CHECK IF CONFIRMED IN ALL DATES -->
                    <!--
                    <img src="assets/icon/icon-double-check.png" />
                    -->
                  </div>
                  <img src="assets/icon/icons-outline-arrow-right-3-white.svg" />
                </div>
                <div class="member-item-subtitle">
                  <span class="montserrat">{{client.country}} · {{getBirthYears(client.birth_date)}} ans</span>
                  <div *ngIf="!client.booking_client.paid" class="montserrat">
                    <div class="member-item-bullet"></div>NON PAYÉ
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <!-- PRIVATE TYPE COURSE -->
      <!--
      <div class="background-color-dark padding-wrapper box-radius">

        <div class="mb-24 content-flex-top-wrapper">
          <div class="content-flex-top">
            <img src="assets/icon/course-private-box.png" class="content-flex-top-img" />
            <div class="content-flex-top-text">
              <span class="color-light">PRIVÉ SKI</span>
              <div>Privé basic</div>
            </div>
          </div>
          <img src="assets/icon/icon-user-tick.png" class="content-flex-top-wrapper-icon cursor-pointer" (click)="goTo('course-participation')" />
        </div>

        <div class="header-user-data">
          <div class="header-user-data-img">
            <img src="assets/images/test-photo.jpg" />
          </div>
          <div class="header-user-data-text">
            <div class="header-user-data-text-top">
              <div class="color-light">
                FR · SUISSE · 31 ANS
              </div>
            </div>
            <div class="header-user-data-text-title">
              <div>Marco Raymond</div>
              <img src="assets/icon/icon-crown.png" />
            </div>
            <div class="header-user-data-text-icons">
              <img class="cursor-pointer" src="assets/icon/icon-message-box.png" />
              <img class="cursor-pointer" src="assets/icon/icon-phone-box.png" />
              <img class="cursor-pointer" src="assets/icon/icon-mail-box.png" />
              <img class="cursor-pointer" src="assets/icon/icon-ticket-box.png" />

            </div>
          </div>
        </div>

        <div class="border-separator mt-24 mb-24"></div>

        <div class="header-user-data">
          <div class="header-user-data-img">
            <img src="assets/images/test-photo.jpg" />
          </div>
          <div class="header-user-data-text">
            <div class="header-user-data-text-top">
              <div class="color-light">
                FR · SUISSE · 31 ANS
              </div>
            </div>
            <div class="header-user-data-text-title">
              <div>Marco Raymond</div>
            </div>
            <div class="header-user-data-text-icons">
              <img class="cursor-pointer" src="assets/icon/icon-message-box.png" />
              <img class="cursor-pointer" src="assets/icon/icon-phone-box.png" />
              <img class="cursor-pointer" src="assets/icon/icon-mail-box.png" />
              <img class="cursor-pointer" src="assets/icon/icon-ticket-box.png" />

            </div>
          </div>
        </div>

        <div class="box-top-center">
          <div class="box-top-left">

            <div class="box-top-icon cursor-pointer">
              <img src="assets/icon/icons-outline-disciplinas-1.svg" />
              <div class="montserrat">Ski</div>
            </div>
            
          </div>

        </div>

        <div class="pt-24">
          <app-level-full (click)="goTo('course-detail-level-update')" [allLevels]="allLevels" [dataLevels]="dataLevels" [selectLevel]="5" [size]="280" class="cursor-pointer"></app-level-full>

          <div class="padding-wrapper mt-8">
            <button class="content-button btn-back-primary montserrat" (click)="goTo('course-detail-level-update')">
              Évaluer les progrès
            </button>
          </div>
        </div>
      </div>

      <div class="flex-title-selector mt-32 mb-8 cursor-pointer">
        <div class="flex-title-selector-interior">
          <div class="background-color-dark flex-title-selector-icon">
            <img src="assets/icon/icon-observations.png" />
          </div>
          <div class="flex-title-selector-text">
            Observations
          </div>
        </div>
      </div>

      <div class="background-color-dark box-radius box-observations">
        <div class="montserrat color-light text-observations">
          Lorem ipsum dolor sit amet. Maecenas varius tortoi nibh, sit amet. Lorem ipsum dolor.
        </div>
        <div class="montserrat mt-12 pt-8 pb-8 title-observations">Notes de l'école</div>
        <div class="montserrat color-light text-observations">
          Lorem ipsum dolor sit amet.
          <br>Lorem ipsum dolor sit amet.
        </div>
      </div>

      <div class="flex-title-selector mt-32 mb-8 cursor-pointer">
        <div class="flex-title-selector-interior">
          <div class="background-color-dark flex-title-selector-icon">
            <img src="assets/icon/icon-historic.png" />
          </div>
          <div class="flex-title-selector-text">
            Historique
          </div>
        </div>
      </div>

      <div class="background-color-dark box-radius box-observations mb-24">
        <div class="montserrat color-light text-observations">
          Lorem ipsum dolor sit amet. Maecenas varius tortoi nibh, sit amet. Lorem ipsum dolor.
        </div>
      </div>
      -->
      <!-- /PRIVATE -->

    </div>

  </div>

</ion-content>