.content-wrapper {
    width:100%;min-height:100%;padding:20px 16px;
}
.content-size {
    width:100%;min-height:100%;
}
.padding-wrapper {
    padding:20px 16px;
}
.dark-background {
    width:100%;min-height:100vh;background:var(--ion-back-color-dark);
}
.header-content {
    position:relative;top:0;left:0;width:100%;display:flex;align-items:center;justify-content:center;margin-bottom:60px;
}
.header-content-icon {
    position:absolute;left:0;top: 50%;transform: translateY(-50%);width:28px;
}
.header-top-title {
    font-size:15px;color:#fff;font-weight:600;
}
.header-top-subtitle {
    font-size:14px;display:block;text-align:center;
}
.opacity-light {
    opacity:0.6;
}

.flex-sections {
    display: flex; align-items: flex-start; gap: 32px;
}
.section-title {
    color:#c8c8c8;font-size:15px;position:relative;height:58px;font-weight:500;cursor:pointer;line-height:1.5;text-align:center;
}
.section-selected {
    color:#fff;font-size:15px;position:relative;height:58px;font-weight:500;cursor:pointer;line-height:1.5;text-align:center;
}
.section-bullet {
    background:var(--ion-color-primary);width:8px;height:8px;border-radius:8px;position:absolute;bottom:0;left:50%;transform:translateX(-50%);
}

.box-radius {
    border-radius:8px;
}
.content-flex-top-wrapper {
    display:flex;align-items:center;justify-content:space-between;
}
.content-flex-top-wrapper-icon {
    width:24px;
}
.content-flex-top {
    display:flex;align-items:center;gap:12px;
}
.content-flex-top-img {
    width:44px;
}
.content-flex-top-text {
    display:flex;flex-direction:column;gap:2px;
}
.content-flex-top-text div {
    color:#fff;font-size:22px;font-weight:600;
}
.content-flex-top-text span {
    font-size:11px;
}

.menu-section-content {
    display:flex;align-items:center;justify-content:space-between;width:100%;
}
.menu-section-title {
    font-size:17px;font-weight:500;
}
.menu-section-text {
    display:flex;align-items:center;gap:8px;
}
.menu-section-text div {
    color:#fff;background-color:var(--ion-color-primary);padding:5px 8px;border-radius:40px;font-size:12px;font-weight:500;display:flex;align-items:center;justify-content:center;
}
.menu-section-text span {
    font-size:12px;
}
.menu-section-text img {
    width:24px;
}
.menu-section-icons {
    display:flex;align-items:center;gap:8px;
}
.menu-section-icons img {
    width:24px;
}

.list-box-selector-b {
    width: 100%;display: flex;padding: 8px 0;gap:12px;justify-content:space-between;
}
.background-grey-translucent {
    background:rgba(65,69,78,0.4);
}
.box-selector-type {
    display:flex;padding:12px 6px;flex-direction: column;gap:8px;align-items: center;border-radius: 8px;justify-content: flex-start;text-align:center;
}
.box-selector-type-red {
    color: #faafaf;background: #613136;
}
.box-selector-type img {
    width:24px;
}
.box-selector-type div {
    font-size:13px;
}
.box-selector-type span {
    font-size:13px;font-weight:500;
}

.member-list {
    display:flex;gap:8px;flex-direction:column;
}
.member-list-item {
    display:flex;gap:8px;align-items:center;width:100%;border-bottom:1px solid #444953;
}
.member-item-flex {
    display:flex;align-items:center;justify-content:space-between;width:100%;
}
.member-item-content {
    display:flex;flex-direction:column;gap:5px;width:100%;
}
.member-item-title {
    display:flex;align-items:center;width:100%;justify-content:space-between;
}
.member-item-title img {
    width:20px;
}
.member-item-title div {
    font-size:15px;color:#fff;
}
.member-item-title-icon {
    display:flex;align-items:center;gap:4px;
}
.member-item-title-icon img {
    width:18px !important;
}
.member-item-subtitle {
    display:flex;align-items:center;width:100%;justify-content:space-between;
}
.member-item-subtitle span {
    font-size:12px;
}
.member-item-subtitle div {
    font-size:10px;display:flex;align-items:center;gap:2px;
}
.member-item-bullet {
    width:6px;height:6px;border-radius:6px;background:#e9484a;
}
.member-item-icon {
    width:20px;
}
.no-border {
    border:none !important;
}


.header-user-data {
    display:flex;width:100%;align-items:flex-start;gap:16px;
}
.header-user-data-img {
    width:60px;min-width:60px;height:60px;position:relative;border-radius:60px;
}
.header-user-data-img img {
    object-fit:cover;width:100%;height:100%;border-radius:100%;
}
.header-user-data-text {
    display:flex;width:100%;flex-direction:column;gap:4px;
}
.header-user-data-text-top {
    display:flex;width:100%;align-items:center;justify-content:space-between;
}
.header-user-data-text-top div {
    font-size:11px;
}
.header-user-data-text-top img {
    width:22px;
}
.header-user-data-text-title {
    display:flex;align-items:center;gap:4px;font-size:17px;color:#fff;font-weight:500;
}
.header-user-data-text-title img {
    width:24px;
}
.header-user-data-text-subtitle {
    font-size:13px
}
.header-user-data-text-icons {
    display:flex;align-items:center;gap:12px;
}
.header-user-data-text-icons img {
    width:34px;
}

.border-separator {
    width:100%;border-bottom:1px solid #444953;height:1px;
}
.flex-title-selector {
    display:flex;align-items:center;justify-content:space-between;
}
.flex-title-selector-interior {
    display:flex;gap:16px;align-items:center;
}
.flex-title-selector-icon {
    width:40px;height:40px;border-radius:40px;display:flex;align-items:center;justify-content:center;
}
.flex-title-selector-icon img {
    width:20px;
}
.flex-title-selector-text {
    color:#fff;font-size:20px;font-weight:500;
}
.flex-title-selector-arrow {
    width:24px;
}

.box-top {
    padding:10px 20px;border-bottom:1px solid #43494f;display:flex;width:100%;align-items:center;justify-content:space-between;
}
.box-top-center {
    padding:10px 20px;border-bottom:1px solid #43494f;display:flex;width:100%;align-items:center;justify-content:center;
}
.box-top-left {
    display:flex;gap:20px;align-items:center;
}
.box-top-icon {
    display:flex;flex-direction:column;gap:8px;align-items:center;justify-content:center;
}
.box-top-icon img {
    width:18px;
}
.box-top-icon div {
    font-size:13px;
}
.content-button {
    width: 100%;height: 44px;line-height: 44px;display: block;text-align: center;border-radius: 44px;color: #000;text-align: center;font-size: 14px;font-weight: 500;cursor:pointer;transition:all ease-in-out 0.3s;
}

.box-observations {
    padding:12px 16px;
}
.text-observations {
    font-size:13px;
}
.title-observations {
    font-size:15px;border-top:1px solid #444953;
}

.list-box-selector-users {
    width: 100%;overflow-x: auto;white-space: nowrap;display: flex;gap: 16px;padding: 8px 0;margin-bottom: -16px;justify-content:space-around;
}
.box-selector-user-section {
    display: flex;white-space: normal;width: 80px;min-width: 80px;max-width:80px;padding: 8px 8px;flex-direction: column;gap: 12px;align-items: center;border-radius: 8px;justify-content: flex-start;
}
.box-selector-user-section-title {
    display:flex;align-items:center;gap:4px;color:#fff;font-size:14px;line-height:1.3;text-align: center;
}
.box-selector-user-section-title img {
    width:24px;
}
.flex-large {
    flex:2.5;
}
.flex-normal {
    flex:1;
}

.capitalize {
    text-transform:capitalize;
}
.uppercase {
    text-transform:uppercase;
}