<ion-content>
  <div class="content-size content-background-image">
    
    <div class="background-color-dark padding-wrapper status-bar-overlap-wrapper">

      <div class="header-top">
        <img src="assets/icon/arrow-left.svg" class="header-top-side-img cursor-pointer" (click)="goTo('home')" />
        <div class="header-section-title">
          <img src="assets/icon/ecoles.png" />
          <div>{{ 'schools' | translate }}</div>
        </div>
        <!--
        <img src="assets/icon/icon-add-square.png" class="header-top-side-img-b cursor-pointer" (click)="goTo('school-add')" />
        -->
      </div>

    </div>

    <div class="padding-wrapper">

      <ng-container *ngFor="let station of monitorStationsWithSchools">

        <div class="flex-title-selector mt-12 mb-24">
          <div class="flex-title-selector-interior">
            <div class="flex-title-selector-text">
              {{station.name}}
            </div>
          </div>
          <!--
          <img src="assets/icon/icons-outline-arrow-right-3-white.svg" class="flex-title-selector-arrow cursor-pointer" />
          -->
        </div>

        <div class="list-boxes-school">

          <div *ngFor="let school of station.schools" class="list-boxes-item background-color-dark padding-wrapper">
            <div class="box-item-top">
              <div class="box-item-left">
                <div class="box-item-left-img">
                  <img [src]="school.image ? school.image : 'assets/icon/icon-no-image.png'"
                    [ngClass]="{'box-item-img': school.image, 'box-item-img-none': !school.image}" />
                </div>
                <div class="box-item-left-text">
                  <span class="montserrat color-light">{{station.name}}</span>
                  <div class="montserrat">{{school.name}}</div>
                  <div class="box-item-left-text-icons">
                    <img [src]="school.has_ski ? 'assets/icon/main_ski_on.png' : 'assets/icon/main_ski_off.png'" />
                    <img [src]="school.has_snowboard ? 'assets/icon/main_snowboard_on.png' : 'assets/icon/main_snowboard_off.png'" />
                    <img [src]="school.has_rando ? 'assets/icon/main_srando_on.png' : 'assets/icon/main_srando_off.png'" />
                    <img [src]="school.has_telemark ? 'assets/icon/main_telemark_on.png' : 'assets/icon/main_telemark_off.png'" />
                  </div>
                </div>
              </div>
              <div class="box-school-icons">
                <img *ngIf="school.id === monitorData.active_school" src="assets/icon/icon-check-radius.png" class="box-item-icon cursor-pointer" />
                <img *ngIf="school.id !== monitorData.active_school" src="assets/icon/icon-check-radius-grey.png" class="box-item-icon cursor-pointer" (click)="changeSchoolActive(school.id, station.id)" />
                <img src="assets/icon/icon-more.png" class="box-item-icon cursor-pointer" (click)="toggleMore(school)" />
              </div>
            </div>
          </div>

        </div>

      </ng-container>

    </div>

  </div>
  
</ion-content>

<div [@slideInOut]="moreState" class="member-modal-wrapper">
  <div class="padding-wrapper dark-background member-modal">

    <div class="header-member mt-12">
      <img src="assets/icon/icon-close-box.png" class="cursor-pointer" (click)="toggleMoreHide()" />
    </div>

    <div *ngIf="selectedSchool" class="pb-24 mb-8 list-boxes-item">
      <div class="box-item-top">
        <div class="box-item-left">
          <div class="box-item-left-img">
            <img [src]="selectedSchool.image ? selectedSchool.image : 'assets/icon/icon-no-image.png'"
              [ngClass]="{'box-item-img': selectedSchool.image, 'box-item-img-none': !selectedSchool.image}" />
          </div>
          <div class="box-item-left-text">
            <div class="montserrat">{{selectedSchool.name}}</div>
            <div class="box-item-left-text-icons">
              <img [src]="selectedSchool.has_ski ? 'assets/icon/main_ski_on.png' : 'assets/icon/main_ski_off.png'" />
              <img [src]="selectedSchool.has_snowboard ? 'assets/icon/main_snowboard_on.png' : 'assets/icon/main_snowboard_off.png'" />
              <img [src]="selectedSchool.has_rando ? 'assets/icon/main_srando_on.png' : 'assets/icon/main_srando_off.png'" />
              <img [src]="selectedSchool.has_telemark ? 'assets/icon/main_telemark_on.png' : 'assets/icon/main_telemark_off.png'" />
            </div>
          </div>
        </div>
      </div>
      <div class="box-item-bottom">
        <div class="montserrat">{{selectedSchool.description}}</div>
      </div>
    </div>

    <div class="member-list background-color-dark padding-wrapper">

      <div class="pb-8 mb-8 member-list-item cursor-pointer" (click)="toggleMoreHide()">
        
        <div class="member-item-flex">
          <div class="member-item-content">
            <div class="member-item-title">
              <img src="assets/icon/icon-message-blue.png" />
              <div class="montserrat">{{ 'message' | translate }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="pb-8 mb-8 member-list-item cursor-pointer" (click)="toggleMoreHide()">
        
        <div class="member-item-flex">
          <div class="member-item-content">
            <div class="member-item-title">
              <img src="assets/icon/icon-phone-blue.png" />
              <div class="montserrat">{{ 'telephone' | translate }}</div>
            </div>
          </div>
        </div>
      </div>

      <div class="member-list-item cursor-pointer no-border" (click)="toggleMoreHide()">
        
        <div class="member-item-flex">
          <div class="member-item-content">
            <div class="member-item-title">
              <img src="assets/icon/icon-mail-blue.png" />
              <div class="montserrat">{{ 'email' | translate }}</div>
            </div>
          </div>
        </div>
      </div>
      

    </div>

  </div>
</div>