<ion-footer>
  <ion-toolbar>
    <ion-buttons class="icon-buttons-container">
      <div class="icon-button cursor-pointer" (click)="goTo('home')">
        <img [src]="section === 'home' ? 'assets/icon/icons-outline-home-1-blue.svg' : 'assets/icon/icons-outline-home-1-white.svg'" />
        <div class="montserrat color-light" [ngClass]="{'selected': section === 'home'}">{{ 'home' | translate }}</div>
      </div>
      <div class="icon-button cursor-pointer" (click)="goTo('calendar')">
        <img [src]="section === 'calendar' ? 'assets/icon/icons-outline-calendar-1-blue.svg' : 'assets/icon/icons-outline-calendar-1-white.svg'" />
        <div class="montserrat color-light"[ngClass]="{'selected': section === 'calendar'}">{{ 'diary' | translate }}</div>
      </div>
      <div class="icon-button cursor-pointer" (click)="goTo('scan')">
        <img [src]="section === 'scan' ? 'assets/icon/icon-scan-blue.png' : 'assets/icon/icon-scan.png'" />
        <div class="montserrat color-light" [ngClass]="{'selected': section === 'scan'}">{{ 'scan' | translate }}</div>
      </div>
      <div class="icon-button cursor-pointer" (click)="goTo('clients')">
        <img [src]="section === 'clients' ? 'assets/icon/icon-clients-blue.png' : 'assets/icon/icon-clients.png'" />
        <div class="montserrat color-light" [ngClass]="{'selected': section === 'clients'}">{{ 'clients' | translate }}</div>
      </div>
      <!-- PENDIENTEHACER
      <div class="icon-button cursor-pointer" (click)="goTo('messages')">
        <img [src]="section === 'messages' ? 'assets/icon/icons-outline-messages-blue.svg' : 'assets/icon/icons-outline-messages-white.svg'" />
        <div class="montserrat color-light"[ngClass]="{'selected': section === 'messages'}">{{ 'messages' | translate }}</div>
        <div class="bullet-notification"></div>
      </div>
      -->
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
