ion-toolbar {
    --background: var(--ion-back-color-dark);
    padding: 8px 12px calc(26px + var(--ion-safe-area-bottom, 0px)) 12px !important;
}
.icon-buttons-container {
    display: flex;justify-content: space-between;width: 100%;
}  
.icon-button {
    display: flex;flex:1;flex-direction: column;align-items: center;gap:6px;position:relative;
}
.icon-button img {
    width:32px;
}
.icon-button div {
    font-size:11px;
}
.icon-button .selected {
    color:var(--ion-color-primary) !important;
}
.bullet-notification {
    width: 12px;height: 12px;border-radius: 6px;background: var(--ion-color-primary);position: absolute;top: 0px;left: 50%;transform: translateX(-50%);margin-left: 12px;
}
.badge-notification {
    min-width: 16px;height: 16px;padding: 0 4px;border-radius: 8px;background: var(--ion-color-primary);color: #fff;font-size: 10px;line-height: 16px;text-align: center;position: absolute;top: -2px;left: 50%;transform: translateX(-50%);margin-left: 14px;
}
