<ion-content>
  <div class="content-size dark-background status-bar-overlap">

    <div class="padding-wrapper">
      <div class="header-content mb-8">
        <img src="assets/icon/arrow-left.svg" class="cursor-pointer header-content-icon" (click)="goTo('course-detail')" />
        <div class="header-top-title">
          Advance
        </div>
      </div>
      <div class="montserrat color-light header-top-subtitle">
        Collectif Ski
      </div>

    </div>

    <div class="padding-wrapper">

        <div class="menu-section-content mb-24">
          <div class="menu-section-title">Groupes</div>
        </div>
        
        <div class="member-list">
    
          <div class="pb-8 mb-8 member-list-item no-border cursor-pointer" (click)="goTo('course-detail')">
            <div class="member-list-item-img">
              <img src="assets/images/test-photo.jpg" />
            </div>
            <div class="member-item-flex">
              <div class="member-item-content">
                <div class="member-item-title">
                  <div class="montserrat">Marco Raymond</div>
                  <div class="box-selector-level">ROI</div>
                </div>
                <div class="member-item-subtitle">
                  <span class="montserrat color-light">Vous</span>
                </div>
                <div class="member-item-data">
                    <div class="task-content-icon">
                      <img src="assets/icon/icon-user-tick.png" />
                      <span class="montserrat color-light">5/6</span>
                    </div>
                    <div class="task-content-icon">
                      <img src="assets/icon/icon-calendar-tick.png" />
                      <span class="montserrat color-light">3/6</span>
                    </div>
                </div>
              </div>
            </div>
          </div>
    
        </div>

        <div class="menu-section-content mt-24 mb-12">
          <div class="menu-section-title-b color-light">AUTRES GROUPES</div>
        </div>
        
        <div class="member-list">

          <div class="pb-8 mb-8 member-list-item cursor-pointer" (click)="goTo('course-detail')">
            <div class="member-list-item-img">
              <img src="assets/images/test-photo.jpg" />
            </div>
            <div class="member-item-flex">
              <div class="member-item-content">
                <div class="member-item-title">
                  <div class="montserrat">Marco Raymond</div>
                  <div class="box-selector-level">ROI</div>
                </div>
                <div class="member-item-subtitle">
                  <span class="montserrat color-light">Professeur</span>
                </div>
                <div class="member-item-data">
                    <div class="task-content-icon">
                      <img src="assets/icon/icon-user-tick.png" />
                      <span class="montserrat color-light">5/6</span>
                    </div>
                    <div class="task-content-icon">
                      <img src="assets/icon/icon-calendar-tick.png" />
                      <span class="montserrat color-light">3/6</span>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pb-8 mb-8 member-list-item cursor-pointer" (click)="goTo('course-detail')">
            <div class="member-list-item-img">
              <img src="assets/images/test-photo.jpg" />
            </div>
            <div class="member-item-flex">
              <div class="member-item-content">
                <div class="member-item-title">
                  <div class="montserrat">Marco Raymond</div>
                  <div class="box-selector-level">ROI</div>
                </div>
                <div class="member-item-subtitle">
                  <span class="montserrat color-light">Professeur</span>
                </div>
                <div class="member-item-data">
                    <div class="task-content-icon">
                      <img src="assets/icon/icon-user-tick.png" />
                      <span class="montserrat color-light">5/6</span>
                    </div>
                    <div class="task-content-icon">
                      <img src="assets/icon/icon-calendar-tick.png" />
                      <span class="montserrat color-light">3/6</span>
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pb-8 mb-8 member-list-item no-border cursor-pointer" (click)="goTo('course-detail')">
            <div class="member-list-item-img">
              <img src="assets/images/test-photo.jpg" />
            </div>
            <div class="member-item-flex">
              <div class="member-item-content">
                <div class="member-item-title">
                  <div class="montserrat">Marco Raymond</div>
                  <div class="box-selector-level">ROI</div>
                </div>
                <div class="member-item-subtitle">
                  <span class="montserrat color-light">Professeur</span>
                </div>
                <div class="member-item-data">
                    <div class="task-content-icon">
                      <img src="assets/icon/icon-user-tick.png" />
                      <span class="montserrat color-light">5/6</span>
                    </div>
                    <div class="task-content-icon">
                      <img src="assets/icon/icon-calendar-tick.png" />
                      <span class="montserrat color-light">3/6</span>
                    </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

  </div>

</ion-content>