.content-size {
    width:100%;min-height:100%;
}
.padding-wrapper {
    padding:20px 16px;
}
.header-section-content {
    position:relative;top:0;left:0;width:100%;display:flex;align-items:center;justify-content:center;
}
.header-section-title {
    display:flex;gap:10px;align-items:center;justify-content:center;
}
.header-section-title img {
    width:24px;
}
.header-section-title div {
    color:#fff;font-size:16px;font-weight:600;
}

.header-section-menu {
    position:absolute;right:0;top: 50%;transform: translateY(-50%);width:22px;display:flex;align-items:center;justify-content:center;
}

.month-title {
    color:#fff;font-size:15px;font-weight:500;
}
.flex-members {
    display:flex;width:100%;align-items:center;justify-content:space-between;
}
.flex-members-left {
    display:flex;gap:16px;align-items:center;
}
.flex-user-box {
    display:flex;gap:8px;align-items:center;
}
.flex-user-text {
    display:flex;flex-direction:column;gap:6px;
}
.flex-user-title {
    font-size:15px;font-weight:500;color:#fff;
}
.flex-user-subtitle {
    font-size:14px;color:var(--ion-color-primary);
}
.box-arrow {
    width:28px;height:28px;border-radius:8px;display:flex;align-items:center;justify-content:center;background:#2b303b;
}
.box-arrow img {
    width:22px;
}
.user-image-wrapper {
    position: relative;width: 60px;height: 60px;border-radius: 60px;display: block;margin: 0 auto;
}
.user-image {
    object-fit:cover;width:100%;height:100%;
}
.box-radius {
    width:100%;border-radius:8px;
}
.box-top {
    padding:10px 20px;border-bottom:1px solid #43494f;display:flex;width:100%;align-items:center;justify-content:space-between;
}
.box-top-left {
    display:flex;gap:20px;align-items:center;
}
.opacity-light {
    opacity:0.6;
}
.box-top-icon {
    display:flex;flex-direction:column;gap:8px;align-items:center;justify-content:center;
}
.box-top-icon img {
    width:18px;
}
.box-top-icon div {
    font-size:13px;
}
.content-button {
    width: 100%;height: 44px;line-height: 44px;display: block;text-align: center;border-radius: 44px;color: #000;text-align: center;font-size: 14px;font-weight: 500;cursor:pointer;transition:all ease-in-out 0.3s;
}

.flex-title-selector {
    display:flex;align-items:center;justify-content:space-between;
}
.flex-title-selector-interior {
    display:flex;gap:16px;align-items:center;
}
.flex-title-selector-icon {
    width:40px;height:40px;border-radius:40px;display:flex;align-items:center;justify-content:center;
}
.flex-title-selector-icon img {
    width:20px;
}
.flex-title-selector-text {
    color:#fff;font-size:22px;font-weight:500;
}
.flex-title-selector-arrow {
    width:24px;
}

.list-box-selector {
    width: 100%;overflow-x: auto;white-space: nowrap;display: flex;gap: 16px;padding: 8px 0;
}
.list-box-selector-column {
    width: 100%;display: flex; flex-direction:column;gap: 16px;padding: 8px 0;
}
.list-box-selector-users {
    width: 100%;overflow-x: auto;white-space: nowrap;display: flex;gap: 16px;padding: 8px 0;margin-bottom: -16px;justify-content:space-around;
}
.box-selector {
    display:flex;white-space: normal;width:300px;min-width:300px;padding:12px;flex-direction:column;gap:14px;align-items:flex-start;border-radius:8px;
}
.box-selector-full {
    display:flex;white-space: normal;width:100%;padding:12px;flex-direction:column;gap:14px;align-items:flex-start;border-radius:8px;
}
.box-selector-top {
    display:flex;align-items:center;justify-content:space-between;width:100%;
}
.box-selector-middle {
    display:flex;align-items:flex-start;justify-content:space-between;width:100%;
}
.box-selector-bottom {
    display:flex;align-items:center;gap:6px;font-size:13px;
}
.box-selector-date {
    color:#fff;font-size:14px;font-weight:500;
}
.box-selector-price {
    font-size:13px;
}
.box-selector-top-user {
    display:flex;gap:4px;align-items:center;
}
.box-selector-top-user img {
    width:30px;
}
.box-selector-top-user div {
    font-size:13px;
}
.box-selector-middle-interior {
    display:flex;align-items:center;gap:6px;
}
.box-selector-image-wrapper {
    width:46px;height:46px;border-radius:8px;position:relative;
}
.box-selector-image {
    object-fit:cover;width:100%;height:100%;border-radius:8px;
}
.box-selector-text {
    display:flex;flex-direction:column;gap:5px;
}
.box-selector-title {
    color:#fff;font-size:13px;padding-left:26px;
}
.box-selector-subtitle {
    display:flex;align-items:center;gap:6px;font-size:14px;
}
.box-selector-subtitle img {
    width:20px;
}
.box-selector-level {
    font-size: 12px;color: #faafaf;background: #613136;padding: 4px 6px;border-radius: 20px;
}
.box-selector-clock {
    width:20px;
}
.box-selector-location {
    width:13px;
}

.box-selector-user-section {
    display: flex;white-space: normal;width: 80px;min-width: 80px;max-width:80px;padding: 8px 8px;flex-direction: column;gap: 12px;align-items: center;border-radius: 8px;justify-content: flex-start;
}
.box-selector-user-section-title {
    color:#fff;font-size:14px;line-height:1.3;
}

.filter-floating {
    width: 54px;position: fixed;right: 12px;bottom:102px;cursor: pointer;
}

.flex-sections {
    display: flex; align-items: flex-start; gap: 32px;overflow-x:auto;
}
.section-title {
    color:#c8c8c8;font-size:17px;position:relative;height:38px;font-weight:500;cursor:pointer;
}
.section-selected {
    color:#fff;font-size:17px;position:relative;height:38px;font-weight:500;cursor:pointer;
}
.section-bullet {
    background:var(--ion-color-primary);width:8px;height:8px;border-radius:8px;position:absolute;bottom:0;left:50%;transform:translateX(-50%);
}

.filter-modal {
    position: fixed;min-height:100vh;max-height:100vh;z-index:1000;top:0;left:0;width: 100%;overflow-y:auto;
}
.dark-background {
    width:100%;min-height:100vh;background:var(--ion-back-color-dark);
}
.header-filter {
    position:relative;top:0;left:0;width:100%;display:flex;align-items:center;justify-content:center;margin-bottom:24px;
}
.filter-side {
    position:absolute;right:0;top: 50%;transform: translateY(-50%);font-size:14px;
}
.filter-side-img {
    position:absolute;left:0;top: 50%;transform: translateY(-50%);width:22px;
}
.filter-title {
    font-size:14px;color:#fff;font-weight:500;
}

.filter-section-flex {
    display:flex !important;width:100%;align-items:center;justify-content:space-between;
}
.filter-section-text {
    display:block;color:#fff;font-size:20px;font-weight:500;
}
.filter-section-text-sub {
    display:block;color:#fff;font-size:16px;
}
.list-box-selector {
    width: 100%;overflow-x: auto;white-space: nowrap;display: flex;gap: 16px;padding: 8px 0;
}
.box-selector-user {
    display: flex;white-space: normal;width: 120px;min-width: 120px;max-width:120px;padding: 8px 8px;flex-direction: column;gap: 12px;align-items: center;border-radius: 8px;justify-content: flex-start;
}
.box-selector-user-title {
    color:#fff;font-size:14px;line-height:1.3;
}

.input-form-icon {
    width:100%;height:48px;border-radius:12px;color:#fff;padding:0 16px;display:flex;align-items:center;gap:9px;margin-bottom:24px;
}
.input-form-icon input, .input-form-icon select {
    color:#fff;font-size:15px;width:100%;border:none;background:transparent;outline:0;
}
.content-list-boxes {
    width:100%;display:flex;gap:8px;flex-wrap:wrap;
}
.box-background {
    background:#0d1017;padding:16px 16px;border-radius:8px;display:flex;flex-direction:column;gap:8px;align-items:center;justify-content:center;
}
.box-fit-content {
    width:fit-content;
}
.box-opacity {
    opacity:0.7;
}
.box-background img {
    width:26px;
}
.box-background div {
    color:#fff;font-size:14px;
}
.box-fit-content img {
    width:36px !important;
}
.box-fit-content div {
    color:#fff;font-size:12px !important;
}
  