<ion-content>
  <div class="content-size content-background-image">
    
    <div class="background-color-dark padding-wrapper status-bar-overlap-wrapper">

      <div class="header-section-content mb-12">
        <div class="header-section-title">
          <img src="assets/icon/icons-outline-calendar-1-blue.svg" />
          <div>{{ 'diary' | translate }}</div>
        </div>
        <div class="header-section-menu header-menu-wrapper cursor-pointer" (click)="toggleMenu()">
          <img src="assets/icon/icon-menu.png" />
          <div *ngIf="(unreadCount$ | async) as unreadCount" class="menu-badge" [ngClass]="{'menu-badge-hidden': unreadCount <= 0}">
            {{ unreadCount > 99 ? '99+' : unreadCount }}
          </div>
        </div>
      </div>

      <div class="mt-24 mb-32 flex-buttons">
        <div [ngClass]="{'btn-back-primary': showMonth, 'btn-back-grey': !showMonth}" class="montserrat flex-buttons-button cursor-pointer" (click)="calculateMonthRange();showMonth=true;showWeek=false;showDay=false;">
          {{ 'month' | translate }}
        </div>
        <div [ngClass]="{'btn-back-primary': showWeek, 'btn-back-grey': !showWeek}" class="montserrat flex-buttons-button cursor-pointer" (click)="calculateWeekRange();showMonth=false;showWeek=true;showDay=false;">
          {{ 'week' | translate }}
        </div>
        <div [ngClass]="{'btn-back-primary': showDay, 'btn-back-grey': !showDay}" class="montserrat flex-buttons-button cursor-pointer" (click)="calculateDayRange();showMonth=false;showWeek=false;showDay=true;">
          {{ 'day' | translate }}
        </div>
      </div>

      <!--MONTHS-->
      <div class="flex-members" *ngIf="showMonth">
        <div class="box-arrow cursor-pointer" (click)="previousMonth()">
          <img src="assets/icon/arrow-left.svg" />
        </div>

        <div class="montserrat month-title">
          {{ monthNames[currentMonth] }} {{ currentYear }}
        </div>

        <div class="box-arrow cursor-pointer" (click)="nextMonth()">
          <img src="assets/icon/icons-outline-arrow-right-3-white.svg" />
        </div>
      </div>

      <!--WEEKS-->
      <div class="flex-members" *ngIf="showWeek">
        <div class="box-arrow cursor-pointer" (click)="previousWeek()">
          <img src="assets/icon/arrow-left.svg" />
        </div>

        <div class="montserrat month-title">
          {{ getWeekRangeDisplay() }}
        </div>

        <div class="box-arrow cursor-pointer" (click)="nextWeek()">
          <img src="assets/icon/icons-outline-arrow-right-3-white.svg" />
        </div>
      </div>

      <!--DAYS-->
      <div class="flex-members" *ngIf="showDay">
        <div class="box-arrow cursor-pointer" (click)="previousDay()">
          <img src="assets/icon/arrow-left.svg" />
        </div>
      
        <div class="montserrat month-title">
          {{ getWeekdayName(selectedDate) }}, {{ currentDay }} {{ monthNames[currentMonth] }} {{ currentYear }}
        </div>
      
        <div class="box-arrow cursor-pointer" (click)="nextDay()">
          <img src="assets/icon/icons-outline-arrow-right-3-white.svg" />
        </div>
      </div>

    </div>

    <!--MONTH-->
    <div class="padding-wrapper" *ngIf="showMonth"
         (touchstart)="onTouchStart($event)"
         (touchend)="onTouchEnd($event)">

      <div class="calendar mb-24 background-color-dark">
        <div class="weekdays">
            <span *ngFor="let day of weekdays" class="montserrat uppercase">{{ day }}</span>
        </div>
        <div class="days">
            <ng-container *ngFor="let day of days">
                <span [ngClass]="{'very-light-opacity': day.past}" 
                      class="montserrat day-span-a"
                      (click)="selectDay(day)">
                      <span class="day-span-b cursor-pointer position-relative">
                        <span class="day-on-top">{{ day.number }}</span>
                        <span *ngIf="day.today" class="active-today"></span>
                        
                        <!--courses-->
                        <span *ngIf="day.private && !day.collective && !day.other" class="top-position-bar private-calendar full-position"></span>
                        <span *ngIf="!day.private && day.collective && !day.other" class="top-position-bar collective-calendar full-position"></span>
                        <span *ngIf="!day.private && !day.collective && day.other" class="top-position-bar other-calendar full-position"></span>

                        <span *ngIf="day.private && day.collective && !day.other" class="top-position-bar private-calendar half-position left-border left-half"></span>
                        <span *ngIf="day.private && day.collective && !day.other" class="top-position-bar collective-calendar half-position right-border right-half"></span>
                        <span *ngIf="day.private && !day.collective && day.other" class="top-position-bar private-calendar half-position left-border left-half"></span>
                        <span *ngIf="day.private && !day.collective && day.other" class="top-position-bar other-calendar half-position right-border right-half"></span>
                        <span *ngIf="!day.private && day.collective && day.other" class="top-position-bar collective-calendar half-position left-border left-half"></span>
                        <span *ngIf="!day.private && day.collective && day.other" class="top-position-bar other-calendar half-position right-border right-half"></span>

                        <span *ngIf="day.private && day.collective && day.other" class="top-position-bar private-calendar third-position left-border left-third"></span>
                        <span *ngIf="day.private && day.collective && day.other" class="top-position-bar collective-calendar third-position middle-border middle-third"></span>
                        <span *ngIf="day.private && day.collective && day.other" class="top-position-bar other-calendar third-position right-border right-third"></span>

                        <!--blocks-->
                        <span *ngIf="day.block && !day.blockPayed" [ngClass]="(day.private || day.collective || day.other) ? 'bottom-position-bar' : 'top-position-bar'" class="block-calendar full-position"></span>
                        <span *ngIf="!day.block && day.blockPayed" [ngClass]="(day.private || day.collective || day.other) ? 'bottom-position-bar' : 'top-position-bar'" class="block-payed-calendar full-position"></span>
                        <span *ngIf="day.block && day.blockPayed" [ngClass]="(day.private || day.collective || day.other) ? 'bottom-position-bar' : 'top-position-bar'" class="block-calendar half-position left-border left-half"></span>
                        <span *ngIf="day.block && day.blockPayed" [ngClass]="(day.private || day.collective || day.other) ? 'bottom-position-bar' : 'top-position-bar'" class="block-payed-calendar half-position right-border right-half"></span>


                      </span>
                  </span>
            </ng-container>
        </div>
      </div> 

    </div>

    <!--WEEK-->
    <div class="padding-wrapper" *ngIf="showWeek"
         (touchstart)="onTouchStart($event)"
         (touchend)="onTouchEnd($event)">

      <div class="background-color-dark week-calendar-wrapper mt-24">
        <div class="week-calendar-days">
          <div *ngFor="let day of weekdaysShort" class="color-light">{{day}}</div>
        </div>

        <div class="week-calendar-b">
          <div class="hour-section">
            <div class="montserrat color-light hour-data" *ngFor="let hour of hoursRange">
              {{ hour }}
            </div>
          </div>

          <div class="task-section">
            <div class="task-data" *ngFor="let hour of hoursRange"></div>

            <!--Tasks-->
            <div *ngFor="let task of filteredTasksWeek" (click)="(task.type === 'block') ? openAvailables(task.block_id,task.date) : (task.type === 'block_payed' || task.type === 'other') ? null : goTo('course-detail', task.booking_id, task.date)"
                [ngClass]="{
                  'collective-icon-only': task.type === 'collective',
                  'private-icon-only': task.type === 'private',
                  'other-icon-only': task.type === 'other',
                  'block-icon-only': task.type === 'block',
                  'block-payed-icon-only': task.type === 'block_payed'
                }" 
                [ngStyle]="getTaskStyle(task, true)">
              <img [src]="getIconForTaskType(task.type)" class="task-icon-only" />
            </div>
          </div>
        </div>

      </div> 

    </div>

    <!--DAY-->
    <div class="padding-wrapper" *ngIf="showDay"
         (touchstart)="onTouchStart($event)"
         (touchend)="onTouchEnd($event)">

      <div class="background-color-dark week-calendar mt-24">
        <div class="hour-section">
          <div class="montserrat color-light hour-data" *ngFor="let hour of hoursRange">
            {{ hour }}
          </div>
        </div>

        <div class="task-section">
          <div class="task-data" *ngFor="let hour of hoursRange"></div>

          <!--Tasks-->
          <div *ngFor="let task of filteredTasks" (click)="(task.type === 'block') ? openAvailables(task.block_id,task.date) : (task.type === 'block_payed' || task.type === 'other') ? null : goTo('course-detail', task.booking_id, task.date)"
              [ngClass]="{
                'collective-icon-full': task.type === 'collective',
                'private-icon-full': task.type === 'private',
                'other-icon-full': task.type === 'other',
                'block-icon-full': task.type === 'block',
                'block-payed-icon-full': task.type === 'block_payed',
                'overlapped': task.overlapCount === 2,
                'very-narrow': task.overlapCount >= 3
              }"
              [ngStyle]="getTaskStyle(task)">
            <!--<img [src]="getIconForTaskType(task.type)" class="task-icon-only" />-->
            <!--Collective-->
            <div class="task-content" *ngIf="task.type === 'collective'">
              <img src="assets/icon/course-collective-icon.png" class="task-content-img" />
              <div class="task-content-text">
                <div class="montserrat">{{task.name}}</div>
                <span class="montserrat color-light">
                  {{ 'collective' | translate }}
                  <ng-container *ngIf="task.sport_name && sports.length">
                    {{task.sport_name}}
                  </ng-container>
                </span>
              </div>
              <div class="task-content-icon-list">
                <div class="task-content-icon">
                  <img src="assets/icon/icon-user-tick.png" />
                  <span>{{task.clients}}/{{task.max_participants}}</span>
                </div>
                <div class="task-content-icon">
                  <img src="assets/icon/icon-calendar-tick.png" />
                  <span>{{task.date_index}}/{{task.date_total}}</span>
                </div>
              </div>
            </div>
            <!--Private-->
            <div class="task-content" *ngIf="task.type === 'private'">
              <img src="assets/icon/course-private-icon.png" class="task-content-img" />
              <div class="task-content-text">
                <div class="montserrat">{{task.name}}</div>
                <span class="montserrat color-light">
                  {{ 'private' | translate }}
                  <ng-container *ngIf="task.sport_name && sports.length">
                    {{task.sport_name}}
                  </ng-container></span>
              </div>
            </div>
            <!--Other-->
            <div class="task-content" *ngIf="task.type === 'other'">
              <img src="assets/icon/course-other-icon.png" class="task-content-img" />
              <div class="task-content-text">
                <div class="montserrat">Activité</div>
              </div>
            </div>
            <!--Block-->
            <div class="task-content-block" *ngIf="task.type === 'block'">
              {{task.name}}
            </div>
            <!--Block Payed-->
            <div class="task-content-block" *ngIf="task.type === 'block_payed'">
              {{task.name}}
            </div>

          </div>
        </div>
      </div> 

    </div>

  </div>

  <!--SHOW IN MONTH/WEEK/DAY-->
  <div class="montserrat button-floating btn-back-primary uppercase" (click)="openAvailables()">
    {{ 'availability' | translate }}
  </div>
  
</ion-content>

<app-footer section="calendar"></app-footer>
