<ion-content>
  <div class="content-wrapper dark-background status-bar-overlap-wrapper">
    
      <div class="header-top mb-12">
        <img src="assets/icon/arrow-left.svg" class="header-top-side-img cursor-pointer" (click)="goTo('home')" />
        <div class="header-section-title">
          <img src="assets/icon/icon-notification-blue.png" />
          <div>{{ 'notifications' | translate }}</div>
        </div>
      </div>

      <div class="notifications-actions">
        <div class="filters-row">
          <button class="btn-back-grey montserrat filter-button" type="button" (click)="toggleUnreadOnly()">
            {{ showUnreadOnly ? ('all' | translate) : ('unread' | translate) }}
          </button>
          <div class="date-filter">
            <input type="date" [value]="selectedDate" (change)="onDateChange($event)" />
            <button class="btn-clear montserrat" *ngIf="selectedDate" (click)="clearDateFilter()">✕</button>
          </div>
        </div>
        <button class="btn-back-grey montserrat mark-read-button" type="button" (click)="markAllRead()">{{ 'mark_as_read' | translate }}</button>
      </div>

      <div class="list-box-selector-c">
        <div *ngIf="loading" class="montserrat color-light">{{ 'loading' | translate }}</div>

        <div *ngIf="!loading && filteredNotifications.length === 0" class="montserrat color-light">
          {{ 'no_notifications' | translate }}
        </div>

        <div *ngFor="let notification of filteredNotifications" class="box-selector cursor-pointer pb-12" [ngClass]="{'notification-unread': !notification.read_at}" (click)="openNotification(notification)">
          <div class="box-selector-top">
            <div class="box-selector-date">
              {{ formatDate(notification.created_at) }}
            </div>
            <div class="notification-status" [ngClass]="{'is-unread': !notification.read_at}">
            {{ notification.read_at ? ('read' | translate) : ('unread' | translate) }}
          </div>
          </div>

          <div class="box-selector-middle">
            <div class="box-selector-middle-interior">
              <div class="box-selector-text">
                <div class="montserrat box-selector-title">
                  {{ getDisplayTitle(notification) }}
                </div>
                <div class="montserrat color-light box-selector-subtitle">
                  <span>{{ getDisplayBody(notification) }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="montserrat color-light box-selector-date-small" *ngIf="notification.event_date">
            {{ formatDate(notification.event_date) }}
          </div>
        </div>

      </div>

  </div>
</ion-content>
