<ion-content>
  <div class="content-size dark-background status-bar-overlap">

    <div class="padding-wrapper">
      <div class="header-content no-margin">
        <div class="montserrat level-back color-light cursor-pointer" (click)="goTo('client-detail',clientId)">
          Cancel
        </div>
      </div>
    </div>

    <div class="padding-wrapper">
        <div *ngIf="sportEvaluation" class="flex-sport">
          <img [src]="sportEvaluation.icon_selected" />
          <span class="montserrat">{{sportEvaluation.name}}</span>
        </div>
    </div>
    
        <app-level-wheel *ngIf="clientMonitor && sportDegrees && sportDegrees.length" [allLevels]="sportDegrees" 
          [currentLevel]="clientMonitor.degree_sport" (currentLevelChange)="onCurrentLevelChange($event)"></app-level-wheel>

        
        <div class="padding-wrapper mt-12 mb-12">
          <div class="circle-list-title mb-24">
            <div>Objectifs</div>
            <span class="color-light">{{countGoalsCompleted()}}/{{filteredGoals.length}}</span>
          </div>
          <div class="circle-list">
            <ng-container *ngFor="let goal of filteredGoals;let i=index;">
              <div class="circle-list-item">
                <div class="montserrat circle-list-item-text">
                  {{goal.name}}
                </div>
              </div>
              <ion-range [(ngModel)]="goal.score" [ticks]="true" [snaps]="true" step="5" [min]="0" [max]="10"></ion-range>
              <div class="range-labels mb-24">
                <div class="montserrat color-light">Non accompli</div>
                <div class="montserrat color-light">À améliorer</div>
                <div class="montserrat color-light">Accompli</div>
              </div>
            </ng-container>
          </div>

          <div class="input-label color-light montserrat mt-32">
            Observations:
          </div>
          <textarea [(ngModel)]="observationsEvaluation" class="montserrat textarea-form background-color-dark" rows="5"></textarea>

          <ng-container *ngIf="allGoalsCompleted() && !alreadyCompleted">
            <div class="input-label color-light montserrat mt-12">
              CONFIRMATION DE NIVEAU
            </div>
            <div class="circle-list-item">
              <div class="custom-radio">
                <label class="simple-check-option">
                    <input type="checkbox" [(ngModel)]="completeLevel" />
                    <div class="custom-check"></div>
                </label>
              </div>
              <div class="montserrat color-light circle-list-item-text">
                Confirmez-vous qu'il a terminé le niveau?
              </div>
            </div>
          </ng-container>
        </div>

        <div class="padding-wrapper mt-12 pt-24 top-border-wrapper">

          <div class="flex-title-selector-text mb-12">
            Multimedia
          </div>

          <div class="media-list">
            <div class="media-list-item">
              <img src="assets/icon/icon-camera-photo-box.png" class="box-selector-image cursor-pointer" />
            </div>
            <div class="media-list-item">
              <img src="assets/images/test-photo.jpg" class="box-selector-image cursor-pointer" />
              <div class="media-close-box cursor-pointer">
                <img src="assets/icon/icon-close.png" />
              </div>
            </div>
            <div class="media-list-item">
              <img src="assets/images/test-photo.jpg" class="box-selector-image cursor-pointer" />
              <div class="media-list-video cursor-pointer">
                <img src="assets/icon/play.png" />
              </div>
              <div class="media-close-box cursor-pointer">
                <img src="assets/icon/icon-close.png" />
              </div>
            </div>
          </div>

          <button *ngIf="!alreadyCompleted" (click)="saveEvaluation()" class="content-button btn-back-primary montserrat mt-32 mb-32">
            Sauver progrès
          </button>

          <button *ngIf="alreadyCompleted" class="content-button btn-back-grey montserrat mt-32 mb-32">
            Niveau terminé
          </button>
        </div>

  </div>
</ion-content>