.content-size {
    width:100%;min-height:100%;
}
.padding-wrapper {
    padding:20px 16px;
}
.dark-background {
    width:100%;min-height:100vh;background:var(--ion-back-color-dark);
}
.header-content {
    position:relative;top:0;left:0;width:100%;display:flex;align-items:center;justify-content:center;margin-bottom:60px;
}
.header-content-icon {
    position:absolute;left:0;top: 50%;transform: translateY(-50%);width:28px;
}
.level-back {
    position:absolute;left:0;top: 50%;transform: translateY(-50%);font-size:14px;
}
.level-title {
    font-size:14px;color:#fff;font-weight:500;
}
.flex-sport {
    display:flex;gap:8px;align-items:center;justify-content:center;
}
.flex-sport img {
    width:22px;
}

.flex-members {
    display:flex;width:100%;align-items:center;justify-content:space-between;
}
.flex-members-left {
    display:flex;gap:16px;align-items:center;
}
.flex-user-box {
    display:flex;gap:12px;align-items:center;width:100%;
}
.flex-user-text {
    display:flex;flex-direction:column;gap:6px;
}
.flex-user-text-line {
    display:flex;align-items:center;justify-content:space-between;width:100%;
}
.flex-user-title {
    font-size:15px;font-weight:500;color:#fff;
}
.flex-user-back {
    display:flex;gap:8px;align-items:center;
}
.flex-user-back img {
    width:22px;cursor:pointer;
}
.flex-user-subtitle {
    font-size:14px;color:var(--ion-color-primary);
}
.flex-user-edit {
    width:22px
}
.box-arrow {
    width:28px;height:28px;border-radius:8px;display:flex;align-items:center;justify-content:center;background:#2b303b;
}
.box-arrow img {
    width:22px;
}
.user-image-wrapper {
    position: relative;width: 60px;height: 60px;border-radius: 60px;display: block;margin: 0 auto;
}
.user-image {
    object-fit:cover;width:100%;height:100%;
}
.box-radius {
    width:100%;border-radius:8px;
}
.box-top-no-flex {
    padding:10px 20px;border-bottom:1px solid #43494f;width:100%;white-space: nowrap;overflow-x: auto;
}
.box-top-left {
    display:flex;gap:20px;align-items:center;
}
.opacity-light {
    opacity:0.6;
}
.box-top-icon {
    display:flex;flex-direction:column;gap:8px;align-items:center;justify-content:center;
}
.box-top-icon img {
    width:18px;
}
.box-top-icon div {
    font-size:13px;
}
.content-button {
    width: 100%;height: 44px;line-height: 44px;display: block;text-align: center;border-radius: 44px;color: #000;text-align: center;font-size: 14px;font-weight: 500;cursor:pointer;transition:all ease-in-out 0.3s;
}

.flex-title-selector {
    display:flex;align-items:center;justify-content:space-between;
}
.flex-title-selector-interior {
    display:flex;gap:16px;align-items:center;
}
.flex-title-selector-icon {
    width:40px;height:40px;border-radius:40px;display:flex;align-items:center;justify-content:center;
}
.flex-title-selector-icon img {
    width:20px;
}
.flex-title-selector-text {
    color:#fff;font-size:20px;font-weight:500;
}
.flex-title-selector-arrow {
    width:24px;
}
.flex-title-add {
    display:flex;gap:6px;align-items:center;
}
.flex-title-add img {
    width:18px;
}
.flex-title-add div {
    font-size:13px;
}

.list-box-selector {
    width: 100%;overflow-x: auto;white-space: nowrap;display: flex;gap: 16px;padding: 8px 0;
}
.box-selector {
    display:flex;white-space: normal;width:300px;min-width:300px;padding:12px;flex-direction:column;gap:14px;align-items:flex-start;border-radius:8px;
}
.box-selector-top {
    display:flex;align-items:center;justify-content:space-between;width:100%;
}
.box-selector-middle {
    display:flex;align-items:flex-start;justify-content:space-between;width:100%;
}
.box-selector-bottom {
    display:flex;align-items:center;gap:6px;font-size:13px;
}
.box-selector-date {
    color:#fff;font-size:14px;font-weight:500;
}
.box-selector-price {
    font-size:13px;
}
.box-selector-middle-interior {
    display:flex;align-items:center;gap:6px;
}
.box-selector-image-wrapper {
    width:46px;height:46px;border-radius:8px;position:relative;
}
.box-selector-image {
    object-fit:cover;width:100%;height:100%;border-radius:8px;
}
.box-selector-text {
    display:flex;flex-direction:column;gap:5px;
}
.box-selector-title {
    color:#fff;font-size:14px;
}
.box-selector-subtitle {
    display:flex;align-items:center;gap:6px;font-size:13px;
}
.box-selector-subtitle img {
    width:20px;
}
.box-selector-level {
    font-size: 12px;color: #faafaf;background: #613136;padding: 4px 6px;border-radius: 20px;
}
.box-selector-location {
    width:13px;
}

.box-selector-user {
    display: flex;white-space: normal;width: 120px;min-width: 120px;max-width:120px;padding: 8px 8px;flex-direction: column;gap: 12px;align-items: center;border-radius: 8px;justify-content: flex-start;
}
.box-selector-user-title {
    color:#fff;font-size:14px;line-height:1.3;
}
.top-border-wrapper {
    border-top:1px solid #43494f;
}
.media-list {
    display:flex;width:100%;gap:16px;flex-wrap:wrap;align-items:center;
}
.media-list-item {
    width:100px;height:100px;border-radius:8px;position:relative;
}
.media-list-video {
    position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:40px;height:40px;border-radius:8px;background:rgba(0,0,0,0.4);display:flex;align-items:center;justify-content:center;
}
.media-list-video img {
    width:30px;
}
.media-close-box {
    position:absolute;top:-8px;right:-8px;width:28px;height:28px;border-radius:28px;background:#41454e;display:flex;align-items:center;justify-content:center;
}
.media-close-box img {
    width:12px;
}

.circle-list-title {
    display:flex;width:100%;align-items:center;justify-content:space-between;margin-top:40px;margin-bottom:12px;
}
.circle-list-title div {
    font-size:20px;font-weight:500;
}
.circle-list-title span {
    font-size:15px;
}
.circle-list {
    display:flex;flex-direction:column;gap:10px;
}
.circle-list-item {
    display:flex;gap:12px;align-items:center;
}
.circle-list-check-empty {
    width:18px;min-width:18px;height:18px;background:transparent;border:1px solid #c8c8c8;border-radius:6px;
}
.circle-list-item-text {
    font-size:13px;
}

.input-label {
    font-size:14px;margin-bottom:8px;
}
.textarea-form {
    width:100%;border-radius:12px;color:#fff;padding:12px 16px;margin-bottom:24px;font-size:15px;border:none;background:transparent;outline:0;
}

.custom-radio {
    display: flex;flex-wrap: wrap;gap: 16px;
}
.simple-check-option {
    position: relative;display: inline-block;cursor: pointer;width: 22px;height: 22px;
}
.simple-check-option input[type="checkbox"] {
    display: none;
}
.custom-check {
    position: absolute;top: 0;left: 0;width: 22px;height: 22px;background: transparent;border: 1px solid #c8c8c8;border-radius: 6px;display: block;align-items: center;justify-content: center;
}
.custom-check::before {
    content: "";width: 5px;height: 10px;border: solid white;border-width: 0 2px 2px 0;transform: rotate(45deg);position: absolute;top: 4px;left: 8px;display: none;
}
.simple-check-option input[type="checkbox"]:checked + .custom-check {
    background: var(--ion-color-primary);border:none;
}
.simple-check-option input[type="checkbox"]:checked + .custom-check::before {
    display: block;
}

ion-range {
    padding-left:30px;padding-right:30px;margin-top:-4px;
}
.range-labels {
    display:flex;width:100%;font-size:10px;align-items:center;justify-content:space-between;margin-top:-14px;
}
.range-labels div {
    flex:1;
}
.range-labels div:nth-child(1) {
    text-align:left;
}
.range-labels div:nth-child(2) {
    text-align:center;
}
.range-labels div:nth-child(3) {
    text-align:right;
}

.completed-banner {
    width: 100%;text-align: center;font-weight: 600;font-size: 18px;margin-bottom: -32px;
}