.content-wrapper {
    width:100%;min-height:100%;padding:20px 16px;
}
.header-content {
    position:relative;top:0;left:0;width:100%;display:flex;align-items:center;justify-content:center;margin-bottom:60px;
}
.header-logo {
    width:100px;
}
.header-back {
    position:absolute;left:0;top: 50%;transform: translateY(-50%);width:34px;height:34px;border-radius:12px;display:flex;align-items:center;justify-content:center;
}
.header-back-icon {
    width:22px;
}
.content-title {
    color: #fff;text-align: left;font-size: 24px;font-weight: 600;line-height: 1.2;margin-bottom:24px;
}
.content-title-b {
    color: #fff;text-align: left;font-size: 21px;font-weight: 600;line-height: 1.2;margin-bottom:12px;
}
.content-subtitle {
    font-size:14px;margin-bottom:24px;
}
.input-label {
    font-size:14px;margin-bottom:8px;
}
.input-form-icon {
    width:100%;height:48px;border-radius:12px;color:#fff;padding:0 16px;display:flex;align-items:center;gap:9px;margin-bottom:24px;
}
.input-form-icon img {
    width:18px;position:relative;top:-1px;
}
.input-form-icon input {
    color:#fff;font-size:15px;width:100%;border:none;background:transparent;outline:0;
}
.content-button {
    width: 100%;height: 44px;line-height: 44px;display: block;text-align: center;border-radius: 44px;color: #000;text-align: center;font-size: 14px;font-weight: 500;cursor:pointer;transition:all ease-in-out 0.3s;
}
.content-footer {
    text-align: center;margin-top: 18px;font-size: 15px;
}