<ion-content>
  <div class="content-wrapper no-padding content-background-image">

    <!-- STEP 1 -->
    <ng-container *ngIf="showStep1">
      <div class="header-full-progress padding-wrapper background-color-dark status-bar-overlap-wrapper">
        <div class="header-progress">
          <div class="header-back-flex mr-16 cursor-pointer" (click)="goTo('start')">
            <img src="assets/icon/arrow-left.svg" class="header-back-icon" />
          </div>
          <div class="progress-bar-33"></div>
          <div class="cursor-pointer" (click)="goTo('start')">
            Cancel
          </div>
        </div>

        <div class="content-title-b">
          Ton compte a Boukii
        </div>
        <div class="content-subtitle color-light montserrat no-margin">
          Lorem ipsum dolor sit amet, consectetur
        </div>
      </div>

      <div class="padding-wrapper">
        <div class="pb-24">
          <div class="input-label color-light montserrat">
            Email
          </div>
          <div class="input-form-icon background-color-dark">
            <img src="assets/icon/icon-mail.png" />
            <input class="montserrat" type="text" />
          </div>
          <div class="input-label color-light montserrat">
            Password
          </div>
          <div class="input-form-icon background-color-dark">
            <img src="assets/icon/icon-password.png" />
            <input class="montserrat" [type]="showPassword ? 'text' : 'password'" />
            <img class="cursor-pointer" src="assets/icon/icon-eye.png" (click)="togglePassword()" />
          </div>

        </div>
        <button (click)="showStep1=false;showStep2=true;" class="content-button btn-back-primary montserrat">
          Continue
        </button>
        <div class="content-footer-policy color-light montserrat mb-32">
          Vous acceptez les <span class="cursor-pointer"><u>Conditions d'utilisation</u></span> et la <span class="cursor-pointer"><u>Politique de confidentialité</u></span> de Boukii
        </div>
      </div>
    </ng-container>

    <!-- STEP 2 -->
    <ng-container *ngIf="showStep2">
      <div class="header-full-progress padding-wrapper background-color-dark status-bar-overlap-wrapper">
        <div class="header-progress">
          <div class="header-back-flex mr-16 cursor-pointer" (click)="showStep1=true;showStep2=false;">
            <img src="assets/icon/arrow-left.svg" class="header-back-icon" />
          </div>
          <div class="progress-bar-66"></div>
          <div class="cursor-pointer" (click)="goTo('start')">
            Cancel
          </div>
        </div>

        <div class="content-title-b">
          Données personelles
        </div>
        <div class="content-subtitle color-light montserrat no-margin">
          Lorem ipsum dolor sit amet, consectetur
        </div>
      </div>

      <div class="padding-wrapper">
        <div class="user-image-wrapper mb-24">
          <img src="assets/icon/icons-outline-default-avatar.svg" class="user-image" />
          <div class="user-image-add cursor-pointer">
            <img src="assets/icon/icon-camera-black.png" />
          </div>
        </div>
        <div class="pb-24">
          <div class="inputs-flex">
            <div>
              <div class="input-label color-light montserrat">
                Nom
              </div>
              <div class="input-form-icon background-color-dark">
                <input class="montserrat" type="text" />
              </div>
            </div>
            <div>
              <div class="input-label color-light montserrat">
                Prenom
              </div>
              <div class="input-form-icon background-color-dark">
                <input class="montserrat" type="text" />
              </div>
            </div>
          </div>
          <div class="input-label color-light montserrat mb-12">
            Adresse
          </div>
          <div class="input-form-icon background-color-dark">
            <input class="montserrat" type="text" placeholder="Rue, nº" />
          </div>
          <div class="input-form-icon background-color-dark">
            <input class="montserrat" type="text" placeholder="Ville" />
          </div>
          <div class="inputs-flex">
            <div class="input-form-icon background-color-dark width-40">
              <input class="montserrat" type="text" placeholder="NPA" />
            </div>
            <div class="input-form-icon background-color-dark width-60">
              <input class="montserrat" type="text" placeholder="Pays" />
            </div>
          </div>

          <div class="input-label color-light montserrat">
            Date de naissance
          </div>
          <div class="input-form-icon background-color-dark">
            <img src="assets/icon/icon-birth.png" />
            <input class="montserrat" type="date" />
          </div>
          <div class="input-label color-light montserrat">
            Mobile
          </div>
          <div class="input-form-icon background-color-dark">
            <img src="assets/icon/icon-phone.png" />
            <input class="montserrat" type="text" />
          </div>
          <div class="input-label color-light montserrat">
            Teléphone
          </div>
          <div class="input-form-icon background-color-dark">
            <img src="assets/icon/icon-phone.png" />
            <input class="montserrat" type="text" />
          </div>

        </div>
        <button (click)="showStep2=false;showStep3=true;" class="content-button btn-back-primary montserrat mb-32">
          Continue
        </button>
      </div>
    </ng-container>

    <!-- STEP 3 -->
    <ng-container *ngIf="showStep3">
      <ng-container *ngIf="!showLevel">
        <div class="header-full-progress padding-wrapper background-color-dark status-bar-overlap-wrapper">
          <div class="header-progress">
            <div class="header-back-flex mr-16 cursor-pointer" (click)="showStep2=true;showStep3=false;">
              <img src="assets/icon/arrow-left.svg" class="header-back-icon" />
            </div>
            <div class="progress-bar-100"></div>
            <div class="cursor-pointer" (click)="goTo('start')">
              Cancel
            </div>
          </div>

          <div class="content-title-b">
            Tes sports préférés
          </div>
          <div class="content-subtitle color-light montserrat no-margin">
            Lorem ipsum dolor sit amet, consectetur
          </div>
        </div>

        <div class="padding-wrapper">
          <div class="pb-24">

            <div class="flex-sections mb-24">
              <div [ngClass]="showWinter ? 'section-selected' : 'section-title'" (click)="showWinter=true;showSummer=false;showOther=false;">
                Hiver
                <div *ngIf="showWinter" class="section-bullet"></div>
              </div>
              <div [ngClass]="showSummer ? 'section-selected' : 'section-title'" (click)="showWinter=false;showSummer=true;showOther=false;">
                Été
                <div *ngIf="showSummer" class="section-bullet"></div>
              </div>
              <div [ngClass]="showOther ? 'section-selected' : 'section-title'" (click)="showWinter=false;showSummer=false;showOther=true;">
                Autres
                <div *ngIf="showOther" class="section-bullet"></div>
              </div>
            </div>
            
            <div class="custom-radio mb-32">
              <label *ngFor="let sport of dataSports" class="radio-option background-color-dark" (click)="!sport.checked && doShowLevel(sport)">
                <input type="checkbox" [(ngModel)]="sport.checked" [value]="sport.checked" />
                <div class="radio-wrapper">
                  <img [src]="sport.image" />
                  <span class="montserrat">{{sport.name}}</span>
                  <div class="extra-check montserrat color-primary" (click)="doShowLevel(sport)">
                    FORMATION
                  </div>
                </div>
                <div class="custom-check"></div>
              </label>
            
            </div>

          </div>
          <button [disabled]="!isAnySportChecked()" (click)="goTo('register-complete')" class="content-button btn-back-primary montserrat mb-32">
            Enregistrement complet!
          </button>
        </div>
      </ng-container>

      <!-- LEVEL - (inside Step 3) -->
      <ng-container >
        <div class="dark-background status-bar-overlap" [hidden]="!showLevel">
          <div class="padding-wrapper">
            <div class="header-content no-margin">
              <div class="montserrat level-back color-light cursor-pointer" (click)="showLevel=false;">
                Cancel
              </div>
              <div class="level-title">
                Formation
              </div>
            </div>
          </div>
    
          <div class="padding-wrapper">
              <div *ngIf="selectedSport" class="flex-sport">
                <img [src]="selectedSport.image" />
                <span>{{selectedSport.name}}</span>
              </div>

              <!-- When formations list then put it in a select-->
              <!--
              <div class="input-label color-light montserrat mt-24">
                Formation existante
              </div>
              <div class="input-form-icon background-color-dark">
                <select class="montserrat" placeholder="Sélectionnez">
                  <option value="Formation">Formation</option>
                </select>
              </div>
              -->

              <div class="input-label color-light montserrat mt-24">
                Formation
              </div>
              <div class="input-form-icon background-color-dark">
                <input class="montserrat" type="text" />
              </div>

              <div class="input-label color-light montserrat mt-24">
                Preuve de formation
              </div>
              <div class="position-relative">
                <label for="file-upload" class="custom-file-upload montserrat">
                  Upload PDF
                </label>
                <input id="file-upload" type="file" accept=".pdf" class="file-display-none" />
              </div>
          </div>

          <div class="padding-wrapper mt-32">
            <button (click)="updateLevel()" class="content-button btn-back-primary montserrat">
              Confirmer formation
            </button>
          </div>
        </div>
      </ng-container>

    </ng-container>

  </div>
</ion-content>
