<ion-content>
  <div class="content-size dark-background status-bar-overlap">

    <div class="padding-wrapper">
      <div class="header-content mb-8">
        <img src="assets/icon/arrow-left.svg" class="cursor-pointer header-content-icon" (click)="goTo('course-detail',bookingId,dateBooking)" />
        <div class="header-top-title">
          {{ 'confirm_participation' | translate }}
        </div>
      </div>

    </div>

    <div class="padding-wrapper">

        <div *ngIf="courseBookings" class="member-list">

          <div *ngFor="let booking of courseBookings.client_bookings" class="pb-8 mb-8 member-list-item-b">
            <div class="member-list-item-inside">
              <div class="member-item-img">
                <img [src]="booking.client.client.image ? booking.client.client.image : 'assets/icon/icons-outline-default-avatar.svg'" />
              </div>
              <div class="member-item-flex">
                <div class="member-item-content">
                  <div class="member-item-title">
                    <div class="montserrat">{{booking.client.client.first_name}} {{booking.client.client.last_name}}</div>
                  </div>
                  <div class="member-item-subtitle">
                    <span class="montserrat">
                      <ng-container *ngIf="booking.client.client.language1_id">
                        {{getLanguageById(booking.client.client.language1_id)}} ·
                      </ng-container>
                      {{getCountryById(booking.client.client.country)}} · {{getBirthYears(booking.client.client.birth_date)}} {{ 'years' | translate }}
                    </span>
                    <!--<div class="montserrat">
                      <div class="member-item-bullet"></div>NON PAYÉ
                    </div>-->
                  </div>
                </div>
              </div>
            </div>

            <div class="list-check-small pt-8">
              
              <ng-container *ngFor="let date of booking.bookings">
                <div *ngIf="isDateBeforeOrEqualToToday(date.date)" class="check-small-flex">
                  <div class="custom-radio-small cursor-pointer">
                    <label class="simple-check-option-small">
                        <input type="checkbox" [(ngModel)]="date.attended" />
                        <div class="custom-check-small"></div>
                    </label>
                  </div>
                  <div class="montserrat color-light">{{getDateFormat(date.date)}}</div>
                </div>
              </ng-container>

            </div>

          </div>
          
        </div>

        <button (click)="saveConfirm()" class="content-button btn-back-primary montserrat mb-32 mt-32">
          {{ 'confirm' | translate }}
        </button>

      </div>

  </div>

</ion-content>