<ion-content>
    <div class="content-size content-background-image status-bar-overlap">

      <div class="background-color-dark padding-wrapper">
        <div class="header-content pt-24 mb-12">
          <img src="assets/icon/arrow-left.svg" class="cursor-pointer header-content-icon" (click)="goTo('home')" />
        </div>

        <div class="header-user-data">
          <div class="header-user-data-img">
            <img src="assets/images/test-photo.jpg" />
          </div>
          <div class="header-user-data-text">
            <div class="header-user-data-text-top">
              <div class="color-light">
                FR · SUISSE · 31 ANS
              </div>
              <img src="assets/icon/icons-outline-edit-white.svg" class="cursor-pointer" (click)="goTo('monitor-profile')" />
            </div>
            <div class="header-user-data-text-title">Marco Raymond</div>
            <span class="montserrat color-primary header-user-data-text-subtitle">@MRaymond</span>
          </div>
        </div>
      </div>

      <div class="padding-wrapper">

        <div class="flex-title-selector mt-24 mb-8 cursor-pointer" (click)="goTo('monitor-profile')">
          <div class="flex-title-selector-interior">
            <div class="flex-title-selector-text">
              Sports
            </div>
          </div>
          <img src="assets/icon/icons-outline-arrow-right-3-white.svg" class="flex-title-selector-arrow cursor-pointer" />
        </div>

        <div class="list-box-selector mt-12">

          <div class="background-color-dark cursor-pointer box-sport">
            <img src="assets/icon/icons-outline-disciplinas-1.svg" />
            <div class="montserrat">Ski</div>
            <span class="color-primary montserrat">FORMATION</span>
          </div>

          <div class="background-color-dark cursor-pointer box-sport">
            <img src="assets/icon/icons-outline-disciplinas-2.svg" />
            <div class="montserrat">Snowboard</div>
            <span class="color-primary montserrat">FORMATION</span>
          </div>

          <div class="background-color-dark cursor-pointer box-sport">
            <img src="assets/icon/icon-add-square.png" />
            <div class="montserrat">New sport</div>
          </div>

        </div>


        <div class="flex-title-selector mt-32 mb-8 cursor-pointer">
          <div class="flex-title-selector-interior">
            <div class="flex-title-selector-text">
              Écoles
            </div>
          </div>
          <img src="assets/icon/icons-outline-arrow-right-3-white.svg" class="flex-title-selector-arrow cursor-pointer" />
        </div>

        <div class="list-box-selector mt-12">

          <div class="background-color-dark cursor-pointer box-school">
            <div class="box-item-top">
              <div class="box-item-left">
                <div class="box-item-left-img">
                  <!--<img src="assets/icon/icon-no-image.png" class="box-item-img-none" />-->
                  <img src="assets/images/test-course.jpg" class="box-item-img" />
                </div>
                <div class="box-item-left-text">
                  <span class="montserrat color-light">Les Paccots</span>
                  <div class="montserrat">ESS Les Paccots</div>
                  <div class="box-item-left-text-icons">
                    <img src="assets/icon/main_ski_on.png" />
                    <img src="assets/icon/main_snowboard_on.png" />
                    <img src="assets/icon/main_srando_off.png" />
                    <img src="assets/icon/main_telemark_off.png" />
                  </div>
                </div>
              </div>
              <div class="box-school-icons">
                <img src="assets/icon/icon-calendar-edit.png" class="box-item-icon" />
                <img src="assets/icon/icon-more.png" class="box-item-icon" />
              </div>
            </div>
          </div>

          <div class="background-color-dark cursor-pointer box-school">
            <div class="box-item-top">
              <div class="box-item-left">
                <div class="box-item-left-img">
                  <img src="assets/icon/icon-no-image.png" class="box-item-img-none" />
                  <!--<img src="assets/images/test-course.jpg" class="box-item-img" />-->
                </div>
                <div class="box-item-left-text">
                  <span class="montserrat color-light">Les Paccots</span>
                  <div class="montserrat">ESS Les Paccots</div>
                  <div class="box-item-left-text-icons">
                    <img src="assets/icon/main_ski_on.png" />
                    <img src="assets/icon/main_snowboard_on.png" />
                    <img src="assets/icon/main_srando_off.png" />
                    <img src="assets/icon/main_telemark_off.png" />
                  </div>
                </div>
              </div>
              <div class="box-school-icons">
                <img src="assets/icon/icon-calendar-edit.png" class="box-item-icon" />
                <img src="assets/icon/icon-more.png" class="box-item-icon" />
              </div>
            </div>
          </div>

        </div>
        
      </div>

    </div>

</ion-content>