<ion-content>
  <div class="content-size dark-background">

      <div class="content-img-wrapper">
        <div class="wrapper-back"></div>
        <img *ngIf="monitorStation && monitorStation.image" [src]="monitorStation.image" class="content-img-back" />
        <img src="assets/images/boukii-logo.png" class="box-icon-logo" />
        <!-- PENDIENTEHACER
        <div class="box-icon-left cursor-pointer" (click)="goTo('notifications')">
          <img src="assets/icon/icon-notification.png" />
          <div class="bullet-notification"></div>
        </div>
        -->
        <div class="box-icon-right cursor-pointer" (click)="toggleMenu()">
          <img src="assets/icon/icon-menu.png" />
        </div>

        <div *ngIf="monitorData" class="content-img-text cursor-pointer" (click)="goTo('monitor-profile')">
          <div class="content-img-text-img">
            <img [src]="monitorData.image ? monitorData.image : 'assets/icon/icons-outline-default-avatar.svg'" />
          </div>
          <div class="flex-user-text">
            <div *ngIf="monitorSchool && monitorSchool.name" class="color-light flex-user-subtitle uppercase">{{monitorSchool.name}}</div>
            <div class="flex-user-title">
              <div>{{ monitorData.first_name }} {{ monitorData.last_name }}</div>
              <img src="assets/icon/icons-outline-arrow-right-3-white.svg" />
            </div>
          </div>
        </div>
      </div>


    <div class="padding-wrapper">

      <div class="mb-24 content-title-day">
        <div class="content-title-day-subheader">
          <img src="assets/icon/icons-outline-calendar-1-blue.svg" />
          <div class="montserrat capitalize">{{todayDateFull}}</div>
        </div>
        <div class="content-title-day-header">La journee</div>
      </div>
      
      <ng-container *ngIf="meteo && meteo.length">
        <div class="montserrat mb-8 color-light title-selector-small cursor-pointer" (click)="goTo('meteo')">
          MÉTÉO
        </div>

        <div class="background-color-dark box-radius flex-weather pt-12 pb-12 cursor-pointer" (click)="goTo('meteo')">
          <div class="flex-weather-item">
            <div class="color-light montserrat">{{meteo[0].time}}</div>
            <img [src]="'assets/icon/weather/' + meteo[0].icon + '.png'" />
            <div class="montserrat">{{meteo[0].temperature}}º</div>
          </div>
          <div class="flex-weather-item">
            <div class="color-light montserrat">{{meteo[4].time}}</div>
            <img [src]="'assets/icon/weather/' + meteo[4].icon + '.png'" />
            <div class="montserrat">{{meteo[4].temperature}}º</div>
          </div>
          <div class="flex-weather-item">
            <div class="color-light montserrat">{{meteo[8].time}}</div>
            <img [src]="'assets/icon/weather/' + meteo[8].icon + '.png'" />
            <div class="montserrat">{{meteo[8].temperature}}º</div>
          </div>
        </div>
      </ng-container>

      <!--Title selector-->
      <div class="flex-title-selector mt-32 mb-8 cursor-pointer" (click)="goTo('calendar')">
        <div class="flex-title-selector-interior">
          <div class="flex-title-selector-text">
            Agenda
          </div>
        </div>
        <img src="assets/icon/icons-outline-arrow-right-3-white.svg" class="flex-title-selector-arrow cursor-pointer" />
      </div>

      <div class="list-box-selector-b mb-12">
        <!--1-->
        <div class="background-grey-translucent box-selector-type cursor-pointer">
          <img src="assets/icon/course-collective-box.png" />
          <div class="montserrat color-light">Collectif</div>
          <span>{{courseCollectiveToday}}</span>
        </div>
        <!--2-->
        <div class="background-grey-translucent box-selector-type cursor-pointer">
          <img src="assets/icon/course-private-box.png" />
          <div class="montserrat color-light">Privés</div>
          <span>{{coursePrivateToday}}</span>
        </div>
        <!--3-->
        <div class="background-grey-translucent box-selector-type cursor-pointer">
          <img src="assets/icon/course-other-box.png" />
          <div class="montserrat color-light">Autres</div>
          <span>{{courseActivityToday}}</span>
        </div>

      </div>



      <div class="list-box-selector mt-24">
        <!--1-->
        <div *ngFor="let booking of bookingsToday" class="background-color-dark box-selector cursor-pointer" (click)="goTo('course-detail',booking.id,todayDate)">
          <div class="box-selector-top">
            <div class="box-selector-date">
              {{formatTimeRange(booking.hour_start,booking.hour_end)}}
            </div>
          </div>

          <div class="box-selector-middle">
            <div class="box-selector-middle-interior">
              <div class="box-selector-image-wrapper">
                <img *ngIf="booking.course.course_type == 1" src="assets/icon/course-collective-box.png" class="box-selector-image" />
                <img *ngIf="booking.course.course_type == 2" src="assets/icon/course-private-box.png" class="box-selector-image" />
              </div>
              <div class="box-selector-text">
                <div class="montserrat box-selector-title">
                  {{booking.course.name}}
                </div>
                <div class="montserrat color-light box-selector-subtitle">
                  <span>
                    <ng-container *ngIf="booking.course.course_type == 1">
                      Collectif
                    </ng-container>
                    <ng-container *ngIf="booking.course.course_type == 2">
                      Privé
                    </ng-container>
                    <ng-container *ngIf="booking.course_sport && sports.length">
                      {{booking.course_sport.name}}
                    </ng-container>
                  </span>
                </div>
              </div>
            </div>
            <!--CAMBIAR CUANDO TENGAS DEGREES CORRECTOS-->
            <div class="box-selector-level color-light" *ngIf="booking.course.course_type == 1 && booking.course_degree && degrees.length"
                [ngStyle]="{'background': booking.course_degree.color}">
              {{booking.course_degree.annotation}}
            </div>
          </div>

          <div class="box-selector-bottom-wrapper">
            <div class="box-selector-bottom-left">
              <div class="montserrat color-light box-selector-bottom">
                <img src="assets/icon/icon-user-tick.png" class="box-selector-location" />
                <span>{{booking.all_clients.length}}/{{booking.course.max_participants}}</span>
              </div>
              <div *ngIf="booking.course.course_type == 1" class="montserrat color-light box-selector-bottom">
                <img src="assets/icon/icon-calendar-tick.png" class="box-selector-location" />
                <span>{{getPositionDate(booking.course.course_dates, booking.course_date_id)}}/{{booking.course.course_dates.length}}</span>
              </div>
            </div>
            <div class="box-selector-bottom-right">
              <div class="box-selector-bottom-users">
                <div *ngFor="let client of booking.all_clients">
                  <img [src]="client.image ? client.image : 'assets/icon/icons-outline-default-avatar.svg'" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>




      <!--Selectors-->
      <!--
      <div class="list-box-selector mt-24">
        
        <div class="background-color-dark box-selector cursor-pointer" (click)="goTo('course-detail')">
          <div class="box-selector-top">
            <div class="box-selector-date">
              10:00-12:00
            </div>
          </div>

          <div class="box-selector-middle">
            <div class="box-selector-middle-interior">
              <div class="box-selector-image-wrapper">
                <img src="assets/icon/course-collective-box.png" class="box-selector-image" />
              </div>
              <div class="box-selector-text">
                <div class="montserrat box-selector-title">
                  Advanced
                </div>
                <div class="montserrat color-light box-selector-subtitle">
                  <span>Collectif Ski</span>
                </div>
              </div>
            </div>
            <div class="box-selector-level">
              ROI RED
            </div>
          </div>

          <div class="box-selector-bottom-wrapper">
            <div class="box-selector-bottom-left">
              <div class="montserrat color-light box-selector-bottom">
                <img src="assets/icon/icon-user-tick.png" class="box-selector-location" />
                <span>5/6</span>
              </div>
              <div class="montserrat color-light box-selector-bottom">
                <img src="assets/icon/icon-calendar-tick.png" class="box-selector-location" />
                <span>3/6</span>
              </div>
            </div>
            <div class="box-selector-bottom-right">
              <div class="montserrat box-selector-bottom-number">1</div>
              <div class="box-selector-bottom-users">
                <div>
                  <img src="assets/icon/icons-outline-default-avatar.svg" />
                </div>
                <div>
                  <img src="assets/icon/icons-outline-default-avatar.svg" />
                </div>
                <div>
                  <img src="assets/images/test-photo.jpg" />
                </div>
              </div>
            </div>
          </div>
        </div>

        
        <div class="background-color-dark box-selector cursor-pointer" (click)="goTo('course-detail')">
          <div class="box-selector-top">
            <div class="box-selector-date">
              14:00-16:00
            </div>
          </div>

          <div class="box-selector-middle">
            <div class="box-selector-middle-interior">
              <div class="box-selector-image-wrapper">
                <img src="assets/icon/course-private-box.png" class="box-selector-image" />
              </div>
              <div class="box-selector-text">
                <div class="montserrat box-selector-title">
                  Advanced
                </div>
                <div class="montserrat color-light box-selector-subtitle">
                  <span>Privé Ski</span>
                </div>
              </div>
            </div>
            <div class="box-selector-level">
              ROI RED
            </div>
          </div>

          <div class="box-selector-bottom-wrapper">
            <div class="box-selector-bottom-left">
              <div class="montserrat color-light box-selector-bottom">
                <img src="assets/icon/icon-user-tick.png" class="box-selector-location" />
                <span>5/6</span>
              </div>
              <div class="montserrat color-light box-selector-bottom">
                <img src="assets/icon/icon-calendar-tick.png" class="box-selector-location" />
                <span>3/6</span>
              </div>
            </div>
            <div class="box-selector-bottom-right">
              <div class="montserrat box-selector-bottom-number">1</div>
              <div class="box-selector-bottom-users">
                <div>
                  <img src="assets/icon/icons-outline-default-avatar.svg" />
                </div>
                <div>
                  <img src="assets/icon/icons-outline-default-avatar.svg" />
                </div>
                <div>
                  <img src="assets/images/test-photo.jpg" />
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    -->


    </div>

  </div>
</ion-content>

<app-footer section="home"></app-footer>