.content-size {
    width:100%;min-height:100%;
}
.dark-background {
    width:100%;min-height:100vh;background:var(--ion-back-color-dark);
}
.padding-wrapper {
    padding:20px 16px;
}
.header-content {
    width:100%;display:flex;align-items:center;justify-content:space-between;
}
.header-logo {
    width:100px;
}
.header-back {
    width:34px;height:34px;border-radius:12px;display:flex;align-items:center;justify-content:center;
}
.header-back-icon {
    width:22px;
}


.content-img-wrapper {
    width:100%;height:calc(200px + env(safe-area-inset-top));position:relative;
}
.content-img-back {
    object-fit:cover;width:100%;height:100%;
}
.content-img-text {
    position:absolute;bottom:16px;left:16px;display:flex;flex-direction:row;gap:12px;align-items:center;
}
.content-img-text-img {
    width:54px;min-width:54px;height:54px;border-radius:54px;position:relative;
}
.content-img-text-img img {
    object-fit:cover;width:100%;height:100%;border-radius:100%;
}
.content-img-title {
    font-size:24px;font-weight:600;color:#fff;
}
.content-img-text-flex {
    display:flex;gap:4px;align-items:center;
}
.content-img-text-flex img {
    width:22px;
}
.content-img-text-flex div {
    font-size:14px;color:#fff;
}
.wrapper-back {
    position: absolute;bottom: 0;left: 0;width: 100%;height: 70%;background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.4) 70%, transparent 100%);z-index:0;
}
.box-icon-logo {
    position:absolute;top:calc(16px + env(safe-area-inset-top));left:50%;transform:translateX(-50%);width:90px;
}
.box-icon-left {
    position:absolute;top:calc(16px + env(safe-area-inset-top));left:16px;width:28px;height:28px;border-radius:8px;display:flex;align-items:center;justify-content:center;background:#2b303b;
}
.box-icon-left img {
    width:16px;
}
.box-icon-right {
    position:absolute;top:calc(16px + env(safe-area-inset-top));right:16px;width:28px;height:28px;border-radius:8px;display:flex;align-items:center;justify-content:center;background:#2b303b;
}
.box-icon-right img {
    width:14px;
}
.menu-badge {
    min-width: 16px;height: 16px;padding: 0 4px;border-radius: 8px;background: var(--ion-color-primary);color: #fff;font-size: 10px;line-height: 16px;text-align: center;position:absolute;top:-6px;right:-6px;
}
.menu-badge-hidden {
    display:none;
}
.bullet-notification {
    width: 12px;height: 12px;border-radius: 6px;background: var(--ion-color-primary);position: absolute;top: 2px;left: 50%;transform: translateX(-50%);margin-left:6px;
}

.content-title-day {
    display:flex;flex-direction:column;gap:8px;
}
.content-title-day-subheader {
    display:flex;align-items:center;gap:8px;
}
.content-title-day-subheader img {
    width:20px;
}
.content-title-day-subheader div {
    font-size:13px;
}
.content-title-day-header {
    font-size:26px;color:#fff;font-weight:600;
}

.title-selector-small {
    font-size:12px;
}
.flex-weather {
    display:flex;width:100%;align-items:center;justify-content:space-around;padding:6px 2px;
}
.flex-weather-item {
    flex:1;display:flex;flex-direction:column;gap:4px;justify-content:center;align-items:center;
}
.flex-weather-item img {
    width:22px;
}
.flex-weather-item div {
    font-size:13px;
}

.flex-members {
    display:flex;width:100%;align-items:center;justify-content:space-between;
}
.flex-members-left {
    display:flex;gap:16px;align-items:center;width:100%;
}
.flex-user-box {
    display:flex;gap:8px;align-items:center;width:100%;
}
.flex-user-text {
    display:flex;flex-direction:column;gap:3px;width:100%;
}
.flex-user-title {
    display:flex;align-items:center;gap:8px;
}
.flex-user-title div {
    font-size:15px;font-weight:500;color:#fff;
}
.flex-user-title img {
    width:24px;
}
.flex-user-subtitle {
    font-size:10px;font-weight: 500;
}
.box-arrow {
    width:28px;height:28px;border-radius:8px;display:flex;align-items:center;justify-content:center;background:#2b303b;
}
.box-arrow img {
    width:22px;
}
.user-image-wrapper {
    position: relative;width: 60px;height: 60px;border-radius: 60px;display: block;margin: 0 auto;
}
.user-image {
    object-fit:cover;width:100%;height:100%;
}
.box-radius {
    width:100%;border-radius:8px;
}
.box-top {
    padding:10px 20px;border-bottom:1px solid #43494f;display:flex;width:100%;align-items:center;justify-content:space-between;
}
.box-top-left {
    display:flex;gap:20px;align-items:center;
}
.opacity-light {
    opacity:0.6;
}
.box-top-icon {
    display:flex;flex-direction:column;gap:8px;align-items:center;justify-content:center;
}
.box-top-icon img {
    width:18px;
}
.box-top-icon div {
    font-size:13px;
}
.content-button {
    width: 100%;height: 44px;line-height: 44px;display: block;text-align: center;border-radius: 44px;color: #000;text-align: center;font-size: 14px;font-weight: 500;cursor:pointer;transition:all ease-in-out 0.3s;
}

.flex-title-selector {
    display:flex;align-items:center;justify-content:space-between;
}
.flex-title-selector-interior {
    display:flex;gap:16px;align-items:center;
}
.flex-title-selector-icon {
    width:40px;height:40px;border-radius:40px;display:flex;align-items:center;justify-content:center;
}
.flex-title-selector-icon img {
    width:20px;
}
.flex-title-selector-text {
    color:#fff;font-size:22px;font-weight:500;
}
.flex-title-selector-arrow {
    width:24px;
}

.list-box-selector {
    width: 100%;overflow-x: auto;white-space: nowrap;display: flex;gap: 16px;padding: 8px 0;
}
.list-box-selector-b {
    width: 100%;display: flex;padding: 8px 0;gap:16px;
}
.box-selector {
    display:flex;white-space: normal;width:300px;min-width:300px;padding:12px;flex-direction:column;gap:14px;align-items:flex-start;border-radius:8px;
}
.box-selector-top {
    display:flex;align-items:center;justify-content:space-between;width:100%;
}
.box-selector-middle {
    display:flex;align-items:flex-start;justify-content:space-between;width:100%;
}
.box-selector-bottom-wrapper {
    display:flex;align-items:center;justify-content:space-between;width:100%;
}
.box-selector-bottom {
    display:flex;align-items:center;gap:6px;font-size:13px;
}
.box-selector-bottom-left {
    display:flex;align-items:center;gap:16px;
}
.box-selector-bottom-right {
    display:flex;align-items:center;gap:16px;
}
.box-selector-bottom-number {
    width:16px;height:16px;border-radius:16px;background:#e9484a;color:#fff;font-size:11px;display:flex;align-items:center;justify-content:center;
}
.box-selector-bottom-users {
    display:block;position:relative;width:40px;height:40px;
}
.box-selector-bottom-users img {
    object-fit:cover;width:100%;height:100%;border-radius:100%;
}
.box-selector-bottom-users div {
    width:40px;height:40px;position:absolute;border-radius:40px;border:1px solid var(--ion-back-color-dark);
}
.box-selector-bottom-users div:nth-child(1) {
    right:0px;
}
.box-selector-bottom-users div:nth-child(2) {
    right:6px;
}
.box-selector-bottom-users div:nth-child(3) {
    right:12px;
}
.box-selector-date {
    color:#fff;font-size:14px;font-weight:500;
}
.box-selector-price {
    font-size:13px;
}
.box-selector-middle-interior {
    display:flex;align-items:center;gap:6px;
}
.box-selector-image-wrapper {
    width:46px;height:46px;border-radius:8px;position:relative;
}
.box-selector-image {
    object-fit:cover;width:100%;height:100%;border-radius:8px;
}
.box-selector-text {
    display:flex;flex-direction:column;gap:5px;
}
.box-selector-title {
    color:#fff;font-size:14px;
}
.box-selector-subtitle {
    display:flex;align-items:center;gap:6px;font-size:13px;
}
.box-selector-subtitle img {
    width:20px;
}
.box-selector-level {
    font-size: 12px;padding: 4px 6px;border-radius: 20px;
}
.box-selector-location {
    width:13px;
}

.box-selector-user {
    display: flex;white-space: normal;width: 120px;min-width: 120px;max-width:120px;padding: 8px 8px;flex-direction: column;gap: 12px;align-items: center;border-radius: 8px;justify-content: flex-start;
}
.box-selector-user-title {
    color:#fff;font-size:14px;line-height:1.3;
}

.background-grey-translucent {
    background:rgba(65,69,78,0.4);
}
.box-selector-type {
    display:flex;flex:1;padding:12px 6px;flex-direction: column;gap:4px;align-items: center;border-radius: 8px;justify-content: flex-start;
}
.box-selector-type img {
    width:50px;
}
.box-selector-type div {
    font-size:12px;margin-top:6px;
}
.box-selector-type span {
    font-size:15px;font-weight:500;
}
.empty-courses {
    padding:12px 14px;text-align:center;font-size:13px;
}

.capitalize {
    text-transform:capitalize;
}
.uppercase {
    text-transform:uppercase;
}
