.content-page {
    width:100%;min-height:100%;
}
.padding-wrapper {
    padding:20px 16px;
}
.dark-background {
    width:100%;min-height:100vh;background:var(--ion-back-color-dark);
}
.header-content {
    position:relative;top:0;left:0;width:100%;display:flex;align-items:center;justify-content:center;margin-bottom:60px;
}
.level-back {
    position:absolute;left:0;top: 50%;transform: translateY(-50%);font-size:14px;
}
.level-title {
    font-size:14px;color:#fff;font-weight:500;
}
.header-content-icon {
    position:absolute;right:0;top: 50%;transform: translateY(-50%);width:24px;
}
.content-image {
    width:100%;height:120px;border-radius:8px;
}
.content-introduction {
    display:flex;width:100%;gap:12px;
}
.content-introduction-image {
    width:50px;border-radius:8px;
}
.content-introduction-text {
    display:flex;flex-direction:column;gap:6px;width:100%;
}
.content-introduction-subtitle {
    display:flex;width:100%;justify-content:space-between;align-items:center;
}
.content-introduction-subtitle div {
    font-size:13px;
}
.content-introduction-subtitle img {
    width:24px;
}
.content-introduction-title {
    color:#fff;font-size:20px;font-weight:600;
}
.content-title-a {
    font-size:17px;color:#fff;
}
.content-title-b {
    font-size:15px;color:#fff;
}
.content-list-boxes {
    width:100%;display:flex;gap:8px;flex-wrap:wrap;
}
.box-background {
    background:#0d1017;padding:16px 16px;border-radius:8px;display:flex;flex-direction:column;gap:8px;align-items:center;justify-content:center;
}
.box-fit-content {
    width:fit-content;
}
.box-opacity {
    opacity:0.7;
}
.box-background img {
    width:26px;
}
.box-background div {
    color:#fff;font-size:14px;
}
.box-fit-content img {
    width:36px !important;
}
.box-fit-content div {
    color:#fff;font-size:12px !important;
}
.content-buttons {
    width:100%;display:flex;gap:12px;align-items:center;
}
.button-collective {
    width:100%;padding:8px 0;background:#fac710;color:#fff;font-size:12px;text-align:center;font-weight:600;
}
.border-collective {
    border:1px solid #fac710 !important;
}
.button-private {
    width:100%;padding:8px 0;background:#8fd14f;color:#fff;font-size:12px;text-align:center;font-weight:600;
}
.border-private {
    border:1px solid #8fd14f !important;
}
.content-title-flex {
    display:flex;width:100%;align-items:center;justify-content:space-between;
}
.content-title-flex img {
    width:24px;
}

.user-booking {
    display:flex;width:100%;gap:8px;align-items:center;
}
.user-booking-content {
    width:100%;display:flex;gap:6px;flex-direction:column;
}
.user-booking-header {
    width:100%;display:flex;justify-content:space-between;align-items:center;
}
.user-booking-title {
    color:#fff;font-size:14px;
}
.user-booking-icons {
    display:flex;align-items:center;gap:8px;
}
.user-booking-icons img {
    width:22px;
}
.user-booking-subheader {
    display:flex;align-items:center;gap:4px;font-size:13px;
}
.user-booking-subheader img {
    width:20px;
}
.user-booking-level {
    color:#80adff;
}


.calendar {
    color: white;width: 100%;padding: 0px;box-sizing: border-box;background: #555861;padding: 16px;border-radius: 8px;
}
.header-calendar {
    display: flex;align-items:center;justify-content: space-between;margin-bottom: 20px;
}
.header-calendar div {
    font-size:18px;font-weight:500;
}
.header-calendar-arrows {
    display:flex;align-items:center;gap:8px;
}
.header-calendar-arrows img {
    cursor:pointer;width:24px;
}  
.weekdays, .days {
    display: flex;flex-wrap: wrap;justify-content: space-between;
} 
.weekdays span {
    flex: 1 0 calc(14.28% - 6px);height: 32px;line-height: 32px;text-align: center;margin: 3px;font-size: 11px;box-sizing: border-box;
}
.days .day-span-a {
    flex: 1 0 calc(14.28% - 6px);height: 32px;line-height: 32px;text-align: center;margin: 3px;font-size:16px !important;font-weight:500;box-sizing: border-box;
}
.days .day-span-b {
    display: flex;justify-content: center;width:32px;height:32px;
}
.light-opacity {
    opacity:0.6;
}
.very-light-opacity {
    opacity:0.4;
}
.active-collective {
    opacity: 1;background-color:rgba(217,177,32,0.6);border-radius: 50%;cursor: pointer;transition: all 0.2s ease-in-out;
}
.active-collective-selected {
    opacity: 1;background-color:rgba(217,177,32,1);border-radius: 50%;cursor: pointer;transition: all 0.2s ease-in-out;
}
.active-private {
    opacity: 1;background-color:rgba(194,217,69,0.6);border-radius: 50%;cursor: pointer;transition: all 0.2s ease-in-out;
}
.active-private-selected {
    opacity: 1;background-color:rgba(194,217,69,1);border-radius: 50%;cursor: pointer;transition: all 0.2s ease-in-out;
}

.course-wrapper {
    display:flex;gap:12px;align-items:flex-start;padding:8px 6px;border-radius:8px;border: 1px solid rgba(100,100,100,0.4);
}
.course-wrapper-left {
    width:60%;display:flex;flex-direction:column;align-items:flex-end;gap:16px;
}
.course-wrapper-header {
    display:flex;align-items:flex-start;gap:12px;
}
.course-wrapper-header img {
    width:32px;
}
.course-wrapper-header-text {
    display:flex;flex-direction:column;align-items:flex-start;gap:4px;
}
.course-wrapper-header-title {
    font-size:15px;color:#fff;font-weight:600;
}
.course-wrapper-header-subtitle {
    font-size:12px;
}
.course-wrapper-content {
    display:flex;flex-direction:column;gap:8px;align-items:flex-start;font-size:11px;width: 100%;
}
.course-wrapper-content-title {
    display:flex;gap:12px;align-items:center;font-size:12px;
}
.course-wrapper-content-title img {
    width:20px;
}
.course-wrapper-right {
    width:40%;display:flex;flex-direction:column;align-items:flex-end;gap:16px;
}
.course-wrapper-price {
    font-size:12px;font-weight:500;
}
.course-wrapper-image {
    position: relative; width: 100%; padding-top: 64.71%; overflow: hidden; border-radius: 8px;
}
.course-wrapper-image img {
    position: absolute; top: 0; left: 0;object-fit:cover;width:100%;height:100%;border-radius:8px;
}
.course-wrapper-buttons {
    display:flex;flex-direction:column;width:100%;gap:8px;
}
.course-wrapper-buttons div {
    font-size: 12px;width: 100%;padding: 3px;text-align: center;border-radius: 8px;cursor: pointer;
}
.course-icon-delete {
    position:absolute;bottom:8px;right:6px;
}

.cart-title {
    display:block;font-size:16px;font-weight:600;margin-bottom:16px;
}
.cart-content-flex {
    display:flex;width:100%;justify-content:space-between;align-items:center;font-size:13px;margin-bottom:8px;
}
.font-weight-500 {
    font-weight:500;
}
.cart-content-flex-resume {
    display:flex;width:100%;justify-content:space-between;align-items:center;font-size:16px;font-weight:600;border-top: 1px solid #888888;padding-top: 8px;margin-bottom:20px;
}
.cart-button {
    border-radius: 8px;text-align: center;font-weight: 600;padding: 10px 0;font-size: 14px;
}

.box-selector-top-user {
    display:flex;gap:4px;align-items:center;
}
.box-selector-top-user img {
    width:30px;
}
.box-selector-top-user div {
    font-size:13px;
}
.box-selector-level {
    font-size: 12px;color: #faafaf;background: #613136;padding: 4px 6px;border-radius: 20px;
}

.input-form-icon {
    width:100%;height:48px;border-radius:12px;color:#fff;padding:0 16px;display:flex;align-items:center;gap:9px;
}
.input-form-icon img {
    width:18px;position:relative;top:-1px;
}
.input-form-icon input {
    color:#fff;font-size:15px;width:100%;border:none;background:transparent;outline:0;
}
.bon-title {
    font-size:15px;font-weight:500;
}
.bon-button {
    display:flex;justify-content:center;align-items:flex-end;padding:10px 24px;font-size:14px;width:fit-content;border-radius:8px;float:right;
}
.menu-list-item {
    display:flex;width:100%;align-items:center;justify-content:space-between;
}
.menu-list-text {
    display:flex;align-items:center;gap:12px;
}
.menu-list-text img {
    width:22px;
}
.menu-list-text div {
    font-size:14px;
}