<ion-content>
  <div class="content-page dark-background status-bar-overlap">
    <div class="padding-wrapper">
      <div class="mb-32">
        <div class="header-content no-margin">
          <div class="montserrat level-back color-light cursor-pointer" (click)="goTo('new-booking')">
            Cancel
          </div>
          <div class="level-title">
            Resume Reserva
          </div>
          <!--<img src="assets/icon/icon-gift.png" class="header-content-icon" />-->
        </div>
      </div>
    
        <div class="background-color-dark course-wrapper mb-12 border-collective position-relative">
          <img src="assets/icon/icons-outline-trash-white.svg" class="cursor-pointer course-icon-delete" />
          <div class="course-wrapper-left">
            <div class="course-wrapper-header">
              <img src="assets/icon/collectif_ski2x.png" />
              <div class="course-wrapper-header-text">
                <div class="course-wrapper-header-title">Flexidates Adultes</div>
                <div class="montserrat color-light course-wrapper-header-subtitle">Collectif Ski - Les Paccots</div>
              </div>
            </div>
            <div class="course-wrapper-content">
              <!--
              <div class="pb-8 course-wrapper-content-title">
                <img src="assets/icon/icons-outline-calendar-1-white.svg" />
                <div>Dates disponibles séparément:</div>
              </div>
              -->
              <div>24/10/2023 08:00 - 09:00</div>
              <div>25/10/2023 08:00 - 09:00</div>
              <div>26/10/2023 08:00 - 09:00</div>

              <div class="box-selector-top-user">
                <img src="assets/icon/icons-outline-default-avatar.svg" />
                <div class="color-light montserrat">Nom</div>
              </div>
              <div class="box-selector-level">
                ROI RED
              </div>
            </div>
          </div>
          <div class="course-wrapper-right">
            <div class="course-wrapper-price">
              600 CHF
            </div>
            <div class="course-wrapper-image">
              <img src="assets/images/test-photo.jpg" />
            </div>
          </div>
        </div>
    
    
    
        <div class="background-color-dark course-wrapper mb-12 border-private position-relative">
          <img src="assets/icon/icons-outline-trash-white.svg" class="cursor-pointer course-icon-delete" />
          <div class="course-wrapper-left">
            <div class="course-wrapper-header">
              <img src="assets/icon/prive_ski2x.png" />
              <div class="course-wrapper-header-text">
                <div class="course-wrapper-header-title">Cours privés</div>
                <div class="montserrat color-light course-wrapper-header-subtitle">Privé Ski - Les Paccots</div>
              </div>
            </div>
            <div class="course-wrapper-content">
              <!--
              <div class="course-wrapper-content-title">
                <img src="assets/icon/icons-outline-calendar-1-white.svg" />
                <div>Quand peut-on suivre le cours?</div>
              </div>
              -->
              <div>23/12/2023</div>
              <!--
              <div>Lundi - Dimanche</div>
    
              <div class="pt-8 course-wrapper-content-title">
                <img src="assets/icon/icons-outline-clock.svg" />
                <div>Durée du cours:</div>
              </div>
              -->
              <div>09:00 - 10:30</div>
              <div>2 personnes</div>

              <div class="box-selector-top-user">
                <img src="assets/icon/icons-outline-default-avatar.svg" />
                <div class="color-light montserrat">Nom</div>
              </div>
              <div class="box-selector-level">
                ROI RED
              </div>
            </div>
          </div>
          <div class="course-wrapper-right">
            <div class="course-wrapper-price">
              160 CHF
            </div>
            <div class="course-wrapper-image">
              <img src="assets/images/test-photo.jpg" />
            </div>
          </div>
        </div>
        
    </div>

    <div class="padding-wrapper">
      <div class="montserrat mb-12 bon-title">Ajouter Bon</div>
      <div class="input-form-icon background-color-dark mb-12">
        <img src="assets/icon/icon-gift.png" />
        <input class="montserrat" type="text" placeholder="Bons d'achat" />
      </div>
      <div class="btn-back-primary mb-32 cursor-pointer bon-button">
        Valider
      </div>

      <div class="menu-list-item mt-24 mb-12">
        <div class="menu-list-text">
          <div class="montserrat">Option reemboursement (10%)</div>
        </div>
        <ion-toggle [checked]="false"></ion-toggle>
      </div>

      <div class="menu-list-item">
        <div class="menu-list-text">
          <div class="montserrat">Ajouter Assurance</div>
        </div>
        <ion-toggle [checked]="false"></ion-toggle>
      </div>
    </div>

    <div class="background-color-dark padding-wrapper mt-12">
      <div class="cart-title">
        Résumé
      </div>
      <div class="cart-content-flex">
        <div>SOUS-TOTAL</div>
        <div class="font-weight-500">100,00 CHF</div>
      </div>
      <div class="cart-content-flex">
        <div>8% VAT</div>
        <div class="font-weight-500">8,00 CHF</div>
      </div>

      <div class="cart-content-flex-resume">
        <div>Total à payer</div>
        <div>108,00 CHF</div>
      </div>

      <div class="btn-back-primary mb-24 cart-button cursor-pointer">
        Payer 108,00 CHF
      </div>
    </div>
  </div>
</ion-content>