<ion-content>
  <div class="content-size dark-background">

      <div class="content-img-wrapper">
        <div class="wrapper-back"></div>
        <img src="assets/images/test-station.jpg" class="content-img-back" />
        <div class="box-icon-left cursor-pointer" (click)="goTo('stations')">
          <img src="assets/icon/arrow-left.svg" />
        </div>
        <div class="box-icon-right cursor-pointer">
          <img src="assets/icon/icon-heart-full.png" />
        </div>

        <div class="content-img-text">
          <div class="content-img-title">Les Paccots</div>
          <div class="content-img-text-flex">
            <img src="assets/icon/icon-location-blue.png" />
            <div class="montserrat">Châtel-Saint-Denis, Suisse</div>
          </div>
        </div>
      </div>

      <div class="padding-wrapper">

        <div class="background-color-dark flex-weather">
          <div *ngFor="let day of weatherWeek" class="flex-weather-item">
            <div class="color-light montserrat">{{day.day}}</div>
            <img [src]="day.img" />
            <div class="montserrat">{{day.degrees}}º</div>
          </div>
        </div>

        <div class="mt-24 mb-32 flex-buttons">
          <div [ngClass]="{'btn-back-primary': showStations, 'btn-back-grey': !showStations}" class="montserrat flex-buttons-button cursor-pointer" (click)="showStations=true;showSchools=false;showActivities=false;">
            Station
          </div>
          <div [ngClass]="{'btn-back-primary': showSchools, 'btn-back-grey': !showSchools}" class="montserrat flex-buttons-button cursor-pointer" (click)="showStations=false;showSchools=true;showActivities=false;">
            Ecoles
          </div>
          <div [ngClass]="{'btn-back-primary': showActivities, 'btn-back-grey': !showActivities}" class="montserrat flex-buttons-button cursor-pointer" (click)="showStations=false;showSchools=false;showActivities=true;">
            Activités
          </div>
        </div>


        <!--Stations-->
        <div *ngIf="showStations">
          <div class="title-section-text mt-24 mb-12">
            Installations
          </div>
          <div class="flex-boxes">
            <div class="flex-boxes-box">
              <img src="assets/icon/icon-no-image.png" />
              <div class="montserrat">0</div>
            </div>
            <div class="flex-boxes-box">
              <img src="assets/icon/icon-no-image.png" />
              <div class="montserrat">9</div>
            </div>
            <div class="flex-boxes-box">
              <img src="assets/icon/icon-no-image.png" />
              <div class="montserrat">2</div>
            </div>
            <div class="flex-boxes-box">
              <img src="assets/icon/icon-no-image.png" />
              <div class="montserrat">8</div>
            </div>
          </div>

          <div class="title-section-text mt-24 mb-12">
            Services
          </div>
          <div class="list-boxes background-color-dark list-padding">

            <div class="pb-12 mb-12 list-boxes-item-b">
              <div class="box-item-b-text">
                <div class="montserrat box-item-b-subtitle">Reparation · Vente · Location</div>
                <div class="montserrat box-item-b-title">SportYves</div>
              </div>
              <div class="box-item-b-icons">
                <img class="cursor-pointer" src="assets/icon/icon-message-box.png" />
                <img class="cursor-pointer" src="assets/icon/icon-more-box.png" />
              </div>
            </div>

            <div class="pb-12 mb-12 list-boxes-item-b no-border">
              <div class="box-item-b-text">
                <div class="montserrat box-item-b-subtitle">Restaurant</div>
                <div class="montserrat box-item-b-title">Le Tsale</div>
              </div>
              <div class="box-item-b-icons">
                <img class="cursor-pointer" src="assets/icon/icon-message-box.png" />
                <img class="cursor-pointer" src="assets/icon/icon-more-box.png" />
              </div>
            </div>

          </div>
        </div>

        <!--Ecoles-->
        <div *ngIf="showSchools" class="list-boxes pt-8">

          <div class="pb-24 mb-24 list-boxes-item">
            <div class="box-item-top">
              <div class="box-item-left">
                <div class="box-item-left-img">
                  <img src="assets/icon/icon-no-image.png" class="box-item-img-none" />
                  <!--<img [src]="image" class="box-item-img" />-->
                </div>
                <div class="box-item-left-text">
                  <div class="montserrat">ESS Les Paccots</div>
                  <div class="box-item-left-text-icons">
                    <img src="assets/icon/main_ski_on.png" />
                    <img src="assets/icon/main_snowboard_on.png" />
                    <img src="assets/icon/main_srando_off.png" />
                    <img src="assets/icon/main_telemark_off.png" />
                  </div>
                </div>
              </div>
              <img src="assets/icon/icon-marker-add.png" class="box-item-icon" />
            </div>
            <div class="box-item-bottom">
              <div class="montserrat">Cours privés, collectifs</div>
              <div class="montserrat btn-back-primary box-item-button cursor-pointer" (click)="goTo('new-booking')">Réserver</div>
            </div>
          </div>

          <div class="pb-24 mb-24 list-boxes-item">
            <div class="box-item-top">
              <div class="box-item-left">
                <div class="box-item-left-img">
                  <img src="assets/icon/icon-no-image.png" class="box-item-img-none" />
                  <!--<img [src]="image" class="box-item-img" />-->
                </div>
                <div class="box-item-left-text">
                  <div class="montserrat">ESS Les Paccots</div>
                  <div class="box-item-left-text-icons">
                    <img src="assets/icon/main_ski_on.png" />
                    <img src="assets/icon/main_snowboard_on.png" />
                    <img src="assets/icon/main_srando_off.png" />
                    <img src="assets/icon/main_telemark_off.png" />
                  </div>
                </div>
              </div>
              <img src="assets/icon/icon-marker-add.png" class="box-item-icon" />
            </div>
            <div class="box-item-bottom">
              <div class="montserrat">Cours privés, collectifs</div>
              <div class="montserrat btn-back-primary box-item-button cursor-pointer" (click)="goTo('new-booking')">Réserver</div>
            </div>
          </div>

          <div class="pb-24 mb-24 list-boxes-item">
            <div class="box-item-top">
              <div class="box-item-left">
                <div class="box-item-left-img">
                  <img src="assets/icon/icon-no-image.png" class="box-item-img-none" />
                  <!--<img [src]="image" class="box-item-img" />-->
                </div>
                <div class="box-item-left-text">
                  <div class="montserrat">ESS Les Paccots</div>
                  <div class="box-item-left-text-icons">
                    <img src="assets/icon/main_ski_on.png" />
                    <img src="assets/icon/main_snowboard_on.png" />
                    <img src="assets/icon/main_srando_off.png" />
                    <img src="assets/icon/main_telemark_off.png" />
                  </div>
                </div>
              </div>
              <img src="assets/icon/icon-marker-add.png" class="box-item-icon" />
            </div>
            <div class="box-item-bottom">
              <div class="montserrat">Cours privés, collectifs</div>
              <div class="montserrat btn-back-primary box-item-button cursor-pointer" (click)="goTo('new-booking')">Réserver</div>
            </div>
          </div>

          <div class="pb-24 mb-24 list-boxes-item no-border">
            <div class="box-item-top">
              <div class="box-item-left">
                <div class="box-item-left-img">
                  <img src="assets/icon/icon-no-image.png" class="box-item-img-none" />
                  <!--<img [src]="image" class="box-item-img" />-->
                </div>
                <div class="box-item-left-text">
                  <div class="montserrat">ESS Les Paccots</div>
                  <div class="box-item-left-text-icons">
                    <img src="assets/icon/main_ski_on.png" />
                    <img src="assets/icon/main_snowboard_on.png" />
                    <img src="assets/icon/main_srando_off.png" />
                    <img src="assets/icon/main_telemark_off.png" />
                  </div>
                </div>
              </div>
              <img src="assets/icon/icon-marker-add.png" class="box-item-icon" />
            </div>
            <div class="box-item-bottom">
              <div class="montserrat">Cours privés, collectifs</div>
              <div class="montserrat btn-back-primary box-item-button cursor-pointer" (click)="goTo('new-booking')">Réserver</div>
            </div>
          </div>

        </div>

        <!--Activities-->
        <div *ngIf="showActivities" class="list-boxes pt-8">

          <div class="pb-24 mb-24 list-boxes-item cursor-pointer">
            <div class="box-selector-top">
              <div class="box-selector-date">
                15 Jan, 10:00-12:00
              </div>
              <div class="box-selector-price color-primary">
                50,00CHF
              </div>
            </div>
  
            <div class="box-selector-middle">
              <div class="box-selector-middle-interior">
                <div class="box-selector-image-wrapper">
                  <img src="assets/images/test-course.jpg" class="box-selector-image" />
                  <!--<img src="assets/icon/icon-no-image.png" class="box-item-img-none" />-->
                </div>
                <div class="box-selector-text">
                  <div class="montserrat box-selector-subtitle">
                    <img src="assets/icon/icons-outline-disciplinas-1.svg" />
                    <span>Nom activité</span>
                  </div>
                  <div class="montserrat color-light box-selector-bottom">
                    <img src="assets/icon/icons-outline-clock.svg" class="box-selector-clock" />
                    <span>2hr</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pb-24 mb-24 list-boxes-item cursor-pointer">
            <div class="box-selector-top">
              <div class="box-selector-date">
                15 Jan, 10:00-12:00
              </div>
              <div class="box-selector-price color-primary">
                50,00CHF
              </div>
            </div>
  
            <div class="box-selector-middle">
              <div class="box-selector-middle-interior">
                <div class="box-selector-image-wrapper">
                  <!--<img src="assets/images/test-course.jpg" class="box-selector-image" />-->
                  <img src="assets/icon/icon-no-image.png" class="box-item-img-none" />
                </div>
                <div class="box-selector-text">
                  <div class="montserrat box-selector-subtitle">
                    <img src="assets/icon/icons-outline-disciplinas-1.svg" />
                    <span>Nom activité</span>
                  </div>
                  <div class="montserrat color-light box-selector-bottom">
                    <img src="assets/icon/icons-outline-clock.svg" class="box-selector-clock" />
                    <span>2hr</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pb-24 mb-24 list-boxes-item no-border cursor-pointer">
            <div class="box-selector-top">
              <div class="box-selector-date">
                15 Jan, 10:00-12:00
              </div>
              <div class="box-selector-price color-primary">
                50,00CHF
              </div>
            </div>
  
            <div class="box-selector-middle">
              <div class="box-selector-middle-interior">
                <div class="box-selector-image-wrapper">
                  <img src="assets/images/test-course.jpg" class="box-selector-image" />
                  <!--<img src="assets/icon/icon-no-image.png" class="box-item-img-none" />-->
                </div>
                <div class="box-selector-text">
                  <div class="montserrat box-selector-subtitle">
                    <img src="assets/icon/icons-outline-disciplinas-1.svg" />
                    <span>Nom activité</span>
                  </div>
                  <div class="montserrat color-light box-selector-bottom">
                    <img src="assets/icon/icons-outline-clock.svg" class="box-selector-clock" />
                    <span>2hr</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>


  </div>
</ion-content>