.content-wrapper {
    width:100%;min-height:100%;padding:20px 16px;
}
.padding-wrapper {
    padding:20px 16px;
}
.header-progress {
    position:relative;top:0;left:0;width:100%;display:flex;align-items:center;gap:14px;margin-bottom:18px;
}
.progress-bar-33 {
    width:100%; height:6px; background: linear-gradient(to right, var(--ion-color-primary) 0%, var(--ion-color-primary) 33%, #3e424c 33%, #3e424c 100%); border-radius:10px;
}
.progress-bar-66 {
    width:100%; height:6px; background: linear-gradient(to right, var(--ion-color-primary) 0%, var(--ion-color-primary) 66%, #3e424c 66%, #3e424c 100%); border-radius:10px;
}
.progress-bar-100 {
    width:100%; height:6px; background: var(--ion-color-primary); border-radius:10px;
}
.header-logo {
    width:100px;
}
.header-back-flex {
    width:34px;height:34px;border-radius:12px;display:flex;align-items:center;justify-content:center;
}
.header-back-icon {
    width:22px;
}
.content-title {
    color: #fff;text-align: left;font-size: 24px;font-weight: 600;line-height: 1.2;margin-bottom:24px;
}
.content-title-b {
    color: #fff;text-align: left;font-size: 18px;font-weight: 500;line-height: 1.2;
}
.content-title-c {
    width:100%;color: #fff;text-align: center;font-size: 16px;font-weight: 500;line-height: 1.2;
}
.content-subtitle {
    font-size:14px;margin-bottom:24px;
}
.input-label {
    font-size:14px;margin-bottom:8px;
}
.input-form-icon {
    width:100%;height:48px;border-radius:12px;color:#fff;padding:0 16px;display:flex;align-items:center;gap:9px;margin-bottom:24px;
}
.input-form-icon img {
    width:18px;position:relative;top:-1px;
}
.input-form-icon input, .input-form-icon select {
    color:#fff;font-size:15px;width:100%;border:none;background:transparent;outline:0;
}
.inputs-flex {
    display:flex;align-items:center;gap:12px;
}
.user-image-wrapper {
    position: relative;width: 80px;height: 80px;border-radius: 50px;display: block;margin: 0 auto;
}
.user-image {
    object-fit:cover;width:100%;height:100%;
}
.user-image-add {
    position:absolute;right:-4px;bottom:-4px;width:30px;height:30px;background:var(--ion-color-primary);border-radius:6px;display:flex;align-items:center;justify-content:center;
}
.user-image-add img {
    width:20px;
}
.content-button {
    width: 100%;height: 44px;line-height: 44px;display: block;text-align: center;border-radius: 44px;color: #000;text-align: center;font-size: 14px;font-weight: 500;cursor:pointer;transition:all ease-in-out 0.3s;
}
.content-footer {
    text-align: center;margin-top: 18px;font-size: 15px;
}
.content-footer-policy {
    text-align: center;margin-top: 16px;font-size: 13px;line-height:1.2;
}
.label-flex-icon {
    display:flex;flex-direction:row;align-items:center;gap:16px;
}
.label-flex-icon img {
    width:18px;
}

.custom-radio {
    display: flex;flex-wrap:wrap;gap: 16px;
}
.radio-option {
    position: relative;display: inline-block;cursor: pointer;height:120px;width:calc(50% - 8px);border-radius:12px;
}  
.radio-option input[type="radio"], .radio-option input[type="checkbox"] {
    display: none;
}  
.radio-wrapper {
    padding:28px 10px;text-align: center;display:flex;flex-direction:column;gap:18px;
}  
.radio-wrapper img {
    display: block;width: 20px;margin: 0 auto;
}
.radio-wrapper span {
    font-size:14px;text-align: center;color:#fff;
}  
.custom-check {
    position: absolute;top: 10px;right: 10px;width: 22px;height: 22px;background: var(--ion-color-primary);border-radius: 6px;display: none;align-items: center;justify-content: center;
}  
.custom-check::before {
    content: "";width: 5px;height: 10px;border: solid black;border-width: 0 2px 2px 0;transform: rotate(45deg);position: absolute;top: 4px;left: 8px;
}
.extra-check {
    display:none;margin-top: -12px;font-size: 12px;
}
.radio-option input[type="radio"]:checked + .radio-wrapper + .custom-check, .radio-option input[type="checkbox"]:checked + .radio-wrapper + .custom-check {
    display: block;
}
.radio-option input[type="checkbox"]:checked + .radio-wrapper .extra-check {
    display: block;
}
.flex-sections {
    display: flex; align-items: flex-start; gap: 32px;
}
.section-title {
    color:#c8c8c8;font-size:17px;position:relative;height:38px;font-weight:500;cursor:pointer;
}
.section-selected {
    color:#fff;font-size:17px;position:relative;height:38px;font-weight:500;cursor:pointer;
}
.section-bullet {
    background:var(--ion-color-primary);width:8px;height:8px;border-radius:8px;position:absolute;bottom:0;left:50%;transform:translateX(-50%);
}
.dark-background {
    width:100%;min-height:100vh;background:var(--ion-back-color-dark);
}
.header-content {
    position:relative;top:0;left:0;width:100%;display:flex;align-items:center;justify-content:center;margin-bottom:60px;
}
.level-back {
    position:absolute;left:0;top: 50%;transform: translateY(-50%);font-size:14px;
}
.level-title {
    font-size:14px;color:#fff;font-weight:500;
}
.flex-sport {
    display:flex;gap:8px;align-items:center;
}
.flex-sport img {
    width:22px;
}
.flex-sport span {
    font-size:20px;font-weight:600;
}
button[disabled] {
    opacity: 0.4;pointer-events: none;
}

.list-chip {
    display:flex;align-items:center;gap:16px;
}
.chip-box {
    position:relative;display:flex;align-items:center;justify-content:center;gap:4px;padding:0 28px;height:34px;width:fit-content;border-radius:34px;
}
.chip-box-check {
    width:18px;position:absolute;top:50%;transform:translateY(-50%);left:6px;
}
.chip-box-text {
    font-size:13px;
}
.border-separator {
    width:100%;border-bottom:1px solid #444953;height:1px;
}

.box-childs {
    width:100%;border-radius:8px;padding:12px;display:flex;flex-direction:column;gap:8px;
}
.box-new-child {
    display:flex;flex-direction:column;gap:4px;width:100%;border-bottom:1px solid #444953;
}
.box-new-child-top {
    display:flex;align-items:center;justify-content:space-between;width:100%;
}
.box-new-child-title {
    font-size:15px;
}
.box-new-child-icons {
    display:flex;align-items:center;gap:12px;
}
.box-new-child-icons img {
    width:22px;
}
.box-new-child-subtitle {
    font-size:13px;
}
.box-add-child {
    display:flex;align-items:center;gap:12px;
}
.box-add-child img {
    width:16px;
}
.box-add-child div {
    font-size:14px;
}

.header-input-search {
    width:100%;text-align:center;padding:10px;background:#41454e;color:#fff;border:none;outline:0;border-radius:40px;
}
.list-box-selector-row {
    width: 100%;display: flex; flex-direction:row;gap: 16px;padding: 8px 0;flex-wrap:wrap;
}
.station-box {
    width:calc(50% - 16px);cursor:pointer;
}
.station-box-fixed {
    width:170px;cursor:pointer;
}
.station-box-img-wrapper {
    width:100%;height:110px;position:relative;background:#41454e;border-radius:8px;
}
.station-box-img {
    object-fit:cover;width:100%;height:100%;border-radius:8px;
}
.station-box-img-none {
    position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:28px;
}
.station-box-img-data {
    position:absolute;top:12px;left:12px;padding:3px 6px;background:rgba(0,0,0,0.5);display:flex;align-items:center;gap:4px;border-radius:6px;
}
.station-box-img-data img {
    width:20px;
}
.station-box-img-data-b {
    width:22px;position:absolute;top:12px;right:12px;
}
.station-box-text {
    display:flex;width:100%;flex-direction:column;gap:4px;padding:5px;
}
.station-box-title {
    color:#fff;font-size:15px;font-weight:500;
}
.station-box-subtitle {
    font-size:13px;
}


.content-img-wrapper {
    width:100%;height:calc(200px + env(safe-area-inset-top));position:relative;
}
.content-img-back {
    object-fit:cover;width:100%;height:100%;
}
.content-img-text {
    position:absolute;bottom:16px;left:16px;display:flex;flex-direction:column;gap:4px;
}
.content-img-title {
    font-size:24px;font-weight:600;color:#fff;
}
.content-img-text-flex {
    display:flex;gap:4px;align-items:center;
}
.content-img-text-flex img {
    width:22px;
}
.content-img-text-flex div {
    font-size:14px;color:#fff;
}
.wrapper-back {
    position: absolute;bottom: 0;left: 0;width: 100%;height: 70%;background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.4) 70%, transparent 100%);z-index:0;
}
.box-icon-left {
    position:absolute;top:calc(16px + env(safe-area-inset-top));left:16px;width:28px;height:28px;border-radius:8px;display:flex;align-items:center;justify-content:center;background:#2b303b;
}
.box-icon-left img {
    width:22px;
}
.box-icon-right {
    position:absolute;top:calc(16px + env(safe-area-inset-top));right:16px;width:28px;height:28px;border-radius:8px;display:flex;align-items:center;justify-content:center;background:#2b303b;
}
.box-icon-right img {
    width:15px;
}

.flex-weather {
    display:flex;width:100%;align-items:center;justify-content:space-between;padding:6px 2px;
}
.flex-weather-item {
    flex:1;display:flex;flex-direction:column;gap:4px;justify-content:center;align-items:center;
}
.flex-weather-item img {
    width:22px;
}
.flex-weather-item div {
    font-size:13px;
}

.flex-buttons {
    display:flex;width:100%;align-items:center;gap:4px;
}
.flex-buttons-button {
    display:flex;align-items:center;justify-content:center;font-size:14px;width: 100%;padding: 6px 0px;border-radius: 4px;
}
.list-boxes {
    display:flex;flex-direction:column;gap:8px;
}
.list-boxes-item {
    display:flex;flex-direction:column;gap:8px;border-bottom:1px solid #444953;
}
.box-item-top {
    display:flex;align-items:flex-start;justify-content:space-between;
}
.box-item-bottom {
    display:flex;align-items:center;justify-content:space-between;
}
.box-item-left {
    display:flex;align-items:flex-start;gap:8px;
}
.box-item-left-img {
    width:60px;height:60px;position:relative;background:#41454e;border-radius:8px;
}
.box-item-img-none {
    position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:26px;
}
.box-item-img {
    object-fit:cover;width:100%;height:100%;border-radius:8px;
}
.box-item-left-text {
    display:flex;flex-direction:column;gap:8px;font-size:16px;font-weight:500;
}
.box-item-left-text-icons {
    display:flex;align-items:center;gap:8px;
}
.box-item-left-text-icons img {
    width:22px;
}
.box-item-icon {
    width:24px;
}
.box-item-button {
    padding: 8px 20px;border-radius: 40px;
}



.box-selector-top {
    display:flex;align-items:center;justify-content:space-between;width:100%;
}
.box-selector-middle {
    display:flex;align-items:flex-start;justify-content:space-between;width:100%;
}
.box-selector-bottom {
    display:flex;align-items:center;gap:6px;font-size:13px;
}
.box-selector-date {
    color:#fff;font-size:14px;font-weight:500;
}
.box-selector-price {
    font-size:13px;
}
.box-selector-middle-interior {
    display:flex;align-items:center;gap:6px;
}
.box-selector-image-wrapper {
    width:46px;height:46px;border-radius:8px;position:relative;background:#41454e;
}
.box-selector-image {
    object-fit:cover;width:100%;height:100%;border-radius:8px;
}
.box-selector-text {
    display:flex;flex-direction:column;gap:5px;
}
.box-selector-title {
    color:#fff;font-size:14px;
}
.box-selector-subtitle {
    display:flex;align-items:center;gap:6px;font-size:13px;
}
.box-selector-subtitle img {
    width:20px;
}
.box-selector-level {
    font-size: 12px;color: #faafaf;background: #613136;padding: 4px 6px;border-radius: 20px;
}
.box-selector-clock {
    width:20px;
}
.box-selector-location {
    width:13px;
}

.flex-boxes {
    display:flex;gap:16px;
}
.flex-boxes-box {
    display:flex;flex-direction:column;align-items:center;gap:12px;padding:16px;background:#2b303b;border-radius:8px;   
}
.flex-boxes-box img {
    width:26px;
}
.flex-boxes-box div {
    font-weight:500;font-size:16px;  
}
.title-section-text {
    display:block;color:#fff;font-size:20px;font-weight:500;
}
.list-padding {
    padding:12px;
}
.list-boxes-item-b {
    display:flex;align-items:flex-end;justify-content:space-between;border-bottom:1px solid #444953;
}
.box-item-b-text {
    display:flex;flex-direction:column;gap:4px;
}
.box-item-b-subtitle {
    font-size:12px;
}
.box-item-b-title {
    font-size:16px;
}
.box-item-b-icons {
    display:flex;align-items:center;gap:12px;
}
.box-item-b-icons img {
    width:32px;
}
.no-border {
    border:none !important;
}

.custom-radio {
    display: flex;flex-wrap: wrap;gap: 16px;
}
.simple-check-option {
    position: relative;display: inline-block;cursor: pointer;width: 22px;height: 22px;
}
.simple-check-option input[type="checkbox"] {
    display: none;
}
.custom-check {
    position: absolute;top: 0;left: 0;width: 22px;height: 22px;background: transparent;border: 1px solid #c8c8c8;border-radius: 6px;display: block;align-items: center;justify-content: center;
}
.custom-check::before {
    content: "";width: 5px;height: 10px;border: solid white;border-width: 0 2px 2px 0;transform: rotate(45deg);position: absolute;top: 4px;left: 8px;display: none;
}
.simple-check-option input[type="checkbox"]:checked + .custom-check {
    background: var(--ion-color-primary);border:none;
}
.simple-check-option input[type="checkbox"]:checked + .custom-check::before {
    display: block;
}
