<ion-content>
  <!-- Normal view -->
  <ng-container *ngIf="!showLevel">
    <div class="content-wrapper dark-background status-bar-overlap-wrapper">

      <div class="header-content pt-24 mb-12">
        <img src="assets/icon/arrow-left.svg" class="cursor-pointer header-content-icon" (click)="goTo('home')" />
      </div>

      <div>
        <div class="user-image-wrapper mb-12">
          <img [src]="monitorData.image ? monitorData.image : 'assets/icon/icons-outline-default-avatar.svg'" class="user-image" />
          <div class="user-image-add cursor-pointer" (click)="togglePhotoMonitor()">
            <img src="assets/icon/icon-camera-black.png" />
          </div>
        </div>
        <div class="user-image-title mb-12">
          <div>{{ monitorData.first_name }} {{ monitorData.last_name }}</div>
          <span class="montserrat color-primary">@{{ monitorData.first_name }}</span> <!--missing username-->
        </div>
        <div class="mt-8 flex-buttons">
          <div [ngClass]="{'btn-back-primary': showGeneral, 'btn-back-grey': !showGeneral}" class="montserrat flex-buttons-button cursor-pointer" (click)="showGeneral=true;showSports=false;showWork=false;">
            Données
          </div>
          <div [ngClass]="{'btn-back-primary': showSports, 'btn-back-grey': !showSports}" class="montserrat flex-buttons-button cursor-pointer" (click)="showGeneral=false;showSports=true;showWork=false;">
            Sports
          </div>
        </div>
        <div class="mt-8 mb-32 flex-buttons">
          <div [ngClass]="{'btn-back-primary': showWork, 'btn-back-grey': !showWork}" class="montserrat flex-buttons-button cursor-pointer" (click)="showGeneral=false;showSports=false;showWork=true;">
            Informations de travail
          </div>
        </div>
      </div>

      <!-- GENERAL -->
      <div *ngIf="showGeneral" class="mb-24 pt-8">

        <div class="input-label color-light montserrat">
          Email
        </div>
        <div class="input-form-icon background-color-dark">
          <img src="assets/icon/icon-mail.png" />
          <input class="montserrat" type="text" [(ngModel)]="email" [disabled]="true" />
        </div>
        <div class="input-label color-light montserrat">
          Mobile
        </div>
        <div class="input-form-icon background-color-dark">
          <img src="assets/icon/icon-phone.png" />
          <input class="montserrat" type="text" [(ngModel)]="phone" />
        </div>
        <div class="input-label color-light montserrat">
          Teléphone
        </div>
        <div class="input-form-icon background-color-dark">
          <img src="assets/icon/icon-phone.png" />
          <input class="montserrat" type="text" [(ngModel)]="telephone" />
        </div>

        <div class="inputs-flex">
          <div>
            <div class="input-label color-light montserrat">
              Nom
            </div>
            <div class="input-form-icon background-color-dark">
              <input class="montserrat" type="text" [(ngModel)]="firstName" />
            </div>
          </div>
          <div>
            <div class="input-label color-light montserrat">
              Prenom
            </div>
            <div class="input-form-icon background-color-dark">
              <input class="montserrat" type="text" [(ngModel)]="lastName" />
            </div>
          </div>
        </div>

        <div class="input-label color-light montserrat">
          User
        </div>
        <div class="input-form-icon background-color-dark">
          <input class="montserrat" type="text" [(ngModel)]="userName" />
        </div>

        <div class="input-label color-light montserrat">
          Date de naissance
        </div>
        <div class="input-form-icon background-color-dark">
          <img src="assets/icon/icon-birth.png" />
          <input class="montserrat" type="date" [(ngModel)]="birth" />
        </div>

        <div class="input-label color-light montserrat mb-12">
          Adresse
        </div>
        <div class="input-form-icon background-color-dark">
          <input class="montserrat" type="text" placeholder="Rue, nº" [(ngModel)]="address" />
        </div>
        <div class="input-form-icon background-color-dark">
          <input class="montserrat" type="text" placeholder="Ville" [(ngModel)]="city" />
        </div>
        <div class="inputs-flex">
          <div class="input-form-icon background-color-dark width-40">
            <input class="montserrat" type="text" placeholder="NPA" [(ngModel)]="cp" />
          </div>
          <div class="input-form-icon background-color-dark width-60">
            <input class="montserrat" type="text" placeholder="Pays" [(ngModel)]="country" />
          </div>
        </div>

        <button (click)="saveChanges()" class="content-button btn-back-primary montserrat mt-24 mb-24">
          Sauvegarder
        </button>

      </div>

      <!-- SPORTS -->
      <div *ngIf="showSports" class="mb-24 pt-8">

        <div class="flex-sections mb-24">
          <div [ngClass]="showWinter ? 'section-selected' : 'section-title'" (click)="showWinter=true;showSummer=false;showOther=false;">
            Hiver
            <div *ngIf="showWinter" class="section-bullet"></div>
          </div>
          <div [ngClass]="showSummer ? 'section-selected' : 'section-title'" (click)="showWinter=false;showSummer=true;showOther=false;">
            Été
            <div *ngIf="showSummer" class="section-bullet"></div>
          </div>
          <div [ngClass]="showOther ? 'section-selected' : 'section-title'" (click)="showWinter=false;showSummer=false;showOther=true;">
            Autres
            <div *ngIf="showOther" class="section-bullet"></div>
          </div>
        </div>
        
        <div class="custom-radio mb-32">
          <label *ngFor="let sport of dataSports" class="radio-option background-color-dark" (click)="!sport.checked && doShowLevel(sport)">
            <input type="checkbox" [(ngModel)]="sport.checked" [value]="sport.checked" />
            <div class="radio-wrapper">
              <img [src]="sport.image" />
              <span class="montserrat">{{sport.name}}</span>
              <div class="extra-check montserrat color-primary" (click)="doShowLevel(sport)">
                FORMATION
              </div>
            </div>
            <div class="custom-check"></div>
          </label>
        
        </div>

        <button (click)="goTo('home')" class="content-button btn-back-primary montserrat mt-24 mb-24">
          Sauvegarder
        </button>

      </div>

      
      <!-- WORK -->
      <div *ngIf="showWork" class="mb-24 pt-8">

        <div class="content-title-b mb-24">
          Information de travail
        </div>

        <div class="pb-24">
          <div class="input-label color-light montserrat">
            Nº AVS
          </div>
          <div class="input-form-icon background-color-dark">
            <input class="montserrat" placeholder="XXX XXXX XXXX XX" type="text" />
          </div>
          <div class="input-label color-light montserrat">
            Permis de travail
          </div>
          <div class="input-form-icon background-color-dark">
            <input class="montserrat" placeholder="XXXX XXXX XX" type="text" />
          </div>
          <div class="input-label color-light montserrat">
            Coordonnées bancaires
          </div>
          <div class="input-form-icon background-color-dark">
            <input class="montserrat" placeholder="XXX XXXX XXXX XX" type="text" />
          </div>
          <div class="input-label color-light montserrat">
            Nationalité
          </div>
          <div class="input-form-icon background-color-dark">
            <select class="montserrat">
              <option value="Suisse">Suisse</option>
            </select>
          </div>
          <div class="input-label color-light montserrat">
            Nº enfants
          </div>
          <div class="input-form-icon background-color-dark">
            <input class="montserrat" placeholder="0" min="0" step="1" type="number" />
          </div>

        </div>

        <div class="content-title-b mb-24">
          Etat civil
        </div>

        <div class="pb-24">
          <div class="input-label color-light montserrat">
            Quel est votre etat civil?
          </div>
          <div class="list-chip mt-12">
            <div class="background-color-dark cursor-pointer chip-box" (click)="isMarried=true;isSingle=false;">
              <img *ngIf="isMarried" src="assets/icon/icon-check-radius.png" class="chip-box-check" />
              <div class="montserrat chip-box-text">Mariée</div>
            </div>
            <div class="background-color-dark cursor-pointer chip-box" (click)="isMarried=false;isSingle=true;">
              <img *ngIf="isSingle" src="assets/icon/icon-check-radius.png" class="chip-box-check" />
              <div class="montserrat chip-box-text">Single</div>
            </div>
          </div>

          <ng-container *ngIf="isMarried">
            <div class="input-label color-light montserrat mt-24">
              Permis travail du conjoint
            </div>
            <div class="input-form-icon background-color-dark">
              <input class="montserrat" placeholder="XXX XXXX XXXX XX" type="text" />
            </div>

            <div class="input-label color-light montserrat">
              Conjoint travaille?
            </div>
            <div class="list-chip mt-12">
              <div class="background-color-dark cursor-pointer chip-box" (click)="isWorkYes=true;isWorkNo=false;">
                <img *ngIf="isWorkYes" src="assets/icon/icon-check-radius.png" class="chip-box-check" />
                <div class="montserrat chip-box-text">Oui</div>
              </div>
              <div class="background-color-dark cursor-pointer chip-box" (click)="isWorkYes=false;isWorkNo=true;">
                <img *ngIf="isWorkNo" src="assets/icon/icon-check-radius.png" class="chip-box-check" />
                <div class="montserrat chip-box-text">Non</div>
              </div>
            </div>

            <ng-container *ngIf="isWorkYes">
              <div class="input-label color-light montserrat mt-24">
                Pourcentage du conjoint (%)
              </div>
              <div class="input-form-icon background-color-dark">
                <input class="montserrat" placeholder="XX" min="0" type="number" />
              </div>
            </ng-container>

          </ng-container>
          
          <div class="border-separator mt-24 mb-24"></div>

          <div class="input-label color-light montserrat">
            Demande d'allocation familiales?
          </div>
          <div class="list-chip mt-12">
            <div class="background-color-dark cursor-pointer chip-box" (click)="isChildYes=true;isChildNo=false;">
              <img *ngIf="isChildYes" src="assets/icon/icon-check-radius.png" class="chip-box-check" />
              <div class="montserrat chip-box-text">Oui</div>
            </div>
            <div class="background-color-dark cursor-pointer chip-box" (click)="isChildYes=false;isChildNo=true;">
              <img *ngIf="isChildNo" src="assets/icon/icon-check-radius.png" class="chip-box-check" />
              <div class="montserrat chip-box-text">Non</div>
            </div>
          </div>

          <ng-container *ngIf="isChildYes">
            <div class="input-label color-light montserrat mt-24">
              DONNÉES DE LES ENFANTS
            </div>
            <div class="background-color-dark box-childs">
              <div class="mb-12 pb-12 box-new-child">
                <div class="box-new-child-top">
                  <div class="montserrat box-new-child-title">Nom</div>
                  <div class="box-new-child-icons">
                    <img src="assets/icon/icons-outline-edit-white.svg" class="cursor-pointer" />
                    <img src="assets/icon/icons-outline-trash-white.svg" class="cursor-pointer" />
                  </div>
                </div>
                <div class="montserrat color-light box-new-child-subtitle">
                  Date naissance
                </div>
              </div>

              <div class="box-add-child">
                <img src="assets/icon/icon-add-square.png" class="cursor-pointer" />
                <div class="montserrat">Ajouter enfant</div>
              </div>
            </div>
          </ng-container>
          

        </div>

        <button (click)="goTo('home')" class="content-button btn-back-primary montserrat mt-24 mb-24">
          Sauvegarder
        </button>

      </div>

    </div>

  </ng-container>

  <!-- LEVEL - inside ShowSports -->
  <ng-container >
    <div class="content-size dark-background status-bar-overlap" [hidden]="!showLevel">
      <div class="padding-wrapper">
        <div class="header-content no-margin">
          <div class="montserrat level-back color-light cursor-pointer" (click)="showLevel=false;">
            Cancel
          </div>
          <div class="level-title">
            Formation
          </div>
        </div>
      </div>

      <div class="padding-wrapper">
        <div *ngIf="selectedSport" class="flex-sport">
          <img [src]="selectedSport.image" />
          <span>{{selectedSport.name}}</span>
        </div>

              <!-- When formations list then put it in a select-->
              <!--
              <div class="input-label color-light montserrat mt-24">
                Formation existante
              </div>
              <div class="input-form-icon background-color-dark">
                <select class="montserrat" placeholder="Sélectionnez">
                  <option value="Formation">Formation</option>
                </select>
              </div>
              -->

              <div class="input-label color-light montserrat mt-24">
                Formation
              </div>
              <div class="input-form-icon background-color-dark">
                <input class="montserrat" type="text" />
              </div>

              <div class="input-label color-light montserrat mt-24">
                Preuve de formation
              </div>
              <div class="position-relative">
                <label for="file-upload" class="custom-file-upload montserrat">
                  Upload PDF
                </label>
                <input id="file-upload" type="file" accept=".pdf" class="file-display-none" />
              </div>
      </div>

      <div class="padding-wrapper mt-32">
        <button (click)="updateLevel()" class="content-button btn-back-primary montserrat">
          Confirmer formation
        </button>
      </div>
    </div>
  </ng-container>
  
</ion-content>

<app-file-upload *ngIf="showPhotoMonitor"
  title="Photo du moniteur"
  [allowImage]="true" 
  [allowVideo]="false" 
  (fileSelected)="changeMonitorPhoto($event)"
  (close)="togglePhotoMonitor()">
</app-file-upload>