<ion-content>
  <!-- Normal view -->
  <ng-container *ngIf="!showLevel">
    <div class="content-wrapper dark-background status-bar-overlap-wrapper">

      <div class="header-content pt-24 mb-12">
        <img src="assets/icon/arrow-left.svg" class="cursor-pointer header-content-icon" (click)="goTo('home')" />
      </div>

      <div>
        <div class="user-image-wrapper mb-12">
          <img [src]="monitorData.image ? monitorData.image : 'assets/icon/icons-outline-default-avatar.svg'" class="user-image" />
          <div class="user-image-add cursor-pointer" (click)="togglePhotoMonitor()">
            <img src="assets/icon/icon-camera-black.png" />
          </div>
        </div>
        <div class="user-image-title mb-12">
          <div>{{ monitorData.first_name }} {{ monitorData.last_name }}</div>
          <span class="montserrat color-primary">@{{ monitorData.first_name }}{{ monitorData.last_name }}</span> <!--missing username-->
        </div>
        <div class="mt-8 flex-buttons">
          <div [ngClass]="{'btn-back-primary': showGeneral, 'btn-back-grey': !showGeneral}" class="montserrat flex-buttons-button cursor-pointer" (click)="showGeneral=true;showSports=false;showWork=false;showChangePassword=false;">
            {{ 'data' | translate }}
          </div>
          <div [ngClass]="{'btn-back-primary': showSports, 'btn-back-grey': !showSports}" class="montserrat flex-buttons-button cursor-pointer" (click)="showGeneral=false;showSports=true;showWork=false;showChangePassword=false;">
            {{ 'sports' | translate }}
          </div>
        </div>
        <div class="mt-8 mb-32 flex-buttons">
          <div [ngClass]="{'btn-back-primary': showWork, 'btn-back-grey': !showWork}" class="montserrat flex-buttons-button cursor-pointer" (click)="showGeneral=false;showSports=false;showWork=true;showChangePassword=false;">
            {{ 'work_info' | translate }}
          </div>
          <div [ngClass]="{'btn-back-primary': showChangePassword, 'btn-back-grey': !showChangePassword}" class="montserrat flex-buttons-button cursor-pointer" (click)="showGeneral=false;showSports=false;showWork=false;showChangePassword=true;">
            {{ 'change_password' | translate }}
          </div>
        </div>
      </div>

      <!-- GENERAL -->
      <div *ngIf="showGeneral" class="mb-24 pt-8">

        <div class="input-label color-light montserrat">
          {{ 'email' | translate }}
        </div>
        <div class="input-form-icon background-color-dark">
          <img src="assets/icon/icon-mail.png" />
          <input class="montserrat" type="text" [(ngModel)]="email" [disabled]="true" />
        </div>
        <div class="input-label color-light montserrat">
          {{ 'mobile' | translate }}
        </div>
        <div class="input-form-icon background-color-dark">
          <img src="assets/icon/icon-phone.png" />
          <input class="montserrat" type="text" [(ngModel)]="phone" />
        </div>
        <div class="input-label color-light montserrat">
          {{ 'telephone' | translate }}
        </div>
        <div class="input-form-icon background-color-dark">
          <img src="assets/icon/icon-phone.png" />
          <input class="montserrat" type="text" [(ngModel)]="telephone" />
        </div>

        <div class="inputs-flex">
          <div>
            <div class="input-label color-light montserrat">
              {{ 'first_name' | translate }}
            </div>
            <div class="input-form-icon background-color-dark">
              <input class="montserrat" type="text" [(ngModel)]="firstName" />
            </div>
          </div>
          <div>
            <div class="input-label color-light montserrat">
              {{ 'last_name' | translate }}
            </div>
            <div class="input-form-icon background-color-dark">
              <input class="montserrat" type="text" [(ngModel)]="lastName" />
            </div>
          </div>
        </div>

        <div class="input-label color-light montserrat">
          {{ 'birth_date' | translate }}
        </div>
        <div class="input-form-icon background-color-dark">
          <img src="assets/icon/icon-birth.png" />
          <input class="montserrat" type="date" [(ngModel)]="birth" />
        </div>

        <div class="input-label color-light montserrat mb-12">
          {{ 'address' | translate }}
        </div>
        <div class="input-form-icon background-color-dark">
          <input class="montserrat" type="text" placeholder="{{ 'street_number' | translate }}" [(ngModel)]="address" />
        </div>
        <div class="input-form-icon background-color-dark">
          <input class="montserrat" type="text" placeholder="{{ 'city' | translate }}" [(ngModel)]="city" />
        </div>
        <div class="inputs-flex">
          <div class="input-form-icon background-color-dark width-40">
            <input class="montserrat" type="text" placeholder="{{ 'postal_code' | translate }}" [(ngModel)]="cp" />
          </div>
          <div class="input-form-icon background-color-dark width-60">
            <select class="montserrat" [(ngModel)]="country" (change)="onCountryChange()">
              <option [value]="null">{{ 'select_country' | translate }}</option>
              <option *ngFor="let pays of countries" [value]="pays.id">{{ 'countries.' + pays.iso | translate }}</option>
            </select>
          </div>
        </div>

        <div class="input-label color-light montserrat">
          {{ 'province' | translate }}
        </div>
        <div class="input-form-icon background-color-dark">
          <select class="montserrat" [(ngModel)]="province" [disabled]="!country || filteredProvinces.length === 0">
            <option [value]="null">{{ 'select_province' | translate }}</option>
            <option *ngFor="let prov of filteredProvinces" [value]="prov.id">{{prov.name}}</option>
          </select>
        </div>

        <div class="inputs-flex">
          <div class="flex-1">
            <div class="input-label color-light montserrat">
              {{ 'language_abbrev' | translate }} 1
            </div>
            <div class="input-form-icon background-color-dark">
              <select class="montserrat" [(ngModel)]="language1Id">
                <option *ngFor="let lang of languages" [value]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
          <div class="flex-1">
            <div class="input-label color-light montserrat">
              {{ 'language_abbrev' | translate }} 2
            </div>
            <div class="input-form-icon background-color-dark">
              <select class="montserrat" [(ngModel)]="language2Id">
                <option *ngFor="let lang of languages" [value]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
          <div class="flex-1">
            <div class="input-label color-light montserrat">
              {{ 'language_abbrev' | translate }} 3
            </div>
            <div class="input-form-icon background-color-dark">
              <select class="montserrat" [(ngModel)]="language3Id">
                <option *ngFor="let lang of languages" [value]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="inputs-flex">
          <div class="flex-1">
            <div class="input-label color-light montserrat">
              {{ 'language_abbrev' | translate }} 4
            </div>
            <div class="input-form-icon background-color-dark">
              <select class="montserrat" [(ngModel)]="language4Id">
                <option *ngFor="let lang of languages" [value]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
          <div class="flex-1">
            <div class="input-label color-light montserrat">
              {{ 'language_abbrev' | translate }} 5
            </div>
            <div class="input-form-icon background-color-dark">
              <select class="montserrat" [(ngModel)]="language5Id">
                <option *ngFor="let lang of languages" [value]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
          <div class="flex-1">
            <div class="input-label color-light montserrat">
              {{ 'language_abbrev' | translate }} 6
            </div>
            <div class="input-form-icon background-color-dark">
              <select class="montserrat" [(ngModel)]="language6Id">
                <option *ngFor="let lang of languages" [value]="lang.id">{{lang.name}}</option>
              </select>
            </div>
          </div>
        </div>

        <button (click)="saveChanges()" class="content-button btn-back-primary montserrat mt-24 mb-24">
          {{ 'save' | translate }}
        </button>

      </div>

      <!-- SPORTS -->
      <div *ngIf="showSports" class="mb-24 pt-8">

        <div class="flex-sections mb-24">
          <div [ngClass]="typeSport == 1 ? 'section-selected' : 'section-title'" (click)="filterSports(1)">
            {{ 'winter' | translate }}
            <div *ngIf="typeSport == 1" class="section-bullet"></div>
          </div>
          <div [ngClass]="typeSport == 2 ? 'section-selected' : 'section-title'" (click)="filterSports(2)">
            {{ 'summer' | translate }}
            <div *ngIf="typeSport == 2" class="section-bullet"></div>
          </div>
          <div [ngClass]="typeSport == 3 ? 'section-selected' : 'section-title'" (click)="filterSports(3)">
            {{ 'others' | translate }}
            <div *ngIf="typeSport == 3" class="section-bullet"></div>
          </div>
        </div>
        
        <div class="custom-radio mb-32">
          <div *ngFor="let sport of filteredSports" class="radio-option background-color-dark">
            <input type="checkbox" [(ngModel)]="sport.checked" [value]="sport.checked" [id]="'sport-' + sport.id" />
            <label [for]="'sport-' + sport.id" class="radio-wrapper">
              <img [src]="sport.icon_selected" />
              <span class="montserrat">{{sport.name}}</span>
              <div class="extra-check montserrat color-primary uppercase cursor-pointer" (click)="doShowLevel(sport); $event.preventDefault();">
                {{ 'training' | translate }}
              </div>
            </label>
            <label [for]="'sport-' + sport.id" class="custom-check"></label>
          </div>

        </div>

        <button (click)="saveSports()" class="content-button btn-back-primary montserrat mt-24 mb-24">
          {{ 'save' | translate }}
        </button>

      </div>

      
      <!-- WORK -->
      <div *ngIf="showWork" class="mb-24 pt-8">

        <div class="content-title-b mb-24">
          {{ 'work_info' | translate }}
        </div>

        <div class="pb-24">
          <div class="input-label color-light montserrat">
            {{ 'avs_number' | translate }}
          </div>
          <div class="input-form-icon background-color-dark">
            <input class="montserrat" placeholder="XXX XXXX XXXX XX" type="text" [(ngModel)]="avs" />
          </div>
          <div class="input-label color-light montserrat">
            {{ 'working_license' | translate }}
          </div>
          <div class="input-form-icon background-color-dark">
            <input class="montserrat" placeholder="XXXX XXXX XX" type="text" [(ngModel)]="workLicense" />
          </div>
          <div class="input-label color-light montserrat">
            {{ 'bank_details' | translate }}
          </div>
          <div class="input-form-icon background-color-dark">
            <input class="montserrat" placeholder="XXX XXXX XXXX XX" type="text" [(ngModel)]="bankDetails" />
          </div>
          <div class="input-label color-light montserrat">
            {{ 'nationality' | translate }}
          </div>
          <div class="input-form-icon background-color-dark">
            <select class="montserrat" placeholder="Nationalité" [(ngModel)]="worldCountry">
              <option *ngFor="let pays of countries" [value]="pays.id">{{ 'countries.' + pays.iso | translate }}</option>
            </select>
          </div>
          <div class="input-label color-light montserrat">
            {{ 'number_children' | translate }}
          </div>
          <div class="input-form-icon background-color-dark">
            <input class="montserrat" placeholder="0" min="0" step="1" type="number" [(ngModel)]="children" />
          </div>

        </div>

        <div class="content-title-b mb-24">
          {{ 'marital_status' | translate }}
        </div>

        <div class="pb-24">
          <div class="input-label color-light montserrat">
            {{ 'what_marital_status' | translate }}
          </div>
          <div class="list-chip mt-12">
            <div class="background-color-dark cursor-pointer chip-box" (click)="civilStatus='1'">
              <img *ngIf="civilStatus=='1'" src="assets/icon/icon-check-radius.png" class="chip-box-check" />
              <div class="montserrat chip-box-text">{{ 'maried' | translate }}</div>
            </div>
            <div class="background-color-dark cursor-pointer chip-box" (click)="civilStatus='2'">
              <img *ngIf="civilStatus=='2'" src="assets/icon/icon-check-radius.png" class="chip-box-check" />
              <div class="montserrat chip-box-text">{{ 'single' | translate }}</div>
            </div>
          </div>

          <ng-container *ngIf="civilStatus=='1'">
            <div class="input-label color-light montserrat mt-24">
              {{ 'spouse_work_permit' | translate }}
            </div>
            <div class="input-form-icon background-color-dark">
              <input class="montserrat" placeholder="XXX XXXX XXXX XX" type="text" [(ngModel)]="partnerWorkLicense" />
            </div>

            <div class="input-label color-light montserrat">
              {{ 'spouse_works' | translate }}
            </div>
            <div class="list-chip mt-12">
              <div class="background-color-dark cursor-pointer chip-box" (click)="partnerWorks=true">
                <img *ngIf="partnerWorks" src="assets/icon/icon-check-radius.png" class="chip-box-check" />
                <div class="montserrat chip-box-text">{{ 'yes' | translate }}</div>
              </div>
              <div class="background-color-dark cursor-pointer chip-box" (click)="partnerWorks=false">
                <img *ngIf="!partnerWorks" src="assets/icon/icon-check-radius.png" class="chip-box-check" />
                <div class="montserrat chip-box-text">{{ 'no' | translate }}</div>
              </div>
            </div>

            <ng-container *ngIf="partnerWorks">
              <div class="input-label color-light montserrat mt-24">
                {{ 'spouse_percentage' | translate }} (%)
              </div>
              <div class="input-form-icon background-color-dark">
                <input class="montserrat" placeholder="XX" min="0" type="number" [(ngModel)]="partnerPercentage" />
              </div>
            </ng-container>

          </ng-container>
          
          <div class="border-separator mt-24 mb-24"></div>

          <div class="input-label color-light montserrat">
            {{ 'family_allowance' | translate }}
          </div>
          <div class="list-chip mt-12">
            <div class="background-color-dark cursor-pointer chip-box" (click)="familyAllowance=true">
              <img *ngIf="familyAllowance" src="assets/icon/icon-check-radius.png" class="chip-box-check" />
              <div class="montserrat chip-box-text">{{ 'yes' | translate }}</div>
            </div>
            <div class="background-color-dark cursor-pointer chip-box" (click)="familyAllowance=false">
              <img *ngIf="!familyAllowance" src="assets/icon/icon-check-radius.png" class="chip-box-check" />
              <div class="montserrat chip-box-text">{{ 'no' | translate }}</div>
            </div>
          </div>

        <!--
          <ng-container *ngIf="isChildYes">
            <div class="input-label color-light montserrat mt-24">
              DONNÉES DE LES ENFANTS
            </div>
            <div class="background-color-dark box-childs">
              <div class="mb-12 pb-12 box-new-child">
                <div class="box-new-child-top">
                  <div class="montserrat box-new-child-title">Nom</div>
                  <div class="box-new-child-icons">
                    <img src="assets/icon/icons-outline-edit-white.svg" class="cursor-pointer" />
                    <img src="assets/icon/icons-outline-trash-white.svg" class="cursor-pointer" />
                  </div>
                </div>
                <div class="montserrat color-light box-new-child-subtitle">
                  Date naissance
                </div>
              </div>

              <div class="box-add-child">
                <img src="assets/icon/icon-add-square.png" class="cursor-pointer" />
                <div class="montserrat">Ajouter enfant</div>
              </div>
            </div>
          </ng-container>
        -->
          

        </div>

        <button (click)="saveChanges()" class="content-button btn-back-primary montserrat mt-24 mb-24">
          {{ 'save' | translate }}
        </button>

      </div>

      <!-- CHANGE PASSWORD -->
      <div *ngIf="showChangePassword" class="mb-24 pt-8">

        <div class="content-title-b mb-24">
          {{ 'change_password' | translate }}
        </div>

        <div class="pb-24">
          <div class="input-label color-light montserrat">
            {{ 'current_password' | translate }}
          </div>
          <div class="input-form-icon background-color-dark">
            <img src="assets/icon/icons-outline-lock.svg" />
            <input class="montserrat" [placeholder]="'current_password' | translate" [type]="showCurrentPassword ? 'text' : 'password'" [(ngModel)]="currentPassword" />
            <img [src]="showCurrentPassword ? 'assets/icon/icon-eye.png' : 'assets/icon/icons-outline-eye.svg'" class="cursor-pointer" (click)="showCurrentPassword = !showCurrentPassword" style="width: 20px;" />
          </div>

          <div class="input-label color-light montserrat">
            {{ 'new_password' | translate }}
          </div>
          <div class="input-form-icon background-color-dark">
            <img src="assets/icon/icons-outline-lock.svg" />
            <input class="montserrat" [placeholder]="'new_password' | translate" [type]="showNewPassword ? 'text' : 'password'" [(ngModel)]="newPassword" />
            <img [src]="showNewPassword ? 'assets/icon/icon-eye.png' : 'assets/icon/icons-outline-eye.svg'" class="cursor-pointer" (click)="showNewPassword = !showNewPassword" style="width: 20px;" />
          </div>

          <div class="input-label color-light montserrat">
            {{ 'confirm_password' | translate }}
          </div>
          <div class="input-form-icon background-color-dark">
            <img src="assets/icon/icons-outline-lock.svg" />
            <input class="montserrat" [placeholder]="'confirm_password' | translate" [type]="showConfirmPassword ? 'text' : 'password'" [(ngModel)]="confirmPassword" />
            <img [src]="showConfirmPassword ? 'assets/icon/icon-eye.png' : 'assets/icon/icons-outline-eye.svg'" class="cursor-pointer" (click)="showConfirmPassword = !showConfirmPassword" style="width: 20px;" />
          </div>
        </div>

        <button (click)="changePassword()" class="content-button btn-back-primary montserrat mt-24 mb-24">
          {{ 'save' | translate }}
        </button>

      </div>

    </div>

  </ng-container>

  <!-- LEVEL - inside ShowSports -->
  <ng-container >
    <div class="content-size dark-background status-bar-overlap" [hidden]="!showLevel">
      <div class="padding-wrapper">
        <div class="header-content no-margin">
          <div class="montserrat level-back color-light cursor-pointer" (click)="showLevel=false;">
            {{ 'cancel' | translate }}
          </div>
          <div class="level-title">
            {{ 'training' | translate }}
          </div>
        </div>
      </div>

      <div class="padding-wrapper">
        <div *ngIf="selectedSport" class="flex-sport">
          <img [src]="selectedSport.image" />
          <span>{{selectedSport.name}}</span>
        </div>

              <!-- When formations list then put it in a select-->
              <!--
              <div class="input-label color-light montserrat mt-24">
                Formation existante
              </div>
              <div class="input-form-icon background-color-dark">
                <select class="montserrat" placeholder="Sélectionnez">
                  <option value="Formation">Formation</option>
                </select>
              </div>
              -->

              <div class="input-label color-light montserrat mt-24">
                {{ 'training' | translate }}
              </div>
              <div class="input-form-icon background-color-dark">
                <input class="montserrat" type="text" [(ngModel)]="trainingName" [placeholder]="'training' | translate" />
              </div>

              <div class="input-label color-light montserrat mt-24">
                {{ 'training_proof' | translate }}
              </div>
              <div *ngIf="trainingProof" class="mb-12">
                <div class="montserrat color-primary" style="font-size: 12px;">
                  ✓ {{ 'file_uploaded' | translate }}
                </div>
              </div>
              <div class="position-relative">
                <label for="file-upload" class="custom-file-upload montserrat">
                  {{ trainingProof ? ('change_file' | translate) : ('upload_pdf' | translate) }}
                </label>
                <input id="file-upload" type="file" accept=".pdf" class="file-display-none" (change)="onFileSelected($event)" />
              </div>
      </div>

      <div class="padding-wrapper mt-32">
        <button (click)="updateLevel()" class="content-button btn-back-primary montserrat">
          {{ 'confirm_training' | translate }}
        </button>
      </div>
    </div>
  </ng-container>
  
</ion-content>

<app-file-upload *ngIf="showPhotoMonitor"
  title="{{ 'monitor_photo' | translate }}"
  [allowImage]="true" 
  [allowVideo]="false" 
  (fileSelected)="changeMonitorPhoto($event)"
  (close)="togglePhotoMonitor()">
</app-file-upload>