<ion-content>
  <div class="content-size content-background-image">
    
    <div class="background-color-dark padding-wrapper status-bar-overlap-wrapper">

      <div class="header-top mb-12">
        <img src="assets/icon/arrow-left.svg" class="header-top-side-img cursor-pointer" (click)="goTo('stations')" />
        <div class="header-top-title">
          Stations favorites
        </div>
      </div>

      <input type="text" placeholder="Chercher stations..." class="montserrat mt-12 header-input-search" />

    </div>

    <div class="padding-wrapper">

      <!--Column boxes-->
      <div class="list-box-selector-row">

        <div class="station-box" (click)="goTo('station')">
          <div class="station-box-img-wrapper">
            <img src="assets/images/test-station.jpg" class="station-box-img" />
            <div class="station-box-img-data">
              <img src="assets/icon/icon-sun.png" />
              <div class="montserrat">10º</div>
            </div>
            <img src="assets/icon/icon-heart-full.png" class="station-box-img-data-b" />
          </div>
          <div class="station-box-text">
            <div class="montserrat station-box-title">
              Les Paccots
            </div>
            <div class="montserrat color-light station-box-subtitle">
              Châtel-Saint-Denis
            </div>
          </div>
        </div>

        <div class="station-box" (click)="goTo('station')">
          <div class="station-box-img-wrapper">
            <img src="assets/icon/icon-no-image.png" class="station-box-img-none" />
            <div class="station-box-img-data">
              <img src="assets/icon/icon-sun.png" />
              <div class="montserrat">10º</div>
            </div>
            <img src="assets/icon/icon-heart-full.png" class="station-box-img-data-b" />
          </div>
          <div class="station-box-text">
            <div class="montserrat station-box-title">
              Les Paccots
            </div>
            <div class="montserrat color-light station-box-subtitle">
              Châtel-Saint-Denis
            </div>
          </div>
        </div>

        <div class="station-box" (click)="goTo('station')">
          <div class="station-box-img-wrapper">
            <img src="assets/images/test-station.jpg" class="station-box-img" />
            <div class="station-box-img-data">
              <img src="assets/icon/icon-sun.png" />
              <div class="montserrat">10º</div>
            </div>
            <img src="assets/icon/icon-heart-full.png" class="station-box-img-data-b" />
          </div>
          <div class="station-box-text">
            <div class="montserrat station-box-title">
              Les Paccots
            </div>
            <div class="montserrat color-light station-box-subtitle">
              Châtel-Saint-Denis
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
  
</ion-content>

<app-footer section="stations"></app-footer>
